/*
Theme Name: Under World
Theme URI: http://www.wpskins.org
Description: Under water header with a 2 column web 2.0 design.
Version: 1.0
Author: Free Wordpress Themes
Author URI: http://www.wpskins.org
Tags: web 2.0, clean, blue, yellow, purple, white
*/

/************************/
/*     Global Design    */
/************************/


body {
	font: 75%/150% "Trebuchet MS", Tahoma, Arial;
	color: #303839;
	background: #0093CA;
	margin: 0px;
	padding: 0px;
	background-image: url("images/back.png");
	background-repeat: repeat-x;
}

.toggler {
	color: #222;
	margin: 0;
	padding: 2px 5px;
	background: #eee;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-top: 1px solid #f5f5f5;
	border-left: 1px solid #f5f5f5;
	font-size: 11px;
	font-weight: normal;
	font-family: 'Andale Mono', sans-serif;
}
 
.element {
 
}
 
.element p {
	margin: 0;
	padding: 4px;
}
 
.float-right {
	padding:10px 20px;
	float:right;
}
 

a {
	color: #59c7db;
	text-decoration: none;
}
a:visited {
	color: #46b0c3;
	text-decoration: none;
}

a:hover {
	color: #46b0c3;
	border-bottom: 1px dashed #A3D5EC;
}
img {
	border: none;
}
p {
	padding: 0px 0px 15px;
	margin: 0px;
}
h1 {
	margin:0px;
	height: 60px;
	font: lighter 2.4em/1.2em Georgia,"Times New Roman",Times,serif;
	color: #FFFFFF;
}

.title a {
 	margin:0px;
	font: lighter 1.7em/1.2em verdana;
	color: #fff;
   text-transform: capitalize;
	
}

.title a:hover{
	margin:0px;
	font: lighter 1.7em/1.2em verdana;
	color: #78dff1;
}


.slogan {
color: #fff;
font-size: 12px;
}
h1 a, h1 a:visited{
	color: #FFFFFF;
	text-decoration: none;
}
h1 a:hover{
	color: #FFFFFF;
	text-decoration: none;
	border: none;
	background: none;
}
h2 {
	color: #00daff;
	margin: 0px 0px 2px;
	border-bottom: 1px dotted #00daff;
	width:100%;
	font: lighter 1.6em Trebuchet MS,Georgia,"Times New Roman",Times,serif;
	padding-bottom: 3px;
}
h2 a, h2 a:visited {
	color: #00a4ff;
	text-decoration: none;
}
h2 a:hover {
	color: #00daff;
	text-decoration: none;
}

h4 {
	font: normal 130%/100% "Trebuchet MS", Tahoma, Arial;
	color: #01acd4;
	margin: 10px 0px 5px;
}
form {
	margin:0px;
	padding:0px;
}
#wrapper {
	background: #FFFFFF url(images/content-background.png) repeat-y;
	margin-left:auto;
	margin-right: auto;
	width: 821px;
}
#page {
	margin: 0px auto;
	width: 797px;
}
/* header area */
#header {
	background-image: url(images/header.png);
	position: relative;
	color: #D16683;
	width: 821px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
#headerimg {
	position: relative;
	padding: 88px 0px 0px 215px;
	height: 60px;
	margin: 0px auto;
	width:760px;
}
#headerimg .description{
	color: #F6F5EE;
	font-size: 12px;
	float: right;
}
#navi {
   position: relative;
	padding: 91px 0px 0px 10px;
	height: 30px;
	width: 760px;
	margin-top: 0px;
	margin-left:15px;
	text-align: center;
	line-height: normal;
}
#nav {
	list-style: none;
	margin: 0 3px;
	padding: 0px;
	float: left;
}
#nav li {
	float: left;
	height: 30px;
	margin: 0 3px;
	white-space: nowrap;
}
#nav .page_item a{
	color: #fff;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0px 10px 0px 10px;
	font: bold 11px Arial, Helvetica, sans-serif;
	line-height: 30px;
}
#nav li:hover {
	border-bottom: 2px solid #8ffff3;
}
#nav .page_item a:hover {
	background-position: 0px -36px;
	border: none;
}

#nav li.current_page_item {
	color: #8ffff3;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid #8ffff3;
}
#nav .current_page_item a, #nav .current_page_item a:visited{
	color: #8ffff3;
	text-decoration: none;
	text-transform: uppercase;
}

/* content area */
#content {
	padding: 0px 0px 30px 13px;
	float: left;
	width: 561px;
	overflow: hidden;
	margin-left: 10px;
}
#content img {
	border: 1px solid #D3EAF3;
	padding: 5px;
}

.post {
	clear:both;
	padding-top: 15px;
}
.post-date {
	width: 45px;
	height: 49px;
   text-align: center;
	background: url(images/date-bg.gif) no-repeat;
}
.post-month {
	font-size: 11px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: center;
	display:block;
	line-height: 11px;
	padding-top: 2px;
	margin-left: -3px;
}
.post-day {
	font-size: 18px;
	text-transform: uppercase;
	color: #999999;
	text-align: center;
	display:block;
	line-height: 18px;
	padding-top: 7px;
	margin-left: -3px;
}
.entry {
}
.post-cat {
	background: url(images/mini-category.gif) no-repeat left center;
	padding-left: 20px;
	float:left;
}

.post-dates {
	background: url(images/mini-calendar.gif) no-repeat left center;
	padding-left:20px;
	margin-left:70px;
	float: left;
	font-size: 95%;
	color: #9ECEE4;
}

.post-comments {
	background: url(images/mini-comments.gif) no-repeat left bottom;
	padding-left: 20px;
	float: right;
}
.post-calendar {
	background: url(images/mini-calendar.gif) no-repeat left center;
	padding-left: 20px;
	float: right;
	font-size: 95%;
	color: #999999;
}
.post-content {
	clear: both;
	padding-top: 10px;
}
.post-info {
	padding: 10px;
	height: 15px;
	background: #e4f2f5;
	color: #a7c8cf;
	font: bold 12px "Trebuchet MS", "Tahoma", sans-serif;
	border: 0px solid #f7ecf4;
}
.post-info a {
	color: #a7c8cf;
	text-decoration: underline;
}
.post-info a:hover {
	color: #95cbd7;
	text-decoration: none;
	border-bottom: 1px dashed #95cbd7;
	background: none;
}
.post-content blockquote {
	background: #e9fbff;
	border-right: 1px solid #d6e7e3; 
	border-bottom: 1px solid #d6e7e3; 
	padding: 8px;
}
.navigation {
	clear: both;
	padding: 10px 0px;
}
.navigation a, .navigation a:visited {
	color: #59770e;
}
.previous-entries a {
	float: left;
	padding-left: 18px;
	background: url(images/mini-nav-left.gif) no-repeat left center;
}
.next-entries a {
	float: right;
	padding-right: 18px;
	background: url(images/mini-nav-right.gif) no-repeat right center;
}

/* comments area */
#comments, #respond {
	border-bottom: 1px dotted #012f22;
	padding: 10px 0 5px 0;
	clear: both;
}
.commentlist {
	margin: 10px 0px;
	padding-left: 20px;
	line-height: 130%;
}
.commentlist li{
	padding: 10px;
	padding-bottom: 0px;
}
.commentlist .alt {
	background: #e0f3ff;
	border: 1px dotted #e0f3ff;
}
.commentlist cite, .commentlist cite a, .commentlist cite a:visited {
	font-weight: bold;
	font-style: normal;
	font-size: 120%;
}
.commentlist small {
	margin-bottom: 5px;
	display: block;
	font-size: 87%;
}
#commentform {
	margin-top: 10px;
	font: 110% Arial, Helvetica, sans-serif;
}
#commentform p {
	padding: 6px 0px;
	margin: 0px;
}
#commentform label{
	color: #B8D1D5;
	font-size: 87%;
}
#commentform input{
	width: 200px;
	background:#d0fdff;
	border: 1px dotted #aaeaff;
	padding: 3px;
	margin-top: 3px;
}
#commentform textarea{
	width: 485px;
	height: 115px;
	background:#d0fdff;
	border: 1px solid #aaeaff;
	padding: 2px;
	margin-top: 3px;
	overflow:hidden;
}
#commentform textarea:focus, #commentform input[type="text"]:focus {
	background: #ffffff;
}
#commentform #submit{
	background: url(images/btn-bg.gif) no-repeat;
	border: 1px solid #00adff;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #0094a8;
	float:right;
	width: 144px;
	height: 28px;
	cursor: pointer;
}

/*sidebar */
#sidebar {
	float: right;
	padding: 14px 10px 20px 0px;
	width: 190px;
	color: #666666;
	overflow: hidden;
}
/*sidebar title (h2) */
#sidebar h2, #sidebar .sidebartitle{
	font: .7em trebuchet ms,Arial,Helvetica,FreeSans,clean,sans-serif;
	color: #fff;
	border-bottom: 1px solid #bafbff;
	margin-bottom: 5px;
	font-size: 14px;
}
/*sidebar text styles */
#sidebar a:hover{
	border: none;
}
#sidebar a, #sidebar a:visited{
	color: #6feeff;
	text-decoration: none;
}
#sidebar li a:hover{
	color: #eafdff;
	border-bottom: 1px solid #eafdff;
	text-decoration: none;
}
.widget {
	background: #07d1ec;
	padding: 5px 10px 10px 10px;
	margin-bottom: 10px;
	border: 0px solid #08a377;
}
/*sidebar list level1 */
#sidebar ul {
	margin: 0;
	padding: 0;
}
#sidebar ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
	border-bottom: 1px solid #d4f7ff;
}
/*sidebar list level2 */
#sidebar ul li ul {
	padding: 0;
	margin: 0;
}
#sidebar ul li ul li{
	padding: 2px 0 2px 0px;
	border-bottom: 1px solid #C1DDEF;
}
/*sidebar list level3 */
#sidebar ul li ul li ul li{
	padding: 1px 0 1px 10px;
	border: none;
}
/*blogroll */
ul.linkcat li, div.linkcat li{
	background: url(images/mini-blogroll.gif) no-repeat left center !important;
	padding-left: 20px !important;
}
/*category widget */
ul.list-cat li, div.widget_categories li{
	background: url(images/mini-category.gif) no-repeat left center !important;
	padding-left: 20px !important;
}
/*archives widget */
ul.list-archives div, li.widget_archives li{
	background: url(images/mini-monthly-archive.gif) no-repeat !important;
	padding-left: 20px !important;
}
/*pages widget */
ul.list-page li, div.widget_pages li, li.widget_recent_entries li{
	background: url(images/mini-page.gif) no-repeat left center !important;
	padding-left: 20px !important;
}
/*sub-pages */
ul.list-page li ul div, li.widget_pages li ul li{
	background: url(images/mini-page-arrow.gif) no-repeat !important;
	padding-left: 10px !important;
}
/*recent comments widget */
div.widget_recent_comments li{
	background: url(images/mini-recent-comments.gif) no-repeat !important;
	padding-left: 20px !important;
}
/*calendar widget */
div.widget_calendar td {
	padding: 1px 5px;
}
/*text widget */
.textwidget {
	padding-top: 5px;
}

/*search form */
#search {
	float: right;
	margin: -40px 15px 0px 0px;
	width: 185px;
	height: 31px;
	text-align: center;
	background-image: url(images/search-background.png);
	padding-left: 5px;
	padding-top: 4px;
}
#searchform {
	margin: 3px 0 0;
}
#searchform br {
	display: none;
}
#searchform #s {
	width: 130px;
	height: 17px;
	padding: 3px 5px 0px 5px;
	border: 1px solid #fff;
	background: #29d9ff;
	margin-right: 2px;
	color: #fff;
	font-weight: normal;
}
/* search form button - to specify button only use input[type="submit"] */
#searchform input {
	background: none;
	border: none;
	height: 16px;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #FFF;
	vertical-align: middle;
}

/* footer area */
#footerbg {
	clear: both;
	background: #FFFFFF url(images/content-background.png) repeat-y;
	padding-bottom: 20px;
	width: 821px;
	margin-left: auto;
	margin-right: auto;
}
#footer {
	width: 760px;
	margin: 0px auto;
	font-size: 95%;
	color: #303030;
	line-height: 130%;
}
#footer a, #footer a:visited {
	color: #00c6ff;
}
#footer h4 {
	font: normal 146%/100% "Trebuchet MS", Tahoma, Arial;
	color: #0C72A2;
	margin: 10px 0px 5px;
}
.footer-recent-comments {
	width: 240px;
	float: left;
	margin-left: 10px;
}
.footer-recent-comments ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.footer-recent-comments ul li {
	background: url(images/mini-footer-icon.gif) no-repeat 5px 4px;
	padding: 0px 1px 10px 20px;
}
.footer-recent-posts {
	width: 240px;
	float: left;
	margin-left: 10px;
}
.footer-recent-posts strong {
	font-size: 107%;
	line-height: 135%;
	font-weight: bold;
}
.footer-recent-posts ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 92%;
	line-height: 110%;
}
.footer-recent-posts ul li {
	background: url(images/mini-footer-icon.gif) no-repeat 5px 4px;
	padding: 0px 0px 10px 20px;
}
.footer-meta {
	width: 100%;
	float: left;
	margin-left: 20px;
}
.footer-meta strong {
	font-size: 107%;
	line-height: 135%;
	font-weight: bold;
}
.footer-meta ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 92%;
	line-height: 110%;
}
.footer-meta ul li {
	background: url(images/mini-footer-icon.gif) no-repeat 5px 4px;
	padding: 0px 0px 10px 20px;
	font-size: 107%;
	line-height: 135%;
	font-weight: bold;
	display: inline;
}
/* credits */
#credits {
	margin: 0px auto;
	width: 720px;
	color: #303030;
	font-size:1.0em;
	margin-left: 50px;
}
#credits a, #credit a:visited {
	color: #01271c;
}
.footer-meta ul li.rss {
	background: url(images/mini-rss.gif) no-repeat left 2px;
	padding: 0px 0px 10px 20px;
}
.loginout {
	background: url(images/mini-loginout.gif) no-repeat left center;
	padding-left: 18px;
	padding-bottom: 2px;
	margin-left: 8px;
}

/* alignments */
.center {
	text-align: center;
}
img.center, img[align="center"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alignleft {
	float: left;
}
img.alignleft, img[align="left"] {
	float:left;
	margin: 2px 10px 5px 0px;
}
.alignright {
	float: right;
}
img.alignright, img[align="right"] {
	float:right;
	margin: 2px 0px 5px 10px;
}
.clear {
	clear:both;
}
hr.clear {
	clear:both;
	visibility: hidden;
	margin: 0px;
	padding: 0px;
}

.MainSyn {float: right; margin: -35px 15px 0px 0px;}
.MainSyn ul { padding: 0px; margin: 0px;}
.MainSyn li { padding: 0px; margin: 0px 0px 0px 10px; list-style-type: none; display: inline; float: left;}

.MainSyn a { padding: 0px 0px 0px 19px; background: url(./images/PostComLeft.png) no-repeat left top; float: left; text-decoration: none; color: #DCE7F2;font-size:0.92em;font-family:tahoma,arial,verdana,sans-serif; text-transform: none; font-weight: bold;}
.MainSyn a span { padding: 4px 4px 5px 6px; display: block; background: url(./images/PostComRight.png) no-repeat right top; float: left; }
.MainSyn a span { float: none;}
.MainSyn a:hover span {}
.MainSyn a:hover { background-position: 0% -27px; text-decoration: none; color: #89B0D1;}
.MainSyn a:hover span { background-position: 100% -27px; color:#8CB1D1; }
