@charset "UTF-8";

 @font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?87209151');
  src: url('../font/fontello.eot?87209151#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?87209151') format('woff'),
       url('../font/fontello.ttf?87209151') format('truetype'),
       url('../font/fontello.svg?87209151#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?87209151#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-youtube:before { content: '\55'; } /* 'U' */
.icon-star:before { content: '\2605'; } /* '★' */
.icon-heart:before { content: '\2665'; } /* '♥' */
.icon-mail:before { content: '\2709'; } /* '✉' */
.icon-cancel:before { content: '\2715'; } /* '✕' */
.icon-plus-circled:before { content: '\2795'; } /* '➕' */
.icon-list-add:before { content: '\e003'; } /* '' */
.icon-video-1:before { content: '\e012'; } /* '' */
.icon-user:before { content: '\e013'; } /* '' */
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-export:before { content: '\e715'; } /* '' */
.icon-comment:before { content: '\e718'; } /* '' */
.icon-location:before { content: '\e724'; } /* '' */
.icon-docs:before { content: '\e736'; } /* '' */
.icon-rss:before { content: '\e73a'; } /* '' */
.icon-left-open:before { content: '\e75d'; } /* '' */
.icon-right-open:before { content: '\e75e'; } /* '' */
.icon-user-male:before { content: '\f062'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
.icon-linkedin:before { content: '\f318'; } /* '' */
.icon-dribbble:before { content: '\f31b'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
.icon-skype-circled:before { content: '\f33a'; } /* '' */
.icon-behance:before { content: '\f34e'; } /* '' */
.icon-vkontakte:before { content: '\f354'; } /* '' */
.icon-picture:before { content: '🌄'; } /* '\1f304' */
.icon-picture-1:before { content: '\e801'; } /* '' */
.icon-videocam:before { content: '🎥'; } /* '\1f3a5' */
.icon-video:before { content: '🎬'; } /* '\1f3ac' */
.icon-user-1:before { content: '👤'; } /* '\1f464' */
.icon-calendar:before { content: '📅'; } /* '\1f4c5' */
.icon-phone:before { content: '📞'; } /* '\1f4de' */
.icon-search-1:before { content: '\e800'; } /* '' */