<?php
/**
* $this->renderCategoriesMenuHtml() supports optional arguments:
* bool Add openers if menu is used as accordion
* int Level number for list item class to start from
* string Extra class of outermost list items
* string If specified wraps children list in div with this class
*/
?>
<?php
$base_url = Mage::getBaseUrl();
$helper = Mage::helper('ultramegamenu');
?>
<?php if($helper->getCfg('general/enable')): ?>

<?php
$mode = $helper->getCfg('general/mode');
// -1   = mobile menu only
// 0    = both
// 1    = drop-down menu only
        
$categories = $helper->getCfg('general/categories');
$linksHtml = $this->getLayout()->createBlock('cms/block')->setBlockId('block_nav_links')->toHtml();// $this->getChildHtml('block_nav_links');
        
$menuCss = array();
if($helper->getCfg('mainmenu/classic_menu')){
	$menuCss[] = 'classic';
}
if($helper->getCfg('mainmenu/wide_menu')){
	$menuCss[] = 'wide';
}
?>



<?php //Mobile main menu %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% ?>

<?php if(($mode <= 0) && ($categories || $linksHtml)): //Mode: mobile or both ?>

<div id="mobnav" class="grid-full">
	<a id="mobnav-trigger" href="javascript:void(0)" class="border-right">
		<span class="trigger-icon"><span class="line"></span><span class="line"></span><span class="line"></span></span>
		<span><?php echo $this->__('Menu'); ?></span>
	</a>
            
	<a id="openphonediv" class="cust-width search border-right"><i class="fa fa-phone"></i></a>
    

	<a id="opencartdiv" class="cust-width search border-right"><i class="fa fa-shopping-cart"></i></a>
 

	<a id="opensearchdiv" class="cust-width search border-right"><i class="fa fa-search"></i></a>
    	
	<?php
	$storeCode = Mage::app()->getStore()->getCode();
	if($storeCode =='default'){
		$image_url = $base_url.'skin/frontend/ultimo/mozaik/images/flags/us-flag.png';
	}
	else{
		$image_url = $base_url.'skin/frontend/ultimo/mozaik/images/flags/canada.png';
	}
	?>
		
	<a id="openlangugediv" class="cust-width flag"><span class="label dropdown-icon"><img src="<?php echo $image_url; ?>">&nbsp;</span></a>
	<input  type="hidden" id="store_code" value="<?php echo $storeCode = Mage::app()->getStore()->getCode(); ?>"/>
	

</div>


<?php $cartItemsCount = Mage::helper('checkout/cart')->getCart()->getItemsCount(); ?>
<ul class="accordion vertnav vertnav-top grid-full">
        
	<?php //Categories ?>
	<?php if($categories): ?>
	<?php echo $this->renderCategoriesMenuHtml(TRUE, 0, 'level-top'); ?>
	<?php endif; ?>
            
	<?php //Custom links ?>
	<?php echo $linksHtml; 
	//echo $this->getLayout()->getBlock('top.links')->toHtml();?>
	<li class="first">
		<a href="<?php echo $base_url; ?>blog">Blog</a>
	</li>

	<li>
		<a href="<?php echo $base_url; ?>gallery">Gallery</a>
	</li>
	<li>
		<a href="<?php echo $base_url; ?>about-us">About</a>
	</li>
	<li>
		<a href="<?php echo $base_url; ?>customer-reviews">Reviews</a>
	</li>
	<li class="last">
		<a href="<?php echo $base_url; ?>contacts"><i class="fa fa-envelope"></i> Contact</a>
	</li>
		
	<li>
		<a href="<?php echo $base_url; ?>checkout/cart"><i class="fa fa-shopping-cart"></i> Shopping Cart(<?php echo $cartItemsCount; ?>)</a>
	</li>
	<li class="last">

		<a href="<?php echo $base_url; ?>customer/account"><i class="fa fa-user"></i> My Account</a>
	</li>
	<li>
		<a href="<?php echo $base_url; ?>my-rewards"><i class="fa fa-star"></i> My Rewards</a>
	</li>
		
	
</ul>

<?php endif; ?>



<?php //Drop-down main menu %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% ?>

<?php if($mode >= 0): //Mode: drop-down or both ?>

<ul id="nav" class="grid-full<?php if($menuCss) echo " " . implode(" ", $menuCss); ?>">
        
	<?php //Single home link icon ?>
	<?php if($helper->getCfg('mainmenu/home_link_icon')): ?>
	<?php
	//Home link icon suffix
	$suffix = $helper->getSingleHomelinkIconSuffix();
	?>
	<li id="homelink-icon" class="level0 level-top">
		<a class="level-top feature feature-icon-hover" href="<?php echo $this->getBaseUrl(); ?>"><span class="icon i-home<?php echo $suffix; ?> force-no-bg-color"></span></a>
	</li>
	<?php endif; ?>

	<?php //Home link displayed inside menu item ?>
	<?php if($helper->getCfg('mainmenu/home') || $helper->getCfg('mainmenu/home_img')): ?>
	<?php
	$homeLinkWrapperClass = '';
	$homeLinkClass = '';
	$homeLinkText = '';
	$homeLinkImg = '';
                    
	//If home link with image
	if($helper->getCfg('mainmenu/home_img')){
		//Home link icon suffix
		$suffix = $helper->getHomeIconSuffix();
                    
		$homeLinkWrapperClass = 'nav-home-img';
		$homeLinkClass = 'feature feature-icon-hover';
		$homeLinkImg = '<span class="icon i-home' . $suffix . '"></span>';
	}
                    
	//If home link with text
	if($helper->getCfg('mainmenu/home')){
		$homeLinkText = '<span>' . $this->__('Home') . '</span>';
	}
	?>
	<li id="nav-home" class="<?php echo $homeLinkWrapperClass; ?> level0 level-top">
		<a class="level-top feature feature-icon-hover" href="<?php echo $this->getBaseUrl(); ?>"><?php echo $homeLinkImg, $homeLinkText; ?></a>
	</li>
	<?php endif; ?>
            
	<?php //Categories ?>
	<?php if($categories): ?>
	<?php echo $this->renderCategoriesMenuHtml(FALSE, 0, 'level-top'); ?>
	<?php endif; ?>
        
	<?php //Static block as a drop-down box ?>
	<?php echo $linksHtml; ?>
	<?php if($tmpHtml = $this->getChildHtml('block_header_nav_dropdown')): ?>
	<li class="nav-custom-link level0 level-top parent<?php if($helper->getCfg('mainmenu/custom_block_floating')) echo 'last'; ?>">
		<?php // Get the block title, and display it as tab title
		$blockTitle = Mage::getModel('cms/block')
		->setStoreId(Mage::app()->getStore()->getId())
		->load('block_header_nav_dropdown')
		->getTitle();
		?>
		<a class="level-top" href="<?php echo $base_url; ?>blog" style="<?php if(strpos($_SERVER["REQUEST_URI"],'blog') !== false ) echo 'background-color:#00d7cb;';?>"><span><?php echo $blockTitle; ?></span><span class="caret">&nbsp;</span></a>
		<div class="level0-wrapper">
			<div class="header-nav-dropdown-wrapper clearer"><?php echo $tmpHtml; ?></div>
		</div>
	</li>
	<?php endif; ?>
            
	<?php //Custom links ?>
	
            
</ul>

<?php endif; ?>



<?php //Activate mobile menu %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% ?>

<?php if($mode <= 0): //Mode: mobile or both ?>

<script type="text/javascript">
	//<![CDATA[

	<?php if ($mode == 0): //Mode: both ?>
        
	<?php $threshold = intval($helper->getCfg('mobilemenu/threshold')); ?>
	var activateMobileMenu = function()
	{
		if (jQuery(window).width() < <?php echo $threshold; ?>)
		{
			jQuery('#mobnav').show();
			jQuery('.vertnav-top').addClass('mobile');
			jQuery('#nav').addClass('mobile');
		}
		else
		{
			jQuery('#nav').removeClass('mobile');
			jQuery('.vertnav-top').removeClass('mobile');
			jQuery('#mobnav').hide();
		}
	}
	activateMobileMenu();
	jQuery(window).resize(activateMobileMenu);
        
	<?php else: //Mode: mobile ($mode > 0) ?>
        
	jQuery('#mobnav').show();
	jQuery('.vertnav-top').addClass('mobile');
        
	<?php endif; ?>

	
	 
	//]]>
</script>

<?php endif; ?>



<?php //Drop-down scripts %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% ?>

<?php if($mode >= 0): //Mode: drop-down or both ?>

<script type="text/javascript">
	//<![CDATA[

	<?php if ($helper->getCfg('mainmenu/wide_menu')): //Only for wide menu style ?>
	jQuery(function($) {
			$("#nav > li").hover(function() {
					var el = $(this).find(".level0-wrapper");
					el.hide();
					el.css("left", "0");
					el.stop(true, true).delay(150).fadeIn(300, "easeOutCubic");
				}, function() {
					$(this).find(".level0-wrapper").stop(true, true).delay(300).fadeOut(300, "easeInCubic");
				});
		});
	<?php endif; ?>

	var isTouchDevice = ('ontouchstart' in window) || (navigator.msMaxTouchPoints > 0);
	jQuery(window).on("load", function() {

			if (isTouchDevice)
			{
				jQuery('#nav a.level-top').click(function(e) {
						$t = jQuery(this);
						$parent = $t.parent();
						if ($parent.hasClass('parent'))
						{
							if ( !$t.hasClass('menu-ready'))
							{                    
								jQuery('#nav a.level-top').removeClass('menu-ready');
								$t.addClass('menu-ready');
								return false;
							}
							else
							{
								$t.removeClass('menu-ready');
							}
						}
					});
			}

		}); //end: on load

	//]]>
	jQuery(document).ready(function(){
			jQuery("#opensearchdiv").click(function(){
					jQuery("#hideshowcart").hide();
					jQuery("#hideshowphone").hide();
					jQuery("#hideshowswitcherus").hide();
					jQuery("#hideshowswitchercn").hide();
					jQuery(".vertnav-top").hide();
					jQuery("#hideshowsearch").toggle();
					jQuery("#hideshowsearch").addClass("active");
					jQuery(".accordion.mobile").removeClass("show");
				});
		});
	jQuery(document).ready(function(){
			jQuery("#opencartdiv").click(function(){
					jQuery("#hideshowsearch").hide();
					jQuery("#hideshowphone").hide();
					jQuery("#hideshowswitcherus").hide();
					jQuery("#hideshowswitchercn").hide();
					jQuery(".vertnav-top").hide();
					jQuery("#hideshowcart").toggle();
					jQuery("#hideshowcart").addClass("active");
					jQuery(".accordion.mobile").removeClass("show");
				});
		});
	jQuery(document).ready(function(){
			jQuery("#openphonediv").click(function(){
					jQuery("#hideshowsearch").hide();
					jQuery("#hideshowcart").hide();
					jQuery("#hideshowswitcherus").hide();
					jQuery("#hideshowswitchercn").hide();
					jQuery(".vertnav-top").hide();
					jQuery("#hideshowphone").addClass('active');
					jQuery("#hideshowphone").toggle();
					jQuery(".accordion.mobile").removeClass("show");
					
					
				});
		});
	jQuery(document).ready(function(){
			jQuery("#mobnav-trigger").click(function(){
					jQuery("#hideshowsearch").hide();
					jQuery("#hideshowcart").hide();
					jQuery("#hideshowswitcherus").hide();
					jQuery("#hideshowswitchercn").hide();
					jQuery("#hideshowphone").hide();

					jQuery(".vertnav-top.mobile").toggleClass('show');
					/*jQuery(".vertnav-top").toggle();*/

					
				});
		});
	jQuery(document).ready(function(){
			jQuery("#openlangugediv").click(function(){
					jQuery("#hideshowsearch").hide();
					jQuery("#hideshowcart").hide();
					jQuery("#hideshowphone").hide();
					jQuery(".vertnav-top").hide();
					jQuery(".accordion.mobile").removeClass("show");
					var store_code = jQuery("#store_code").val();
					if(store_code =='default')
					{
						jQuery("#hideshowswitcherus").toggle();
					}
					else
					{
						jQuery("#hideshowswitchercn").toggle();
					}
					
				});
		});
		
		
		jQuery(document).ready(function(){
			jQuery("#mobnav a").hover(function(){
					jQuery("#mobnav").toggleClass('bor-bottom');
					//jQuery(".nav.container.clearer.stretched.show-bg").toggleClass('bor-bottom');
					
					
				});
		});
		
    		
	jQuery(window).scroll(function() {    
        var scroll = jQuery(window).scrollTop();
        if ( jQuery(window).width() < 769) {    
    		var div = jQuery('.mobile-promoheader').css('display');
         	if(div == 'block'){
			 	if (scroll >= 170) {
	              	jQuery(".nav-container").addClass("stcks");
	        	} if(scroll < 158){
	              	jQuery(".nav-container").removeClass("stcks");
	          	}
			}else{
				if (scroll >= 152) {
	              	jQuery(".nav-container").addClass("stcks");
	        	} if(scroll < 147){
	              	jQuery(".nav-container").removeClass("stcks");
	          	}
			}
         	
        }
    });
		
</script>

<?php endif; ?>

<?php endif; //end: if 'general/enable' ?>
