/*  
Theme Name: Under Water
Theme URI: http://www.templatepanic.com/article/under-water-wordpress-theme
Description: A Wordpress theme. Three column layout, bottom menu, widget ready, and image gravatar ready.
Author: Catalyst 13
Author URI: http://www.catalyst13.com/

Terms of Use:

YOU ARE NOTE ALLOWED TO DELETE THE CREDITS! This theme is released for free under the GNU General Public License 2.5 (GPL), requiring that the credits will stay intact. Thank you for using my WordPress Theme.

- DO NOT REMOVE any of the links in the footer!
- You are free to share, to copy, distribute and transmit this theme.
- This theme is distributed for free. You are not allowed to sell this theme.
Thanks for using this theme.
*/


/* -------------------- GENERAL -------------------- */


body { font-family: Verdana, Tahoma, Arial, Helvetica; font-size: 13px; background: #0b224b url(images/bg.jpg) repeat-y top center; margin: 0; padding: 0; color: #f1f1f1; }

#box { width: 940px; margin: 0 auto; padding: 0px; }

#top { width: 940px; background: url(images/header.jpg) no-repeat; height: 289px; margin: 0; padding: 0; }

a, a:link { text-decoration: none; color: #fbe800; }
a:hover { text-decoration: underline; color: #fbe800; }

hr { border: none; border-top: 1px solid #ccc; }


/* -------------------- HEADER -------------------- */


#header { float: left; width: 880px; margin: 120px 0 0 10px; padding: 0; }
#header h1 { font-family: "Trebuchet MS", Arial, Verdana, Helvetica; text-transform: uppercase; margin: 0; padding: 0; color: #f2f2f2; font-size: 32px; font-weight: normal; }
#header h1 a, #header h1 a:link { color: #f2f2f2; }
#header h1 a:hover { color: #f9f9f9; text-decoration: none; }
#description { color: #f9f9f9; width: 880px; font-size: 12px; padding: 0 0 0 10px; }


/* -------------------- SEARCH -------------------- */


#searchform { height: 25px; line-height: 28px; float: right; padding: 6px 18px 0 0; margin: 0; }
#searchform #s { font-size: 8pt; width: 160px; }
#searchform #submit { font-size: 8pt; }

input#s { font-family: Verdana, Arial; text-align: left; border: 1px solid #ccc; background: #fff; }


/* -------------------- NAV -------------------- */


#navbox { background: url(images/nav.jpg) repeat-x top center; height: 28px; margin: 0px auto; }

#nav { width: 510px; height: 28px; line-height: 28px; float: left; padding: 0; }

ul.nav { height: 28px; line-height: 28px; float: left; list-style: none; font-size: 12px; font-weight: bold; text-transform: uppercase; margin: 0; padding: 0; }

ul.nav li { float: left !important; list-style-type: none; margin: 0; padding: 0; }
ul.nav li ul { float: left; margin: 0; padding: 0; }

ul.nav li a, ul.nav li a:link, ul.nav li a:visited { border-left: 0; color: #ccc; float: left; display: block; text-decoration: none; padding: 0 10px 0 10px; height: 28px; }
ul.nav li a:hover, ul.nav li a:active { background: url(images/nav-hover.jpg) repeat-x; color: #fff; text-decoration: none; height: 28px; }

ul.nav li.current_page_item a { text-decoration: none; height: 28px; background: url(images/nav-hover.jpg) repeat-x; color: #f2f2f2; }


/* -------------------- POST -------------------- */


.post { width: 520px; float: left; margin: 5px auto; padding: 10px; }
.post img { border: none; padding: 5px; }

h2 { font-size: 22px; font-weight: normal; padding: 0px; margin: 0px; }

#content { width: 545px; float: left; margin: 5px auto; padding: 0; }

.notes { padding: 25px; }

.posthead { position: relative; clear: left; padding-bottom: 10px; }
.posthead h2 { font-size: 22px; font-weight: normal; padding: 0px 0px 0px 50px; margin: 0px; }
.posthead h2 a { color: #f7941d; }

.postauthor { padding: 0px 0px 0 50px; margin: 0px; font-size: 10px; color:#666; }
.postdate { margin: 0px; position: absolute; top: 0px; left: 0px; text-align: center; padding: 0px 10px 6px 10px; }
.postdate small { font-size: 9px; color:#666; }
.postdate .month { display:block; text-transform: uppercase; font-size: 9px;}
.postdate .day { display:block; font-size: 22px; letter-spacing: -1px; font-weight: normal; color:#777;}
.postdate .year { display:block;}

.navigation { width: 510px; float: left; color: #666; padding: 5px 6px 10px; }

.relatedposts { width: 520px; float: left; color: #ccc; margin: 5px auto; padding: 0 5px 5px 5px; font-size: 12px; }

h1, h2, h3 { padding: 0 10px 0 0; font-family: "Trebuchet MS", Arial, Verdana, Helvetica; text-transform: uppercase; }

img.wp-smiley { border: 0; padding: 0; }


/* -------------------- SIDEBAR -------------------- */


#sidebar { width: 380px; float: right; margin-top: 5px; padding: 0; }

#sidebar img, .lsidebar img { border: none; }

.alignright { float: right; margin-top: 10px; }
.alignleft { float: left; margin-top: 10px; }

.rsidebar { width: 165px; float: right; margin: 0 auto; padding: 0 10px 5px; }
.rsidebar, .lsidebar img { border: none; }

.lsidebar { width: 165px; float: left; margin: 0 auto; padding: 0 10px 5px; }

.lsidebar h2, .rsidebar h2 { font-size: 14px; margin: 0 0 10px; padding: 5px 0 0 5px; height: 25px; width: 165px; color: #f2f2f2; }

.rsidebar ul, .lsidebar ul { list-style-type: none; margin: 0; padding: 0; }
.rsidebar ul li, .lsidebar ul li { list-style-type: none; margin: 0 0 25px; padding: 0; }
.rsidebar ul li ul, .lsidebar ul li ul { list-style-type: square; margin: 0; padding: 0 0 0 5px; }
.rsidebar ul li ul li, .lsidebar ul li ul li { list-style-type: circle; margin: 0 0 0 10px; padding: 0 0 0 5px; }
.rsidebar p, .lsidebar p { padding: 0 5px; }


/* -------------------- FOOTER -------------------- */


#footer { width: 940px; background: url(images/footer.jpg) no-repeat bottom center; height: 176px; clear: both; color: #897f7d; font-size: 12px; margin: 0; text-align: right; }

#footer p { padding: 120px 10px 0 0; }


/*-------------------- Comment --------------------*/


.commentsbox { width: 520px; float: left; margin: 5px auto; }

.commentsbox p { margin: 0; padding: 0; }
.commentsbox img { border: 1px solid #666; margin: 3px; }

#commentlist ol { margin: 0; padding: 0; }
#commentlist li { list-style-position: outside; list-style-type: decimal; padding: 10px; }
.alt { background-image: none !important; }
#commentlist li:hover { }

.comment-title { margin: 0 0 0 0px; font-size: 10px; color: #ccc; }

.comment-text { }

h2.postcomment { margin: 0; font-size: 20px; font-weight: normal; }

.postcomment { clear: both; margin: 20px 0 0 0; padding: 20px; }

.postcomment input, .postcomment textarea { border: 1px dotted #aaa; }
.postcomment input:hover, .postcomment textarea:hover { border: 1px dotted #aaa; background: #fff; }
.postcomment input#author, .postcomment input#email, .postcomment input#url { width: 100% !important; width: 456px; /* IE hack */ height: 18px; }

.postcomment textarea#comment { width: 100% !important; /* IE hack */ height: 200px; }

.postcomment input#submit { width: auto; height: 25px; padding: 2px 10px 3px 10px; }
.postcomment input#submit:hover { }	


/*-------------------- Bottom --------------------*/


#bottom { clear: both; float: left; width: 940px; height: 100%; margin: 0 0 0 0; padding: 0; background: url(images/bot.jpg) top center; text-align: left; font-size: 12px; }
#bottom-divs { float: left; clear: both; margin: 0; padding: 20px; }

#bottom-left { width: 30%; padding: 20px 0 20px 30px; float: left; }
#bottom-mid, #bottom-right { width: 30%; padding: 20px 0 20px 20px; float: left; }

#bottom h2 { margin: 0 0 10px 0; padding: 0 8px; font-size: 14px; font-weight: bold; }

#bottom h3 { margin: 0; padding: 10px 10px; font-size: 12px; color: #999; text-align: center; }
#bottom h3:hover { color: #f2f2f2; }

#bottom ul { margin: 0; padding: 0; list-style-type: none; border-top: 1px solid #999; }
#bottom ul li { line-height: 20px; border-bottom: 1px solid #999; }
#bottom ul li a { display: block; padding: 0 10px; }

#bottom-sep { clear: both; }