div#confirmBox{
	background: #efefef;}

.clear-floats{ 
	clear: both;}

#nav > li > a, #mobnav-trigger{
	text-transform: none; 
	line-height: 42px;}

#mobnav-trigger .trigger-icon{
	padding-top: 15px; 
	margin-right: 12px;}

.header-top-container{
	background-color: #FAFAFA; /*border-bottom: 1px solid #ACACAC;*/ 
	height: 24px; 
	color: #777;}
.header-top, .header .dropdown{
	line-height: 2em;}
.links > li, .links > li > a{
	line-height: 2em;}
.icon.i-telephone{
	vertical-align: top; 
	position: relative; 
	top: -6px;}

.header-container .grid-full .user-menu{
	background-image: url("//www.housingcamera.com/media/wysiwyg/free-shipping.png"); 
	background-position: 11% 15%; 
	background-size: 50%; 
	background-repeat: no-repeat;}
.header-container .submenu{
	padding-left: 18px;}
.submenu a span{
	font-weight: bold; 
	color: white; 
	background: #48B5C8; 
	padding: 5px 11px; 
	margin-right: 2px; 
	border-bottom: 2px solid rgb(235, 235, 235); 
	border-radius: 5px; 
	text-transform: uppercase;}
.submenu a span:hover{
	background: #00d7cb;}
.top-header-promo{
	display: none;}

.header .item-left{
	margin-right: 0;}
.header .item-right{
	margin-left: 0;}

.ship_from{
	font-size: 0.9em; 
	line-height: 1.2em; 
	display: inline-block; 
	margin-right: 20px;}
.ship_from  a{
	color: black;}

.nav-container #nav > li{
	border-right: 1px solid #666;}

h1{
	font-size: 1.75em;}
h2{
	font-size: 1.2em;}
h3{
	font-size: 1em; 
	font-weight: bold;}

#root-wrapper .wrapper{
	border: 0;}

.col_left{
	float: left; 
	width: 49%;}
.col_right{
	float: right; 
	width: 49%;}

.col_right .form-list .field{
	width: 100%;}
.col_right .form-list select{
	width: 100%;}
.col_right textarea{
	width: 100%;}
.col_right .form-list input.input-text{
	width: 100%;}
.payment img{
	height: 30px; 
	margin-left: 8px;}

body.cms-index-index .main, body.cms-index-defaultindex .main{
	padding-bottom: 0;}

.dropdown-toggle .hide-below-768{
	display: none!important;}

/* Search in Header */
.header-container .form-search .input-text{
	border-radius: 10px; 
	padding: 20px 10px 20px 10px; 
	font-weight: bold; 
	border: 5px solid #EBEBEB; 
	float: none;}
.header-container .form-search .input-text:hover{
	border: 5px solid #48b5ff;}
.header-container .form-search .button{
	right: 5px; 
	top: 7px;}
.header-container .search-wrapper{/* width: 50%; padding-left: 30px;*/}



/* Main Menu */
#nav.classic ul.level0, #nav .level0-wrapper{
	top: 47px;}
#nav .level0-wrapper2{
	padding: 0;}
.nav-block-center{
	margin-top: 52px; 
	margin-bottom: 40px;}
#nav .shown-sub ul.shown-sub{
	left: 0; 
	padding: 0; 
	box-shadow: none; 
	position: relative;}
#nav ul li.parent > a{
	font-weight: bold; 
	text-transform: uppercase; 
	color: #48b5ff;}
#nav ul li.parent > a:hover{
	color: #00d7cb;}
ul.level1,ul.level2{
	left: 0!important; 
	position: relative!important; 
	opacity: 1!important; 
	box-shadow: none!important; 
	padding: 0!important;}
#nav ul li.parent > a{
	background: none;}
.nav-block-bottom{
	border-top: 1px solid #ddd; 
	margin: 0; 
	padding: 0; 
	width: 100%;}
#nav .level0-wrapper2 .nav-block-right{
	margin: 0!important; 
	padding: 0!important; 
	float: right; 
	border-left: 1px solid #ddd;}
#nav .level0-wrapper2 .nav-block-right img#one{
	position: absolute; 
	top: 0; 
	right: 0; 
	height: 77%;}
#nav .nav-custom-link .header-nav-dropdown-wrapper{ 
	padding: 0;}
#nav .nav-img{ 
	margin: 0;}
.itemgrid-6col .item{
	width: 17.5%}


.menu_brands{
	padding: 0px 10px 0 50px;}
.menu_brands img{
	display: inline; 
	margin-right: 2.4%; 
	width: 82px; 
	padding: 10px 0 10px 0;}
.menu_brands a img:hover{
	opacity: 0.8;}
.menu_brands a{
	display: inline!important;}

/* Homepage Categories */
.cat_row{
	height: 152px;}
.cat_cell{
	width: 48%; 
	float: left; 
	padding: 0 1% 0 1%;}
.cat_img{
	width: 50%; 
	float: left;}
.cat_img img{
	margin-right: 10px; 
	border: none; 
	transition: all 0.2s ease;}
.cat_img img:hover{
	-webkit-filter: opacity(0.9);}
.cat_text{
	width: 48%; 
	float: right; 
	padding-left: 2%;}
.cat_ttl{
	color: #666; 
	font-size: 15px; 
	font-weight: bold; 
	text-align: left; 
	text-decoration: none;}
.cat_links{
	width: 48%; 
	float: right; 
	padding-left: 2%;}
.cat_links a{
	background: url('//www.housingcamera.com/v/vspfiles/assets/images/smallarrow.gif'); 
	background-repeat: no-repeat; 
	padding-left: 10px; 
	background-position-y: 4px;}

/* Product Page */
.product-view .btn-cart span span{
	padding: 0 80px 0  80px;}
.add-to-box button.button span span{
	height: 36px; 
	line-height: 36px;}
.feature-wrapper.top-border{
	border-top: 0; 
	margin-top: 20px; 
	padding-top: 0;}

.product-view .box-additional{
	margin-top: 10px;}
.feature-wrapper.top-border a .icon:hover{
	background-color: #00d7cb;}
.addthis_sharing_toolbox .at-share-btn{
	float: right;}

/* Product Finder */
.product_finder_wrapper{
	height: 160px; 
	width: 99%;  
	padding-left: 3%; 
	color: white; 
	background: url('../images/finder1.jpg') top left no-repeat;}
.product_finder{
	text-align: left; 
	float: left; 
	margin-top: 13px; 
	margin-bottom: 20px; 
	height: 110px; 
	width: 300px;}
.finder-box{
	width: 300px; 
	float: left;}
.product_finder select{
	padding: 6px; 
	border: 1px solid #cccccc; 
	width: 270px; 
	height: 31px; 
	margin-bottom: 7px;}
.product_finder select:hover{
	border: 1px solid white; 
	color: black;}
.product_finder .finder_ttl{
	color: #f8c503; 
	font-size: 2em; 
	font-weight: bold; 
	text-shadow: 1px 1px black; 
	text-transform: uppercase; 
	margin-bottom: 8px;}
.finder_contact{
	color: white; 
	font-style: italic; 
	font-weight: bold; 
	text-transform: uppercase; 
	background: #48b5ff; 
	padding: 5px; 
	border-radius: 4px; 
	margin-left: 5px;}
.finder_contact:hover{
	background: #00d7cb; 
	color: white!important;}

.product_finder_promo {
	margin-bottom: 20px;
	padding: 5px 0;
	text-align: center;
	background-color: #CA7B63;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 16px;
	padding-left: 3%;
	width: 99%;
}

.product_finder_promo a{
	text-decoration: underline;
	color: #ffffff;
  
}
/* Homepage Blog Posts */
div.education{
	background-color: #48b5ff; 
	width: 100%; 
	padding: 10px 0px 10px 0px; 
	color: white; 
	font-weight: bold; 
	font-size: 1.3em; 
	border-bottom: 4px solid #ebebeb;}
div.education:hover{
	background-color: #00d7cb;}
div.education span{
	font-size: 12px;}

.blog_post_home {
	text-align: center;}
.post_ttl{
	font-size: 1em; 
	font-weight: bold;}
.blog_post_home a{
	color: black;}
.blog_post_home a:hover{
	color: #48b5ff;}
.blog_post img{
	transition: all 0.2s ease;}
.blog_post img:hover{
	opacity: .9;}
.blog_block_ttl{
	font-size: 1.2em; 
	font-weight: bold;}
.hashtags a{
	font-style: italic; 
	font-size: 12px;}
.hashtags a:hover{
	cursor: pointer; 
	color: #48b5ff;}
.blog_post{
	float: left; 
	margin-bottom: 10px;}
#four.blog_post{
	display: none;}

/* About Page */
.lang_bar{
	float: right; 
	width: 34%; 
	padding: 1%; 
	background-color: #f8f8f8; 
	margin-left: 25px;}
.std .flag{
	border: 1px solid #888; 
	margin-right: 4px;}
.std  .flag:hover{
	border: 1px solid white;}
.myButton{
	background-color: #2995E9; 
	color: white; 
	padding: 10px; 
	border-radius: 5px; 
	text-decoration: none; 
	font-weight: bold;}
.myButton:hover{
	background-color: #48B5FF; 
	color: white;}

/* Reviews Page */
.black_box{
	background-color: #E9E9E9; 
	padding: 15px; 
	border-radius: 5px; 
	width: 20%; 
	height: 200px; 
	float: left; 
	margin: 5px; 
	overflow: auto;}
.form_box{
	background-color: #E1E1E1; 
	padding: 15px; 
	border-radius: 5px; 
	width: 44%; 
	height: 440px; 
	float: left; 
	margin: 5px;}
.form_box textarea{
	width: 100%;}
.form_box input{
	width: 70%; 
	padding: 5px;}
.form_box select{
	width: 76%;}

/* Category Pages */

.cam_cat{
	width: 200px; 
	float: left;}
a.search_chat{
	color: white; 
	background: #48b5ff; 
	padding: 12px; 
	font-weight: bold; 
	font-size: 1.2em;}
a.search_chat:hover{
	background: #00d7cb;}

.category-description {
	margin: 8px 0px 3px 0px;
    
}

/* Specs. Table */
.specs {
	border-collapse: separate; 
	border-spacing: 1px; 
	cursor: default; 
	margin-top: 10px; 
	border: 1px solid #D1D1D1;}
.specs td, .specs th {
	color: #444; 
	font-family: sans-serif; 
	font-size: 12px; 
	padding: 5px; 
	vertical-align: top;}
.specs th {
	background-color: #6A7E83; 
	color: #FFF; 
	font-weight: bold;}
.specs td{
	background-color: #9FDFDB;}
.specs td:hover{
	color: #333; 
	background-color: #f8c503;}

/* Brand Slider */
.brand-slider .item{
	padding: 0;}
.itemslider{
	margin-bottom: 0;}

/* Footer */
.grid12-6 div.flags{
	float: right;}

/* Add This */
.at4m-dock{
	display: none;}
.at4m-dock-toggle{
	display: none;}

/* Contact Page */
img.grn_btn{
	width: 20px; 
	position: relative; 
	bottom: 2px; 
	margin-left: 2px; 
	margin-right: 2px;}
img.grn_btn:hover{
	opacity: .9;}

/* Top Custom  Bar */
.custom-top-bar {
	background: #c13333;
	border-bottom: 4px solid #E6C1C1;
	color: #fff;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 14px;
}

.custom-top-bar-close, .custom-top-bar-close a, .custom-top-bar-close a:hover{

	padding-left: 40px;
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-family: cursive;
}
div.expand-one-in {
	display: none;
}
.package-includes {
	background: #ffffff url(../images/includes-back.jpg) no-repeat top left;
	float: right;
	border: #7A7A7A 1px solid;
	padding: 40px 0px 0px 5px;
	width: 290px;
	margin: 10px;
}

.package-includes h4{
	font-size: 1em;
	font-weight: bold;
	padding-top: 5px;
}

.cart .page-title{     
	margin-bottom: 24px; 
	margin-left: 15px;}
.cart .cart-left-column > *, .cart .cart-right-column > * {
	margin-bottom: 0px;}
.cart .totals{ 
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;}
.cart-table-wrapper{
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	margin-bottom: 10px;
	padding-top: 10px;
}
.cart-table-wrapper .product-image{ 
	border: 1px solid #e3e3e3;}
.cart-table-wrapper button.button span{     
	background-color: #4A4A4A;
	color: #F1F1F1;}
button.btn-checkout:hover span span{
	background-color: #FBB04A}
button.btn-checkout span span{
	background-color: #FDA42B; 
	font-weight: 700; 
	border: 1px solid #FFCA0B; 
	padding: 0 54px;}
.cart-table-wrapper button.button{ 
	margin-right: 10px; 
	margin-left: 10px;}

.cart-table thead, .cart-table tfoot td.last, .data-table tr.odd.last{ 
	border: none;}
.cart .totals .checkout-types{ 
	text-align: center;}
.cart-left-column{ 
	margin-top: 20px;}

.block_opc_below_progress{ 
	margin: 16px;}
.in-stock{ 
	display: none;}

span.icon.i-chat{
	width: 40px;
	height: 40px;
	line-height: 40px;
}

.header .welcome-msg{
	float: right;
}

.header .item-left{
	float: none;
}

span.icon-green{
	background-color: #82E441;

}
.outofstock{
	font-size: 18px;
	color: red;
	padding-left: 5px;
}

.instock{
	font-size: 13px;
	font-weight: normal;
	color: #60C41E;
}


.searchautocomplete
{  
	position: relative;
	z-index: 10000;
	height: inherit;
	margin: auto;
	width: 95%;
}

.searchautocomplete .searchautocomplete-placeholder ul li {
	border: 0;
}

.searchautocomplete > label{
	display: none;

}
.searchautocomplete .nav .nav-input input{
	border-radius: 10px; 
	padding: 5px; 
	font-weight: normal; 
	border: 5px solid #EBEBEB; 
	float: none;
	font-size: 13px; 
	font-family: sans-serif; 
	color: #A7A6A6; 
	height: 50px;
}
	
.searchautocomplete .nav .nav-input input:hover{
	border: 5px solid #48b5ff;}

.searchautocomplete .nav-submit-button{ 
	position: absolute; 
	right: 15px; 
	top: 12px; 
	background: none; 
	z-index: 100;}

.searchautocomplete .nav-submit-button .button{ 
	border-radius: 5px 5px 5px 5px;}

.searchautocomplete .nav{ 
	background: none; 
	height: inherit; 
	width: 100%; 
	float: none;}
.searchautocomplete .nav .nav-input { 
	margin: 0; 
	padding: 0;}

.searchautocomplete .searchautocomplete-placeholder{ 
	top: 56px;}

.search-automcomplete-home input{
	height: 62px;
	font-size: 18px;
	border-radius: 5px;  
}
.search-automcomplete-home .button{
	height: 51px;
    
}
.open > .dropdown-toggle.cover > div , .dropdown:hover{
	z-index: 20000;
}

.list-read-more{
	font-size: 10px;
	color: #347FB3;
	float: right;
	margin-top: 5px;
}

.products-grid.size-s .product-name {
	line-height: 1.2307em;
	text-align: left;
	font-size: 14px;
}

.block-feed-reader img{
	width: 100%;
	margin: 9px auto;
	border: 1px solid #E5E5E5;
}
.block-feed-reader .image{
	width: 150px;
	height: 150px;
	margin: 10px auto;
}


.block-feed-reader .date{
	margin-bottom: 5px;
}

#feed-items .block-feed-item{
	background: #F2F2F2;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#feed-items  .block-feed-item-txt{
	padding: 10px 0px;
}

#feed-items  .block-feed-item-txt .summary{
	text-align: left;
	margin-top: 10px;
}
#feed-items .block-feed-item-img{
   
}
#feed-items .block-feed-item-img img{
	border: 1px solid #cccccc;
	max-width: 200px;
}

h3.statement{ 
	font-size: 1.25em;
	font-weight: 400;
	padding-left: 8px;
	margin: 0;
	padding-top: 3px;
}

.category-title h3{
	font-size: 1.75em;
	font-weight: normal;
}

.price-box .regular-price .price, .price-box .minimal-price .price {
	color: #18BBBB;
	font-weight: bold;
	font-size: 16px;
}

.price-cad{ 
	font-size: 12px; 
	color: #807E7E; 
	font-weight: bold;}

.subcategories{
	clear: both;
}
.subcategories img{
	float: left;
}

.addto-links-icons.addto-onimage.addto-left{
	float: left;
}

.itemgrid-3colcompact .item{
	width: 30%;}
.top-header-promo{
	font-weight: bold; 
	padding-left: 20px; 
	color: #106888;}

.footer-promo{ 
	text-align: center;}

.totals-inner-trust{
	float: left;
	width: 90px;
	margin-top: -59px;}

.cart .shipping h2, .cart .crosssell h2, .cart .discount h2{    
	font-weight: 700;  
	font-size: 16px;}
.cart .shipping{ 
	padding: 0 57px 0 0;}
.cart .payment{ 
	padding: 0 12px 17px; 
	text-align: center; 
	font-weight: bold;}
.cart-table .product-name {
	font-size: 1.4em;}
.block-testimonial-sidebar .block-content .testimonial-sidebar-content{ 
	padding-left: 40px !important; 
	background: url('../images/icon-quote.jpg') top left no-repeat}
.checkout_contact{
	display: block; 
	color: white; 
	font-style: italic; 
	font-weight: bold; 
	text-transform: uppercase; 
	background: #48b5ff; 
	padding: 5px; 
	border-radius: 4px; 
	margin: 20px;}
.checkout_contact:hover{
	background: #00d7cb; 
	color: white!important;}
.testimonial-content{
	color: #6F6E6E;
	font-family: "Lucida Sans Unicode",Arial,Helvetica,sans-serif;
	font-size: 13px !important;
	font-style: normal !important;
	line-height: 22px;
	margin: 20px 0 !important;
	padding-left: 40px;
}

.customer-testimonials .customer-testimonials-content{
	background: url('../images/icon-quote.jpg') top left no-repeat;    
    
}
.customer-testimonials-content.last{
	clear: both;    
}

.submit-testimonial{ 
	text-align: right;}
.admin-box{ 
	display: block; 
	width: 100%; 
	border: 1px solid #aaaaaa; 
	padding: 10px; 
	background: #fcfbbb;}
.cart_link{ 
	display: inline;}
.free-ship-bar{ 
	width: 100%;
	background: #41D804;
	color: #ffffff;
	line-height: 2em;
	padding: 0px 0;
	text-align: center;
	font-size: 14px;}
#popup-calculator-form{ 
	background: #ffffff;}

.products-grid .price-box {
	font-size: 16px;
	font-weight: bold;
}

.payment-block{
	float: right;
	width: 200px;
  
}
.payment-block input[type="submit"]{
	padding: 10px;
    
}

.box-brand.feature-wrapper.bottom-border{
	border-bottom: none;
}

/* Orens Comparison Tables */

.tg-table-blue {
	border-collapse: collapse; 
	border-spacing: 0;}
.tg-table-blue td, .tg-table-blue th {
	background-color: #F7FDFA; /*border: 1px #999 solid;*/ 
	color: #444; 
	font-family: sans-serif; 
	font-size: 13px; 
	padding: 5px; 
	vertical-align: top;}
.tg-table-blue .tg-even td  {
	background-color: #D2E4FC;}
.tg-table-blue th  {
	background-color: #26ADE4; 
	color: #FFF; 
	font-weight: bold;}
.tg-table-blue tr:hover td, .tg-table-blue tr.even:hover td  {
	color: #333; 
	background-color: #FFCC00;}
.tg-bf {
	font-weight: bold;}
.tg-it {
	font-style: italic;}
.tg-left {
	text-align: left;}
.tg-right {
	text-align: right;}
.tg-center {
	text-align: center;}
.tg-bold {
	font-weight: bold;}

.aw-arp-block-content .price-box{ 
	padding: 8px 0px;} 

.block-related-product .aw-arp-block{
	clear: both;}
.block-related-product .aw-arp-block .price{
	font-size: 14px;}

/* Special Price */
.special-price .price, .special-price .price-label{
	color: #F4C100!important;}

/* Go Button */
.searchautocomplete .nav-submit-button{
	top: 9px; 
	right: 9px;}
.searchautocomplete .nav-submit-button .button{
	border-radius: 0 5px 5px 0; 
	background: black; 
	height: 40px; 
	border: 0;}
.searchautocomplete .nav-submit-button .button:hover{
	background: #00d7cb;}

/* Blog Menu Tab */
#nav ul.level1{
	margin-bottom: 10px;}

/* Amazon Autocomplete */
.searchautocomplete .searchautocomplete-placeholder ul li a.name{
	margin-bottom: 0px;}
.searchautocomplete .searchautocomplete-placeholder ul li .highlight strong{
	color: #48b5ff}
.searchautocomplete .searchautocomplete-placeholder ul li:hover{
	background: #C0E5FD;}

/* Home Button */
.cms-index-index #nav #nav-home > a, #nav > li.active > a, .vertnav-top li.current > a{
	background-color: #333;}
.cms-index-index #nav #nav-home > a:hover, #nav > li.active > a:hover, .vertnav-top li.current > a:hover{
	background-color: #00d7cb;}
.icon.i-home-bw{
	background-position: -7px -157px;}

/* Blog Post Thumbs */
.blog_post_home div.image:hover{
	opacity: .9;}

/* Menu Blog Button */
#nav > li.last{
	border-right: 0px!important;}

/* Footer Promo */
.footer-promo{
	margin: 20px 0 20px 0;}

.footer-copyright{ 
	line-height: 3.6em;}

.products-grid.centered .item .btn-cart {
	border-bottom: 2px solid #aaaaaa;
}

.block .block-title{ 
	font-size: 1.4em;}

.aw-arp-item .price-box .regular-price .price{ 
	font-weight: normal;  
	font-size: 12px;}

div.block-related-category .aw-arp-item{ 
	width: 120px; 
	margin: auto;}
.block block-related .block-content{
	background: white;
	border: 1px solid #ccc;
}
#messageBox p.block-related-p{
	border-bottom: 0;
	font-size: 21px;
	font-weight: bold;

}
.out-of-stock{
	color: red;
	font-weight: bold;
	margin-left: 40px;
}


/* Footer Badges */
@media only screen and (max-width: 1279px) and (min-width:768px){
	.footer-badges img{
		width: 50%;}

	#nav > li > a, #mobnav-trigger{
		font-size: 12px;}
}
@media only screen and (max-width: 420px){
	.footer-badges img{
		width: 50%;}
}
#embedded_widget{ 
	margin: 20px 0 !important;}

div.block-related-product .aw-arp-item, div.block-related .aw-arp-item{ 
	margin-right: 15px;}
div.block-related-shoppingcart .aw-arp-item img{
	border: none !important;}
div.block-related-category .aw-arp-item img{
	border: none !important; 
	width: 120px;}
.product-options{ 
	margin-left: 20px;}
.alert-price{
	float: right; 
	margin: -27px 0;}
.product-view .product-shop .price-box .regular-price .price{ 
	font-size: 2em;}

.yotpo.embedded-widget #embedded_widget .embedded_widget_container{
	width: 100%;}
.yotpo.embedded-widget #embedded_widget{
	max-width: none;}

.yotpo.bottomLine { 
	clear: both; 
	margin-top: 3px; 
	margin-bottom: 3px;}

.yotpo-view .yotpo.bottomLine { 
	width: 250px; 
	float: left; 
	clear: none; 
	margin: 0;}
.yotpo-view .yotpo.QABottomLine { 
	width: 150px; 
	float: right; 
	clear: none;}

div.awcountdown_grid .aw_countdown_separator_afterminutes{
	display: none;
}

div.awcountdown_grid .aw_countdown_seconds_container{
	display: none;
}

div.awcountdown_grid .awcountdown-desc{
	display: none;
}

.awcountdown-griddesc{
	display: none;
}

div.awcountdown_grid .awcountdown-griddesc{
	display: block;
	font-size: 12px;
}

.verified-badge span.icon{
	height: 20px !important;
	width: 7px !important ;
	background: none !important ;
}
.stamped-container{
	border: none !important;}
.fa-star, .fa-star-checked, .fa-star-half-o, .fa-star-o{
	color: #ffd200 !important;}
.stamped-badge{ 
	margin-top: 5px;}
/* Responsive Fixes */

@media only screen and (max-width: 1560px){
	div.at4-follow,div#at4-follow{
		display: none!important;}
}

@media only screen and (max-width: 1350px) and (min-width: 1280px){
	ul#navigation{
		display: none;}
}

@media only screen and (max-width: 1279px){
	.header-container .search-wrapper{
		padding-left: 0;}
	.header-container .grid-full .user-menu{
		background-image: url("//www.housingcamera.com/media/wysiwyg/free-shipping.png"); 
		background-position: 10% 15%; 
		background-size: 40%;}

	.menu_brands{
		padding: 0px 10px 0 4%;}
	.menu_brands img{
		margin-right: 1.1%; 
		width: 75px;}

	.product_finder_wrapper{
		width: 98%;}
	#two.product_finder{
		margin-left: 33px;}
	.cat_cell{
		margin-bottom: 15px;}
	#one.cat_row{
		height: 167px;}
	#two.cat_row{
		height: 200px;}
	#three.cat_row{
		height: 180px;}
	#four.cat_row{
		height: 200px;}

	#four.blog_post{
		display: inline-block;}

	.black_box{
		width: 19%;}

	#nav > li > a{ 
		padding: 0 5px;}
}

@media only screen and (max-width: 1080px) and (min-width: 959px){
	ul#navigation{
		display: none;}
}

@media only screen and (max-width: 989px){
	#two.cat_row{
		height: 215px;}
	#four.cat_row{
		height: 225px;}

	.form_box{
		width: 90%;}
	.black_box{
		width: 42%;}
}

/* Fix to Menu Items with New Categories */
@media only screen and (max-width: 1000px) and (min-width: 977px){
	#nav > li > a{
		padding: 0 5px 0 5px;}
}

@media only screen and (max-width: 959px){
	.cam_cat{
		display: none;}
	.header-container .grid-full .user-menu{
		background-position: 4% 0%;}
}

@media only screen and (max-width: 959px) and (min-width: 768px){
	.header-container .search-wrapper{
		padding-right: 8px;}

	.col_left{
		float: none; 
		width: 100%;}
	.col_right{
		float: none; 
		display: block; 
		position: relative; 
		width: 100%!important; 
		margin-top: 30px; 
		border: 0!important;}

	.col_right .fieldset{
		padding: 0; 
		width: 90%;}

	.lang_bar{
		float: none; 
		padding: 2%; 
		margin: 0; 
		width: 95%; 
		margin-bottom: 25px;}

	.blog_block_ttl{
		font-size: 1em;}

	#two.product_finder{
		margin-left: 0;}
	.product_finder{
		width: 255px;}
	.finder-box{
		width: 240px;}
	.product_finder select{
		width: 240px;}

	.cat_img{
		float: none; 
		width: 100%;}
	.cat_text{
		float: left; 
		padding: 0;}
	#one.cat_row{
		height: 276px;}
	#two.cat_row{
		height: 315px;}
	#three.cat_row{
		height: 295px;}
	#four.cat_row{
		height: 299px;}

	.form_box{
		width: 91%;}

	.icon.i-telephone{
		display: none;}
}

@media only screen and (max-width: 860px) and (min-width: 768px){
	ul#navigation{
		display: none;}
}

@media only screen and (max-width: 767px){
	.grid12-6 div.flags{
		float: none; 
		text-align: center; 
		margin-top: 10px;}
	.header-container .grid-full .user-menu{
		background: none;}
	.top-header-promo{
		display: block;  
		padding-right: 12px;
		text-align: center;
	}
	.header-container .submenu{
		padding-left: 0; text-align: center;
	}
	.searchautocomplete{
		right: 8px;}
	.yotpo-view .yotpo.bottomLine, .yotpo-view .yotpo.QABottomLine { 
		width: 100%; 
		clear: both;  
		margin: 0;}

}

@media only screen and (max-width: 767px) and (min-width: 480px){
	.product_finder_wrapper{
		width: 96%;}
	#two.product_finder{
		margin-left: 20px;}
	.product_finder{
		width: 260px; 
		margin-left: 10px;}
	.finder-box{
		width: 240px;}
	.product_finder select{
		width: 240px;}

	.lang_bar{
		float: none; 
		padding: 2%; 
		margin: 0; 
		width: 95%; 
		margin-bottom: 25px;}

	.cat_cell{
		margin-bottom: 0px;}
	.content-text{
		float: none; 
		width: 100%;}
	.cat_img{
		float: none; 
		width: 100%;}
	.cat_text{
		width: 100%;}
	.cat_links{
		float: none; 
		padding: 0; 
		width: 100%;}
	#one.cat_row{
		height: 270px;}
	#two.cat_row{
		height: 290px;}
	#three.cat_row{
		height: 285px;}
	#four.cat_row{
		height: 299px;}

	.blog_post{
		width: 50%; 
		height: 285px;}

	.form_box{
		width: 91%;
	}
	.product-image-wrapper .amlabel-txt2.bottom-right{
		z-index: 99;
	}
		
}

@media only screen and (max-width: 720px) and (min-width: 640px){
	ul#navigation{
		display: none;}
}

@media only screen and (max-width: 639px){
	.header .item-right{
		float: none;}
	.package-includes{
		display: block; 
		float: none; 
		width: 100%; 
		margin: 0 0 12px 0; 
		background-position-x: center;}
	.specs{
		display: none;}
}

/* Fix to Submenu iמ mobile */
@media only screen and (max-width: 639px){
	.header-container .submenu{
		display: inline-block;}
	.top-header-promo{
		width: 45%; 
		text-align: right;}
}

@media only screen and (max-width: 639px) and (min-width:480px){
	.product_finder_wrapper{
		width: 96%; 
		background: #51646B; 
		color: black; 
		height: 300px;}
	#two.product_finder{
		margin-left: 0;}
	.product_finder{
		width: 100%; 
		margin-left: 0px;}
	.finder-box{
		width: 100%;}
	.product_finder select{
		width: 96%;}

	#two.cat_row{
		height: 310px;}
	.blog_post{
		height: 285px;}

	.black_box{
		width: 40%;}

	.col_left{
		float: none; 
		width: 100%;}
	.col_right{
		float: none; 
		display: block; 
		position: relative; 
		width: 100%!important; 
		margin-top: 30px; 
		border: 0!important;}
	.col_right .fieldset{
		padding: 0;}
}

@media only screen and (max-width: 600px){
	ul#navigation{
		display: none;}
}

@media only screen and (max-width: 479px){
	.product_finder_wrapper{
		width: 96%; 
		background: #51646B; 
		color: black; 
		height: 300px;}
	#two.product_finder{
		margin-left: 0;}
	.product_finder{
		width: 100%; 
		margin-left: 0px;}
	.finder-box{
		width: 100%;}
	.product_finder select{
		width: 96%;}
	.top-header-promo{
		padding: 0;}

	.lang_bar{
		float: none; 
		padding: 2%; 
		margin: 0; 
		width: 95%; 
		margin-bottom: 25px;}

	.cat_cell{
		float: left; 
		width: 100%; 
		padding: 0; 
		margin: 0;}
	.cat_text{
		width: 48%; 
		padding-left: 2%;}
	.cat_links{
		width: 48%; 
		float: right;}
	.cat_img{
		text-align: center;}

	.blog_post{
		height: 285px; 
		width: 100%}

	.form_box{
		width: 91%;}
	.black_box{
		width: 91%; 
		height: auto;}

	.col_left{
		float: none; 
		width: 100%;}
	.col_right{
		float: none; 
		display: block; 
		position: relative; 
		width: 100%!important; 
		margin-top: 30px; 
		border: 0!important;}
	.col_right .fieldset{
		padding: 0;}
}

@media only screen and (max-width: 420px){
	#phone_block{
		display: block; 
		margin-top: 5px; 
		margin-left: 2px;}
}

@media only screen and (max-width: 365px){
	.hide-below-365{
		display: none!important;}
}

/* Fix to Homepage Category display in mobile */
@media only screen and (max-width: 340px){
	.cat_img{
		width: 100%; 
		float: none; 
		display: block;}
	.cat_text{
		width: 100%!important; 
		padding: 0; 
		float: none; 
		display: block;}
	.cat_links{
		width: 100%!important; 
		float: none!important; 
		margin-bottom: 10px; 
		display: block;}
}

/* New Additions March 29th 2016 */

@media only screen and (max-width: 480px){
	.feature-wrapper.top-border{ 
		display: none;}
	.box-brand.feature-wrapper.bottom-border {
		display: none;}
	.action-box{ 
		display: none;}
	.top-header-promo{ 
		width: 100%; 
		text-align: center;}
	.search-automcomplete-home{ 
		display: none;}
	.searchautocomplete .searchautocomplete-placeholder{ 
		right: 10px; 
		width: 90%;
	}
	/*.buttons-set{
		display: flex;
		flex-direction: column;
	}*/
	.back-link{
		order: 2;
	}
	/*.buttons-set button{
		order: 1;
	}*/
}


/* tablet-css*/

@media(min-width:768px) and (max-width:991px){
	.submenu a:nth-of-type(4) {
		line-height: 50px;
	}
	.cat_row {
		height: auto !important;
	}
	.cat_cell {
		width: 47%;
		display: inline-block;
		float: none;
	}
	.newsletter-wrapper{
		margin-top: 15px;
	
	}
	.newsletter-wrapper,.block_footer_payment{
		float: left !important;
		margin-left: 0 !important;
	}
	
	.footer-primary-container h6 {
		padding-right: 0 !important;
	}
}
@media(min-width:768px) and (max-width:1024px) and (orientation:landscape){
	.cat_cell {
		width: 47%;
		display: inline-block;
		float: none;
		vertical-align: top;
	}
	.block_footer_payment,.newsletter-wrapper{
		float: left !important;
		margin-left: 0 !important;
		margin-top: 15px;
	}
	.block-feed-item-txt .finder_contact {
	    display: table;
	    float: none !important;
	}
	.cat_row {
		height: auto !important;
	}
}
@media (min-width:500px){
	.customer-account-forgotpassword .page-title,.customer-account-forgotpassword form#form-validate {
    	width: 75%;
    	margin: auto;
    	display: block;
	}
	.customer-account-create .page-title,.customer-account-create form#form-validate{
		width: 82%;
    	margin: auto;
    	display: block;
	}
}
.product-image-wrapper a span.icon.icon-hover.i-search{
	background-image: url('read-more.png') !important;
	background-size: 80%;
    background-position: center;
}
table#product_comparison {
    max-width: 100%;
    display: block;
    overflow-x: scroll;

}
@media (max-width:767px){
	.customer-account-forgotpassword form#form-validate .fieldset{
		padding-left: 0;
		padding-right: 0;
	}
	.customer-account-forgotpassword form#form-validate .buttons-set{
		margin-left:0;
		margin-right:0;
	}
}

