@charset "utf-8";

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700,400italic,300italic);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);

/* General */
body {margin: 0 auto;}
a, input, img {outline: none;}
img {border: none; margin: 0; padding: 0; vertical-align: bottom;}
.clear {clear: both; height: 0;}
::-webkit-input-placeholder {color: #777;}
:-moz-placeholder { /* Firefox 18- */ color: #777;}
::-moz-placeholder {  /* Firefox 19+ */ color: #777;}
:-ms-input-placeholder {color: #777;}
.transitionall3s {transition: all ease-in 0.3s; -moz-transition: all ease-in 0.3s; -o-transition: all ease-in 0.3s; -webkit-transition: all ease-in 0.3s;}
.pagecontainer {}
.wrapper {width: 100%; margin: 0 auto; background: #fff;}
.container {margin: 0 auto;padding: 0;}

/* Top Bar */
#topBar {background:#eee; padding:5px;}
#topBarInner {width:1100px; margin:0 auto;}
#topBarLinks {float:left;}
#topBarLinks a:first-child {border-right:1px solid #dcd9d9; margin-right:10px;}
#topBarLinks a:first-child img {height:20px;}
#topBarLinks a:first-child img:hover {opacity:0.8; -moz-opacity:0.8; -o-opacity:0.8; -webkit-opacity:0.8;}
#topBarLinks a {float:left; display:block; padding:3px 10px 3px 0; text-decoration:none; font:normal 12px "Open Sans", sans-serif;}
#topBarLinks a:link, #topBarLinks a:visited {color:#666;}
#topBarLinks a:hover {color:#016ab5;}
#getInTouch {float:right;}
#phoneTop {float:left; background:url(../images/icon_phone.svg) no-repeat left center; background-size:20px auto; padding:3px 0 3px 23px; font:normal 13px "Open Sans", sans-serif; color:#444;}
#phoneTop span {padding:0 4px; color:#666;}
#socialIconsTop {float:left; margin-left:10px; padding:3px 0 3px 10px; border-left:1px solid #dcd9d9;}
#socialIconsTop span {float:left; display:block; font:normal 12px "Open Sans", sans-serif; color:#666; }
#socialIconsTop img {height:20px; margin-left:5px;}
#socialIconsTop img:hover {opacity:0.8; -moz-opacity:0.8; -o-opacity:0.8; -webkit-opacity:0.8;}


/* START // Header */
#header {}
#headerInner {width:1100px; margin:0 auto; padding:20px 0;}
#logo {float: left;text-align:justify;}
#logo img {display:block; width:290px;}
#logo img:hover {opacity: 0.7; -moz-opacity: 0.7; -o-opacity: 0.7; -webkit-opacity: 0.7;}
#logo a {text-decoration:none;}
#logo a span {display:block; padding-top:5px; font:normal 13px Arial, sans-serif; letter-spacing:1.1px;}
#logo a:link span, #logo a:visited span {color:#444;}
#logo a:hover span {color:#016ab5;}
#search {float: left; margin:5px 0 0 70px; padding:7px; background: #eee; border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px;}
#searchInner {overflow:hidden; background:#fff; border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px;}
#searchField {float: left; width: 440px; padding: 13px 0 13px 13px; border: none;  background: none; font: normal 11px "Open Sans", sans-serif; color: #666;}
#searchButton {float: right; margin:0; padding: 10px; border: none; background:#333; border-radius:0 3px 3px 0; -moz-border-radius:0 3px 3px 0; -o-border-radius:0 3px 3px 0; -webkit-border-radius:0 3px 3px 0; cursor: pointer;}
#searchButton img {width:25px;}
#searchButton img:hover {opacity: 0.7; -moz-opacity: 0.7; -o-opacity: 0.7; -webkit-opacity: 0.7;}
#shippingBanner {float:right; background:url(../images/transport.svg) no-repeat left center; background-size:auto 60px;}
#shippingBannerInner {margin-left:70px;}
#shippingBannerInner span {display:block; color:#0065b9;}
#shippingBanLine1 {font:600 14px "Open Sans", sans-serif;}
#shippingBanLine2 {font:600 20px "Open Sans", sans-serif;}
#shippingBanLine3 {font:600 13px "Open Sans", sans-serif;}

/* Top Menu */
#topMenu {width:1100px; margin:0 auto; padding: 0; background:#333; border-bottom: 4px solid #f8c503; }
#topMenu ul {position: relative; margin: 0; padding: 0; list-style: none;}
#topMenu ul > li {float:left; display:block; font: normal 12px "Open Sans", sans-serif; border-right:1px solid #191919; border-left:1px solid #4d4d4d;}
#topMenu ul > li:first-child {border-left:none;}
#topMenu ul > li:last-child {border-right:none;}
#topMenu ul > li > a {text-decoration: none; display: block; padding: 15px 21px; transition: all ease-in 0.3s; -moz-transition: all ease-in 0.3s; -o-transition: all ease-in 0.3s; -webkit-transition: all ease-in 0.3s;}
#topMenu ul > li > a:link, #topMenu ul > li > a:visited {color: #fff;}
#topMenu ul > li > a:hover {background: #0065b9;}
#topMenu ul > li.active:hover {background: #0065b9;}
#topMenu ul > li.active:hover > a {background: #0065b9;}
#topMenu ul > li > ul {display: none;}
#topMenu ul > li:hover > ul {display: block; position: absolute; min-width:200px; padding:13px; z-index: 1000; background: #fff; -webkit-box-shadow: 1px 7px 8px -1px rgba(201,199,201,0.65); -moz-box-shadow: 1px 7px 8px -1px rgba(201,199,201,0.65); box-shadow: 1px 7px 8px -1px rgba(201,199,201,0.65);}
#topMenu ul > li:hover > ul > li {float:none; display: block; text-transform: none; border-right:none; border-left:none;}
#topMenu ul > li:hover > ul > li > a {padding: 2px 0px; font-size:11px !important;}
#topMenu ul > li:hover > ul > li > a:link, #topMenu ul > li:hover > ul > li > a:visited {color:#333;}
#topMenu ul > li:hover > ul > li > a:hover {background:none; color:#0065b9;}
#topMenu ul > li:hover > ul > li > a span {font-weight:600; font-size:14px; color:#0065b9;}

/* Advanced Search */
#advSearchWrap {width:1100px; height:200px; overflow:hidden; margin:0 auto; background:url(../images/banner_main.jpg) no-repeat top center;}
#advSearchWrapInner {padding:25px 35px;}
#advSearchTitle {color:#f8c503; font:600 25px "Open Sans", sans-serif; text-transform:uppercase; text-shadow:1px 1px 1px #333; -moz-text-shadow:1px 1px 1px #333; -o-text-shadow:1px 1px 1px #333; -webkit-text-shadow:1px 1px 1px #333;}
#advSearchSelects {margin-top:10px;}
#advSearch0 {float:left; margin-right:12px;}
#advSearch1 {float:left; margin-right:12px;}
#advSearchSelects select {min-width:200px; min-height:55px; padding:17px 10px; border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; background-color:rgba(255, 255, 255, 0.8); border:1px solid #0168bc; font:normal 13px "Open Sans", sans-serif; color:#666;}
#advSearchButton {float:left;}
#advSearchButton input {min-height:55px; padding:0 20px; background:#333 url(../images/button_gray.png) repeat-x top left; border:1px solid #2d2b2b; border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; font:600 15px "Open Sans", sans-serif; color:#eee; text-transform:uppercase; cursor:pointer;}
#advSearchButton input:hover {background:#f8c607 url(../images/button_yellow.png) repeat-x top left; border:1px solid #e9ba06; color:#333;}
#advSearchLink {margin-top:10px; font:normal 14px "Open Sans", sans-serif; color:#eee; text-shadow:1px 1px 0 #333; -moz-text-shadow:1px 1px 0 #333; -o-text-shadow:1px 1px 0 #333; -webkit-text-shadow:1px 1px 0 #333;}
#advSearchLink a {margin-left:10px; font-size:16px; font-weight:600;}
#advSearchLink a:link, #advSearchLink a:visited {text-decoration:underline; color:#f8c503;}
#advSearchLink a:hover {text-decoration:none;}

/* Featured Categories */
#featuredCats {display:none; width:1100px; margin:20px auto 0 auto;}
.fCat {width:24%; float:left; margin-right:1.32%;}
#fCat4 {float:right; margin-right:0;}
.fCatImg {text-align:center;}
.fCatTitle {margin-top:15px; font:600 17px "Open Sans", sans-serif; color:#333; text-align:center;}
.fCatSubTitle {margin-top:5px; font:normal 12px "Open Sans", sans-serif; color:#777; text-align:center; text-transform:uppercase;}
.fCatSubsBlock {margin-top:10px; background:#f7f7f7; min-height:120px;}
.fCatSubsBlock ul {list-style:none; margin:0; padding:15px 20px;}
.fCatSubsBlock ul li {padding:2px 0;}
.fCatSubsBlock ul li a {padding-left:15px; text-decoration:none; font:normal 13px "Open Sans", sans-serif; background:url(../images/arrows.svg) no-repeat left center; background-size:9px auto;}
.fCatSubsBlock ul li a:link, .fCatSubsBlock ul li a:visited {color:#3372c4;}
.fCatSubsBlock ul li a:hover {color:#333;}

/* Brand Logos Scroll */
#brandLogoScroll {width:1100px; margin:0 auto;}
#brandLogosTitle {margin:12px 0; font:600 20px "Open Sans", sans-serif; color:#333;}
#brandLogosTitle span {color:#0262a8; font-size:15px; font-weight:normal;}
#scroller {position: relative; border-top:1px solid #eee; border-bottom:1px solid #eee;}
.innerScrollArea {overflow: hidden; position: absolute; left: 0; right: 0; top: 0; bottom: 0;}
#scroller ul {padding: 0; margin: 0; position: relative;}
#scroller li {padding: 0 15px; margin: 0; list-style-type: none; position: absolute;}
#scroller li img {height:90px; opacity:0.9; -moz-opacity:0.9; -o-opacity:0.9; -webkit-opacity:0.9;}
#scroller li img:hover {opacity:1.0; -moz-opacity:1.0; -o-opacity:1.0; -webkit-opacity:1.0;}
#brandLogo1 {min-width:57px !important;}
#brandLogo2 {min-width:133px !important;}
#brandLogo3 {min-width:110px !important;}
#brandLogo4 {min-width:82px !important;}
#brandLogo5 {min-width:112px !important;}
#brandLogo6 {min-width:85px !important;}
#brandLogo7 {min-width:103px !important;}
#brandLogo8 {min-width:74px !important;}
#brandLogo9 {min-width:101px !important;}
#brandLogo10 {min-width:101px !important;}
#brandLogo11 {min-width:121px !important;}
#brandLogo12 {min-width:99px !important;}
#brandLogo13 {min-width:114px !important;}
#brandLogo14 {min-width:113px !important;}
#brandLogo15 {min-width:105px !important;}
#brandLogo16 {min-width:130px !important;}
#brandLogo17 {min-width:117px !important;}
#brandLogo18 {min-width:144px !important;}
#brandLogo19 {min-width:114px !important;}
#brandLogo20 {min-width:99px !important;}
#brandLogo21 {min-width:90px !important;}
#brandLogo22 {min-width:84px !important;}
#brandLogo23 {min-width:111px !important;}
#brandLogo24 {min-width:61px !important;}
#brandLogo25 {min-width:105px !important;}

/* Content Area */
.content-area {width: 1100px !important; margin: 10px auto 0 auto !important; padding:0 !important;}
#LeftPanel .v4acpcont, #LeftPanel .ttl, #TopPromoArea, a.all_cats, a:visited.all_cats, a:hover.all_cats, .all_cats, div.link, span.cnt, .content-left .v4acpcont, #categories .ttl, #categories .cnt {display: none !important;}
#LeftPanel {width: 24% !important; padding: 0 !important; vertical-align: top !important;}
.sideBox {}
.catTitle {padding-bottom:10px; font: 600 20px "Open Sans", sans-serif; color: #333; text-transform:uppercase;}
.catTitle span {color:#015da3;}

/* Left Category Menu */
#categories {}
.lcat {}
ul.lev1 {list-style: none; margin: 0; padding: 0;}
ul.lev1 li {margin: 0 !important; padding: 4px 0 !important; font:normal 13px "Open Sans", sans-serif; color:#555;}
ul.lev1 li:hover {}
ul.lev1 li a {display: block; padding-left: 15px; text-decoration: none; background:url(../images/arrows.svg) no-repeat left center; background-size:9px auto; transition: all ease-in 0.3s; -moz-transition: all ease-in 0.3s; -o-transition: all ease-in 0.3s; -webkit-transition: all ease-in 0.3s;}
ul.lev1 li a:link, ul.lev1 li a:visited {color: #555;}
ul.lev1 li a:hover, .single-link a:hover {color: #0065b9;}
ul.lev1 li span { display: block; padding-left: 15px; font-weight: bold; color: #0065b9; background:url(../images/arrows.svg) no-repeat left center; background-size:9px auto;}
ul.lev2 {list-style: none; margin: 0; padding: 0 0 10px 0;}
ul.lev2 li { margin: 0 !important; padding: 0 !important; font:normal 12px "Open Sans", sans-serif; color:#555;}
ul.lev2 li a {background: none !important; text-decoration: none; text-transform: none;}
ul.lev2 li a:link, ul.lev2 li a:visited {color: #555;}
ul.lev2 li a:hover {color: #0065b9;}
ul.lev2 li span {background: none !important; font-weight: bold; text-transform: none; color: #0065b9;}
ul.lev3 {list-style: none; margin: 0; padding: 0 0 10px 0;}
ul.lev3 li { margin: 0 !important; padding: 0 !important; font:normal 11px "Open Sans", sans-serif; color:#555;}
ul.lev3 li a {padding-left: 15px; text-decoration: none; text-transform: none; background:url(../images/arrows.svg) no-repeat left center !important; background-size:9px auto;}
ul.lev3 li a:link, ul.lev3 li a:visited {color: #0065b9;}
ul.lev3 li a:hover {color: #555;}
ul.lev3 li span {background: none !important; font-weight: bold; text-transform: none; color: #555;}

/* Left Price Search */
#budgetBox {margin-top: 10px; padding-top:10px; border-top:1px solid #eee;}
#budgetSelect {}
#budgetSelect select {width:100%; min-height:45px; padding:12px 10px; border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; border:1px solid #ddd; box-shadow:inset 2px 2px 5px #ccc; -moz-box-shadow:inset 2px 2px 5px #ccc; -o-box-shadow:inset 2px 2px 5px #ccc; -webkit-box-shadow:inset 2px 2px 5px #ccc; font:normal 13px "Open Sans", sans-serif; color:#666; }
#budgetFields {margin-top:13px;}
#budgetFields input {width:46.5%; min-height:42px; text-align:center; border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; border:1px solid #ddd; box-shadow:inset 2px 2px 5px #ccc; -moz-box-shadow:inset 2px 2px 5px #ccc; -o-box-shadow:inset 2px 2px 5px #ccc; -webkit-box-shadow:inset 2px 2px 5px #ccc; font:normal 13px "Open Sans", sans-serif; color:#666;}
input#saprclo {float: left;}
input#saprchi {float: right;}
#buttonPrice {margin-top:13px;}
#buttonPrice input {width:100%; min-height:45px; text-align:center; background:#003b77 url(../images/button_blue.png) repeat-x top left; border:1px solid #003975; border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; font:600 15px "Open Sans", sans-serif; color:#eee; text-transform:uppercase; cursor:pointer;}
#buttonPrice input:hover {background:#f8c607 url(../images/button_yellow.png) repeat-x top left; border:1px solid #e9ba06; color:#333;}

/* Gallery Banner */
#bannerGallery {height:148px; margin-top:15px; background:#181d25 url(../images/banner_gallery.jpg) no-repeat top right;}
#bannerGalleryInner {padding:15px 0 0 25px;}
#bannerGalleryInner a {display:block; text-decoration:none;}
#bannerGalleryInner img {width:60px;}
#bannerGalleryInner span {display:block; font:normal 25px "Roboto Condensed", sans-serif; color:#fff; text-transform:uppercase; line-height:25px;}

/* Central Area */
#CentralArea {width:75%;}

/* Home Page */
#homePage {}

/* Featured Items */
#featuredItemsBlock {}
.fitem {float:left; width: 32%; height:372px; overflow:hidden; margin-bottom:13px; background:#f7f7f7; transition: all ease-in 0.3s; -moz-transition: all ease-in 0.3s; -o-transition: all ease-in 0.3s; -webkit-transition: all ease-in 0.3s; }
.fitem:hover {background: #e9e9e9;}
#fitem1, #fitem4 {margin-right:2%;}
#fitem3, #fitem6 {float:right; margin-right:0;}
.fitem table.v4stw {padding: 0 !important;}
.fitem .whiter-rcp {border: none !important;}
.fitem .whiter-n, .fitem .whiter-s {display: none !important;}
.fitem table.v4shwc td.grItm {width: 100% !important; padding: 0 !important;}
.fitem table.gallery {width:100%; display:block;}
.fitem table.gallery td.picture {padding: 0 !important;}
.fitem table.gallery td.picture div {width: 84% !important; height:190px; margin:8%; overflow: hidden; text-align:center; background: #fff; border: 1px solid #fff;}
.fitem table.gallery td.picture .saleDiv {position:relative; padding-top: 0px !important; padding-right: 0px !important;}
.fitem table.gallery td.picture .saleDiv img.sale {position:absolute; right:0; top:0;}
.fitem table.gallery td.picture div img {margin:10%;}
.fitem table.gallery .mi {min-height: 0 !important; margin-bottom:5px; font: normal 10px "Open Sans", sans-serif !important; text-align:center; text-transform:uppercase;}
.fitem table.gallery .mi a {}
.fitem table.gallery .mi a:link, .fitem table.gallery .mi a:visited {text-decoration:none; color:#444;}
.fitem table.gallery .mi a:hover {text-decoration:underline; color:#015da3;}
.fitem table.gallery div.ttl {margin: 0 8% !important;}
.fitem table.gallery div.ttl img {display: none;}
.fitem table.gallery div.ttl a {display: block; font: normal 14px "Open Sans", sans-serif !important; text-decoration: none !important; text-align: center;}
.fitem table.gallery div.ttl a:link, .fitem table.gallery div.ttl a:visited {color: #555 !important;}
.fitem table.gallery div.ttl a:hover {color: #0065b9 !important;}
.fitem td.details .subtitle {display:none; margin:3% 8%; padding:5px; text-align:center; font:bold 12px "Open Sans", sans-serif; background:#f6ce35;}
.fitem table.gallery table.fixed {width: 100%; margin: 0 auto !important; padding: 15px 0 0 0; text-align: center;}
.fitem table.gallery table.fixed tr:nth-child(2), .fitem table.gallery table.fixed tr:nth-child(3), .fitem table.gallery table.fixed tr:nth-child(4)   {display:none !important;}
.fitem table.gallery table.fixed:hover {}
.fitem table.gallery table.fixed img, .fitem table.gallery table.fixed .clr {display: none;}
.fitem table.gallery table.fixed span.g-b {font: 600 25px "Open Sans", sans-serif; color: #222;}
.fitem .anchors, .fitem .catItms {display: none !important;}

/* Promo Banner */
#promoBanner {height:372px; background:url(../images/promo_store.jpg) no-repeat top center; background-size:100%;}
#promoBannerInner {padding:8%; text-align:center;}
#promoBanLine1 {display:block; font:500 26px "Roboto Condensed", sans-serif; color:#111; text-transform:uppercase;}
#promoBanLine2 {display:block; font:bold 16px "Roboto Condensed", sans-serif; color:#045796; text-transform:uppercase;}
#promoBanLinks {margin-top:10px; padding:5%; background-color:rgba(255, 255, 255, 0.6);}
#promoBanLinks a {display:block; text-decoration:none; font:normal 14px "Roboto Condensed", sans-serif;text-transform:uppercase;}
#promoBanLinks a:link, #promoBanLinks a:visited {color:#045796;}
#promoBanLinks a:hover {color:#222;}

/* Category Grid */
.v4stabl {margin-top:5px;}
.r3 { border: 1px solid #eee; margin-top: 10px; margin-bottom: 15px; margin-right:15px; padding:5px 0;}
.r3_t, .r3_bl {display: none;}
.r3_c {border: none;}
.cur, .countClass {color: #0065b9 !important;}
.details .ttl {font: 400 13px "Open Sans", sans-serif;}
.details .ttl a {text-decoration: none;}
.details .ttl a:link, .details .ttl a:visited {color: #333;}
.details .ttl a:hover {color: #0065b9;}
table.grid td.left {border-left:1px solid #eee !important;}
div.itemseparator {border-color: #eee !important;}

/* Store Pages */
#storePage {border: 1px solid #eee;}
#storePageInner {padding: 15px; font:normal 13px "Open Sans", sans-serif; color: #555;}
.spHeading {margin-bottom:5px; font: 600 16px "Open Sans", sans-serif; color: #015da3; text-transform:uppercase;}
.polSpace {padding-top: 10px;}
.spText {margin-bottom:10px; padding-bottom:15px; border-bottom:1px solid #eee;}
.store-page a {color: #015da3;}
.store-page a:link, .store-page a:visited {text-decoration: underline;}
.store-page a:hover {text-decoration: none;}

/* Footer */
#footer {background:#eee;}
#footerInner {width:1100px; margin:0 auto; padding:20px 0 10px 0;}
.footerCol {float:left;}
#footerCol1 {width:42%;}
#footerCol2 {width:25%; margin-left:3%; padding:0 3%; border-left:1px solid #dedede; border-right:1px solid #dedede;}
#footerCol3 {float:right; width:21%;}
.footerTitle {padding-bottom:8px; font:600 16px "Open Sans", sans-serif; color:#111; text-transform:uppercase;}
.footerText {font:normal 12px "Open Sans", sans-serif; color:#666;}
#buttonYellow {margin-top:10px;}
#buttonYellow a {display:inline-block; padding:6px 20px; font:600 13px "Open Sans", sans-serif; text-align:center; text-decoration:none; text-transform:uppercase; cursor:pointer; background:#f8c607 url(../images/button_yellow.png) repeat-x top left; border:1px solid #e9ba06; border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px;}
#buttonYellow a:link, #buttonYellow a:visited {color:#333; text-shadow:1px 1px 0 #f6e190; -moz-text-shadow:1px 1px 0 #f6e190; -o-text-shadow:1px 1px 0 #f6e190; -webkit-text-shadow:1px 1px 0 #f6e190;}
#buttonYellow a:hover {background:#003b77 url(../images/button_blue.png) repeat-x top left; border:1px solid #003975; color:#fff; text-shadow:none; -moz-text-shadow:none; -o-text-shadow:none; -webkit-text-shadow:none;}
.footerContact {font:normal 12px "Open Sans", sans-serif; color:#555;}
#footerPhone {margin-bottom:8px; padding-left:27px; background:url(../images/phone.svg) no-repeat left top; background-size:18px;}
#footerMessage {margin-bottom:8px; padding-left:27px; background:url(../images/envelope.svg) no-repeat left top; background-size:18px;}
#footerMessage a {}
#footerMessage a:link, #footerMessage a:visited {color:#555; text-decoration:none;}
#footerMessage a:hover {color:#0065b9; text-decoration:underline;}
#footerLocation {padding:6px 0 6px 27px; background:url(../images/location.svg) no-repeat left top; background-size:18px;}
#footerGray {margin-top:10px; padding:10px; background:#333;}
#footerSocials {float:left;}
#footerSocials img {width:30px; transition: all ease-in 0.3s; -moz-transition: all ease-in 0.3s; -o-transition: all ease-in 0.3s; -webkit-transition: all ease-in 0.3s;}
#footerSocials img:hover {opacity:0.8; -moz-opacity:0.8; -o-opacity:0.8; -webkit-opacity:0.8;}
#footerPayment {float:right;}
#footerSeals {padding:15px 0; border-bottom:1px solid #dedede;}
#footerSeals img {width:100%;}
#footerCredit {margin-top:6px; font: normal 10px "Open Sans", sans-serif; letter-spacing: 1px; text-align: left; color: #999;}
#footerCredit a {text-decoration:none;}
#footerCredit a:link, #footerCredit a:visited {color: #999;}
#footerCredit a:hover {color: #0065b9;}
#footerCredit img {width:13px;}