<?php
/**
 * Edit Affiliate template
 */
?>
<?php
$store_id = Mage::app()->getStore()->getStoreId();
$check_responsvie = Mage::getStoreConfig('affiliateplus/style_config/responsive_enable', $store_id);
if($check_responsvie){
    $class_name = 'col-lg-9 col-md-9 col-sm-12 col-xs-12';
    $class_name_col = 'col-lg-6 col-md-6 col-sm-12 col-xs-12';
}
else{
    $class_name = 'col-lg-9 col-md-9 col-sm-9 col-xs-9';
    $class_name_col = 'col-lg-6 col-md-6 col-sm-6 col-xs-6';
}
?>

<?php $accountData = $this->getFormData('account') ?>
<div class="aff-main-content  <?php echo $class_name; ?>">
    <div class="my-account">
        <div class="aff-title">
            <h1><?php echo $this->__('Account Settings'); ?></h1>
        </div>
        <?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
        <div class="">
            <form id="signup_affiliate_account_form" method="post" action="<?php echo $this->getUrl('affiliateplus/account/editPost') ?>">
                <div class=""  style="border: 1px solid #ececec; float: left;">
                    <div class="lable-title">
                        <h2 class="legend"><?php echo $this->__('Account Information') ?></h2>
                    </div>
                    <div class="form-group">
                        <div class="<?php echo $class_name_col; ?>">
                            <label class="required" for="firstname"><?php echo $this->__('First Name') ?><em>*</em></label>
                            <input type="text" class="input-text required-entry form-control" title="First Name" name="firstname" id="firstname" value="<?php echo $this->escapeHtml($this->getFormData('firstname')) ?>">
                        </div>
                        <div class="<?php echo $class_name_col; ?>">
                            <label class="required" for="lastname"><?php echo $this->__('Last Name') ?><em>*</em></label>
                            <input type="text" class="input-text required-entry form-control" title="Last Name"  name="lastname" id="lastname" value="<?php echo $this->escapeHtml($this->getFormData('lastname')) ?>">
                        </div>
                    </div>
                    <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
                    <?php if ($_dob->isEnabled()): ?>
                        <div><?php echo $_dob->setDate($this->getFormData('dob'))->toHtml() ?></div>
                    <?php endif ?>
                    <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
                    <?php if ($_taxvat->isEnabled()): ?>
                        <div><?php echo $_taxvat->setTaxvat($this->getFormData('taxvat'))->toHtml() ?></div>
                    <?php endif ?>
                    <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
                    <?php if ($_gender->isEnabled()): ?>
                        <div><?php echo $_gender->setGender($this->getFormData('gender'))->toHtml() ?></div>
                    <?php endif ?>
                    <?php if ($this->customerHasAddresses()): ?>
                        <div calss = "form-group">
                            <div class="<?php echo $class_name_col; ?>">
                                <label for="customer-address-select"><?php echo $this->__('Select an address from your address book or enter a new address.') ?></label>
                                <?php echo $this->getAddressesHtmlSelect('account') ?>
                            </div>
                        </div>
                    <?php endif; ?>
                    <div id="account-new-address-form" <?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
                        <div class="form-group">
                            <div class="<?php echo $class_name_col; ?>">
                                <label for="account:street1" class="required"><?php echo $this->__('Address') ?><em>*</em></label>
                                <input type="text" title="<?php echo $this->__('Street Address') ?>" name="account[street][]" id="account:street1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="input-text required-entry form-control" />
                            </div>
                            <div class="<?php echo $class_name_col; ?>">
                                <input type="hidden" name="account[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="account:address_id" />
                            </div>
                            <?php for ($_i = 2, $_n = $this->helper('customer/address')->getStreetLines(); $_i <= $_n; $_i++): ?>

                                <div class="<?php echo $class_name_col; ?>">
                                    <label for="account:street1" class="required"><?php echo $this->__('Street Address') ?><em>*</em></label>
                                    <input type="text" title="<?php echo $this->__('Street Address %s', $_i) ?>" name="account[street][]" id="account:street<?php echo $_i ?>" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet($_i)) ?>" class="input-text required-entry form-control" />
                                </div>
                            <?php endfor ?>
                        </div>

                        <div class="form-group">
                            <div class="<?php echo $class_name_col; ?>">
                                <label for="account:city" class="required"><?php echo $this->__('City') ?><em>*</em></label>
                                <input type="text" title="<?php echo $this->__('City') ?>" name="account[city]" value="<?php echo $this->htmlEscape($this->getAddress()->getCity()) ?>" class="input-text required-entry form-control" id="customer:city" />
                            </div>
                            <div class="<?php echo $class_name_col; ?>">
                                <label for="account:region_id" class="required"><?php echo $this->__('State/Province') ?><em>*</em></label>
                                <select id="account:region_id" name="account[region_id]" title="<?php echo $this->__('State/Province') ?>" class="form-control validate-select" style="display:none;">
                                    <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                                </select>
                                <script type="text/javascript">
                                    //<![CDATA[
                                    $('account:region_id').setAttribute('defaultValue', "<?php echo $this->getAddress()->getRegionId() ?>");
                                    //]]>
                                </script>
                                <input type="text" id="account:region" name="account[region]" value="<?php echo $this->htmlEscape($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text form-control" style="display:none;" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="<?php echo $class_name_col; ?>">
                                <label for="account:postcode" class="required"><?php echo $this->__('Zip/Postal Code') ?><em>*</em></label>
                                <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="account[postcode]" id="account:postcode" value="<?php echo $this->htmlEscape($this->getAddress()->getPostcode()) ?>" class="input-text form-control validate-zip-international required-entry" />
                            </div>
                            <div class="<?php echo $class_name_col; ?>">
                                <label for="account:country_id" class="required"><?php echo $this->__('Country') ?><em>*</em></label>
                                <?php echo $this->getCountryHtmlSelect('account') ?>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="<?php echo $class_name_col; ?>">
                                <label for="account:telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                                <input type="text" name="account[telephone]" value="<?php echo $this->htmlEscape($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="form-control input-text required-entry" id="account:telephone" />
                            </div>
                            <div class="<?php echo $class_name_col; ?>">
                                <label for="account:fax"><?php echo $this->__('Fax') ?></label>
                                <input type="text" name="account[fax]" value="<?php echo $this->htmlEscape($this->getAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="input-text form-control" id="account:fax" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <?php if ($this->getFormData('account_name')): ?>
                            <div class="<?php echo $class_name_col; ?>">
                                <label for="account_name"><?php echo $this->__('Name'); ?></label>
                                <div class = "">
                                    <strong>
                                        <span><?php echo $this->htmlEscape($this->getFormData('account_name')) ?></span>
                                    </strong>
                                </div>
                                <input id="account_name" type="hidden" title="<?php echo $this->__('Name'); ?>" name="account_name" class ="form-control" value="<?php echo $this->htmlEscape($this->getFormData('account_name')) ?>"/>
                                <div id="affiliate_message_hidden" class="affiliate_message"></div>
                            </div>
                        <?php endif ?>
                        <?php if ($this->getFormData('key_shop')): ?>
                            <div class="<?php echo $class_name_col; ?>">
                                <label for="key_shop" class="required"><?php echo $this->__('Key Shop') ?><em>*</em></label>

                                <input type="text" placeholder="<?php echo $this->__('Key Shop') ?>" name="key_shop" id="key_shop" onchange="checkKeyShop('<?php echo $this->getCheckKeyShopUrl(); ?>', 'signup_account_account_form');" title="<?php echo $this->__('Key Shop') ?>" class="form-control input-text required-entry" value="<?php echo $this->getFormData('key_shop') ?>" />
                                <span id="affiliate-please-wait-key-shop" style="display:none;" class="opc-please-wait">
                            <img src="<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif') ?>" class="v-middle" alt="" /> &nbsp; <?php echo $this->__('Checking key shop') ?>...
                        </span>
                                <div id="affiliate_message_hidden_key_shop" class="affiliate_message"></div>
                                <div class="affiliate_message" id="affiliate_message_key_shop" style="display:none">
                                    <?php echo $this->__('This key shop is already existed. Please use a different one.'); ?>
                                </div>
                            </div>
                        <?php endif ?>

                    </div>

                    <?php
                    //hainh update add editing  referral website
                    //22-04-2014
                    ?>
                    <div class="form-group">
                        <div class="<?php echo $class_name_col; ?>">
                            <label for="referring_website"><?php echo $this->__('Referring Website'); ?></label>
                            <input id="referring_website" class="input-text form-control" type="text" title="<?php echo $this->__('Referring Website'); ?>" name="referring_website" value="<?php echo $this->htmlEscape($this->getFormData('referring_website')) ?>"/>
                        </div>
                        <div class="<?php echo $class_name_col; ?>">
                            <?php if ($this->requiredPaypal()): ?>
                                <label class="required" for="paypal_email"><?php echo $this->__('Paypal Email'); ?><em>*</em></label>
                                <input id="paypal_email" class="input-text required-entry validate-email form-control" type="text" title="<?php echo $this->__('Paypal Email'); ?>" name="paypal_email" value="<?php echo $this->htmlEscape($this->getFormData('paypal_email')) ?>"/>
                            <?php else: ?>
                                <label for="paypal_email"><?php echo $this->__('Paypal Email'); ?></label>
                                <input id="paypal_email" class="input-text validate-email form-control" type="text" title="<?php echo $this->__('Paypal Email'); ?>" name="paypal_email" value="<?php echo $this->getFormData('paypal_email') ?>"/>
                            <?php endif ?>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="<?php echo $class_name_col; ?>">
                            <input style="float: left" type="checkbox" name="change_password" id="change_password" value="1" onclick="setPasswordForm(this.checked)" title="<?php echo $this->__('Change Password') ?>"<?php if ($this->getFormData('change_password')): ?> checked="checked"<?php endif; ?> class="checkbox" />
                            <label  for="change_password"><?php echo $this->__('Change Password') ?></label>
                        </div>
                        <div class="<?php echo $class_name_col; ?>">
                            <input style="float: left" type="checkbox" class="checkbox" name="notification" id="notification" value="1" <?php if ($this->getFormData('notification')): ?>checked="checked"<?php endif ?> />
                            <label for="notification"><?php echo $this->__('Receive email notification') ?></label>
                        </div>
                    </div>
                </div>
                <div class="" style="display:none;border: 1px solid #ececec; float: left;margin-top: 10px; width:100%;" >
                    <div class="lable-title">
                        <h2 class="legend"><?php echo $this->__('Change Password') ?></h2>
                    </div>
                    <div class="form-list form-group">
                        <div class = "<?php echo $class_name_col; ?>">
                            <label for="current_password" class="required"><?php echo $this->__('Current Password') ?><em>*</em></label>
                            <div class="input-box" style="width:100%">
                                <input type="password" title="<?php echo $this->__('Current Password') ?>" class="input-text form-control" name="current_password" id="current_password" />
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:15px;">
                            <div class = "<?php echo $class_name_col; ?>">
                                <label for="password" class="required"><?php echo $this->__('New Password') ?><em>*</em></label>
                                <input type="password" title="<?php echo $this->__('New Password') ?>" class="input-text validate-password form-control" name="password" id="password" />
                            </div>
                            <div class = "<?php echo $class_name_col; ?>">
                                <label for="confirmation" class="required"><em>*</em><?php echo $this->__('Confirm New Password') ?></label>
                                <input type="password" title="<?php echo $this->__('Confirm New Password') ?>" class="input-text validate-cpassword form-control" name="confirmation" id="confirmation" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="buttons-set">
                    <p class="required">* <?php echo $this->__('Required Fields'); ?></p>
                    <button class="button button-config" type="submit" title="Save">
                        <span><span ><?php echo $this->__('Save') ?></span></span>
                    </button>
                    <?php if (0): ?>
                        <p class="back-link">
                            <a href="javascript:history.go(-1)">
                                <button type="button button-config" onclick="javascript:history.go(-1)" class="button button-config">
                                    <span>
                                        <span><?php echo $this->__('Back') ?></span>
                                    </span>
                                </button>
                            </a>
                        </p>
                    <?php endif ?>
                </div>

            </form>
        </div>
        <div class="clear"></div>
        <script type="text/javascript">
            //<![CDATA[
            if ($('account-address-select')) {
                $('account-address-select').value = "<?php echo $accountData['address_id'] ?>";
                lsRequestTrialNewAddress($('account-address-select').value);
            }
            var signupAffiliateAccountForm = new VarienForm('signup_affiliate_account_form', true);

            var regionUpdate = new RegionUpdater('account:country_id', 'account:region', 'account:region_id', <?php echo $this->helper('directory')->getRegionJson() ?>, undefined, 'postcode');

            function lsRequestTrialNewAddress(addressId) {
                if (addressId == "") {
                    $('account-new-address-form').show();
                } else {
                    $('account-new-address-form').hide();
                }
            }

            function setPasswordForm(arg) {
                if (arg) {
                    $('current_password').up(3).show();
                    $('current_password').addClassName('required-entry');
                    $('password').addClassName('required-entry');
                    $('confirmation').addClassName('required-entry');

                } else {
                    $('current_password').up(3).hide();
                    $('current_password').removeClassName('required-entry');
                    $('password').removeClassName('required-entry');
                    $('confirmation').removeClassName('required-entry');
                }
            }
            <?php if ($this->getFormData('change_password')): ?>
            setPasswordForm(true);
            <?php endif; ?>
            var hasSelect = document.getElementById('account:country_id');
            var hasSelects = document.getElementById('account-address-select');
            if(hasSelect){
                hasSelect.addClassName('form-control');
                if(hasSelects != undefined)
                    hasSelects.addClassName('form-control');
            }
            //]]>


            /**
             * Changed By Lucas (15/04/2017): end check key shop before register
             */
            function checkKeyShop(requestUrl, form) {
                var key_shop = $('key_shop').value;
                var params = {key_shop: key_shop};
                $('affiliate-please-wait-key-shop').show();
                $('affiliate_message_hidden_key_shop').hide();
                new Ajax.Updater(
                    'affiliate_message_hidden_key_shop',
                    requestUrl,
                    {
                        method: 'get',
                        onComplete: function() {
                            endCheckKeyShop();
                        },
                        onSuccess: '',
                        onFailure: '',
                        parameters: params,
                        postBody: params
                    }
                );
            }

            /**
             * Changed By Lucas (15/04/2017): end check key shop before register
             */
            function endCheckKeyShop() {
                $('affiliate-please-wait-key-shop').hide();
                $('affiliate_message_hidden_key_shop').show();
                if ($('is_valid_key_shop').value == '0')
                    $('key_shop').value = '';
            }
        </script>
    </div>
</div>