select.errHilite, textarea.errHilite { 	background-color: #c7c7c7; 	}
label.errHilite { 	color: #c7c7c7; 	}
input.errHilite { 	background-color: #ffa366;  } 


body    { background-color : #ffffff; color: #000000;  line-height:22px; font-size: 12px; }
p       { color: #000000;  text-decoration: none; font-size: 12px; line-height: 18px  }
li	{ color: #000000;  text-decoration: none; font-size: 12px;  }

h1	{ color: #ff6600;  text-decoration: none; font-size: 18px; font-weight: bold; margin-top: 10px; margin-bottom: 10px; text-align:center; }
h2	{ color: #ff6600;  text-decoration: none; font-size: 14px; font-weight: bold; margin-top: 10px; margin-bottom: 10px; }

.col_white { 	background-color : #ffffff; }
.col_black { 	background-color : #000000; }

.col_red { 	background-color : #ff0000; }

.col_orange1 { 	background-color: #4C4C4C; height: 30px; text-transform: capitalize;}
.col_orange2 { 	background-color : #ffa366; }


.col_gray1 { background-color : #404040; }
.col_gray2 { background-color : #6c6c6c; }
.col_gray3 { background-color : #DBDBDB; }

.login { color: #999999; font-size: 10px; text-decoration: none; font-weight: normal; }
.login_form { color: #ffffff; font-size: 11px; text-decoration: none; font-weight: normal; background-color : #404040; border:0px; padding:2px;}

A.login:link    	{ color: #cccccc;  text-decoration: none; font-size: 9px; font-weight: normal;}
A.login:visited 	{ color: #cccccc; text-decoration: none; font-size: 9px; font-weight: normal;} 
A.login:hover   	{ color: #ffffff;  text-decoration: underline; font-size: 9px; font-weight: normal; }

A:link    	{  text-decoration: none; }
A:visited 	{  text-decoration: none; } 
A:hover   	{  text-decoration: underline;  }

.table_header { color: #ffffff;
font-size: 15px;
text-decoration: none;
font-weight: normal;
}

.tbl-container{ text-align:center;}
.tbl-bottom{ text-align:center;}
.tbl-bottom table{ margin:auto;}

.normal	{ color: #000000;  text-decoration: none; font-size: 12px; font-weight: normal; }

A.item			{ font-size: 12px; font-weight: bold; }
A.item:link    	{ color: #616161;  text-decoration: none;  }
A.item:visited 	{ color: #616161; text-decoration: none;  } 
A.item:hover   	{ color: #000000;  text-decoration: none;  }

.notlink   { color: #ff6600;  font-size: 13px; text-decoration: none; font-weight: bold }

.line_b { border-bottom : 1px dashed #969696; }
.line_b2 { border-bottom : 1px solid #969696; padding: 10px !important; }

.line_t { border-top : 1px dashed #969696; }
.line_t2 { border-top : 1px solid #969696; }

.inputfield { color : Black;  font-size : 8pt;  margin : 0pt; padding : 0pt; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; } 
.inputfield_sel { color : Black;  font-size : 8pt;  margin : 0pt; padding : 0pt; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; background-color: #FFBE94;} 

.small_info   		{ color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 10px; text-decoration: none; font-weight: normal }
.small_info2   		{ color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 11px; text-decoration: none; font-weight: normal }

ul.mainmenu1 li{color:#616161; display:inline; font-size:16px; font-weight:bold;  }
ul.mainmenu2 li{color:#616161; display:inline; }
ul.mainmenu2 span, ul.mainmenu1 span{text-decoration:none;}
ul.mainmenu1 a, ul.mainmenu2 a{text-decoration:underline; }
ul.mainmenu1 .active a, ul.mainmenu2 .active a {color:#6C6C6C; text-decoration:none;}

ul.mainmenu2, ul.mainmenu1{
    float: none;
    clear: both;
    margin: auto;
    text-align: center;
    width: 302px;
    text-transform:uppercase;
}
/* From Magento */
.lensdb img { border:0; vertical-align:top; max-width:inherit; }
.lensdb td { text-align: left; padding: 5px; }
.lensdb{ padding:10px 0;}