/*** Custom CSS for Q&A Plus Plugin ***/

#qasearch {
width:80%;
height:24px;
float:left;
}

#qaplus_searchsubmit {
margin:0 0 0 10px;
padding:12px;
}

.qa-faqs,.qa-faqs h2,.qa-faqs h3 {
font-family:"Open Sans", sans-serif;
word-spacing:0;
}

.qa-faqs h2 {
font-size:18px;
line-height:20px;
font-weight:700;
}

.qa-faqs h3 {
font-size:14px;
line-height:18px;
}

.qasubmission {
padding:15px 60px;
}

.mainNav a {
padding:35px 10px;
}

.socialNav a {
padding:35px 8px;
}

.widget_categories li {
margin-bottom:5px;
padding-bottom:5px;
border-bottom:1px dashed #e0e0e0;
}

.qa-faq-answer p {
font-size:13px;
font-weight:400;
}

.collapsible .qa-faq-answer {
display:none;
border:1px dotted #252525;
padding:20px;
}

.article-bullets li {
list-style:disc;
margin-left:30px;
font-family:Open Sans, sans-serif;
color:#6E6E75;
font-size:15px;
}

.content p,.sidebar p,.homeContent p {
color:#6E6E75;
font-weight:400;
}

.logo {
margin:22px 60px 0 0;
}

.wp-caption-text {
font-size:13px;
font-style:italic;
text-align:center;
}

.post-container ul {
list-style:none;
padding-left:0;
}

.content li,.content strong {
color:#6E6E75;
line-height:23px;
}

.content em {
font-weight:400;
}

#footer {
padding:30px 0;
}

#comments,#respond {
margin-top:20px;
}

h4.srp-post-title {
font-size:18px;
line-height:22px;
}

#_form_1058 ._form {
width:100%;
}

#_form_1058 ._form ._field {
margin-bottom:5px!important;
}

#notice {
display:none;
}

 #content .wp-caption a img {
max-width:99.03225806%;
height:auto;
}

/* Specs. Table */.specs {
border-collapse:separate;
border-spacing:2px;
cursor:default;
margin-top:10px;
}

.specs td,.specs th {
color:#444;
font-family:sans-serif;
font-size:12px;
vertical-align:top;
text-align:left;
border-radius:5px;
padding:5px;
}

.specs th {
background-color:#7DAEC2;
color:#FFF;
font-weight:700;
border-radius:5px;
}

.specs td {
background-color:#8FCEAE;
}

.specs td:hover {
color:#333;
background-color:#FC0;
}

/* Ran Custom CSS */.contact-us-wrapper {
width:90%;
border:1px solid #000;
box-shadow:-1px -1px 10px #BDBDBD;
padding:20px;
}

.contact-us-left {
width:66%;
float:left;
padding:10px;
}

.contact-us-right {
float:right;
padding:10px;
}

.contact-us-right h4 {
color:#0f669d;
}

input[type="text"].wpcf7-text,input[type="email"].wpcf7-text,textarea.wpcf7-textarea {
background-color:#eee;
width:95%;
border-radius:6px;
border-width:0;
}

#scrolltriggered {
background:#4FA3FF!important;
font-family:sans-serif;
color:#fff;
}

#scrolltriggered h3 {
font-weight:200;
font-size:28px;
color:#fff;
text-align:center;
}

#scrolltriggered h4 {
font-size:18px;
font-weight:700;
color:#fff;
text-align:center;
}

#scrolltriggered #inscroll {
box-shadow:inset 0 0 50px 10px #4FA3FF!important;
}

#scrolltriggered #inscroll form input[type=submit],#scrolltriggered #inscroll form input.submit {
text:align:center;
float:none;
background:#369C29;
border:none!important;
box-shadow:none;
border-radius:0;
width:47%!important;
height:37px;
margin:auto;
}

#scrolltriggered #inscroll form input[type=submit]:hover,#scrolltriggered #inscroll form input.submit:hover {
background:#205310;
box-shadow:none;
}

#scrolltriggered #inscroll form input {
width:100%;
height:32px;
}

/* Chat With Us Button */a.search_chat {
color:#FFF!important;
background:#48b5ff;
font-weight:700;
font-size:1.2em;
text-decoration:inherit;
padding:12px;
}

a.search_chat:hover {
background:#00d7cb;
text-decoration:inherit;
}

.qa-faq-anchor,.qa-faqs .qa-category a {
text-decoration:none;
}

.singleMeta .qa-post-like,.singleMeta .qa_cats,div.srp-thumbnail-box {
display:inline;
}

#navigation li,.formwrapper p,.formwrapper input,._type_input,.wpp-list {
margin:0;
}



/* Fix Caption and Image Width */ .wp-caption alignnone, .wp-caption {
max-width:100%!important;
}

/* embed youtubes */
.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } 
.embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

/*Active Campaign Form*/
  ._form {
  position:relative;
  background:#fff;
  width:400px;/*F*/
  padding:0!important;
  text-align:left;
  }
  ._form em {
  color:#9a9a9a;
  }
  ._form a {
  margin-left:3px;
  }
  ._form ._field,
  ._form ._field ._label,
  ._form ._type_radio,
  ._form ._type_checkbox,
  ._form ._type_captcha,
  ._form ._field table {
  background:none;
  }
  ._form ._field  {
  position:relative;
  width:100%;
  cursor:move;
  font-style:normal;
  margin:1.2em 0;
  padding:0;
  overflow:hidden;
  }
  ._form ._field input[type="text"] {
  width:95%;
  padding:8px;
  font-size:16px;
  border:1px solid #b6b6b6;
  }
  ._form ._field ._label {
  display:block;
  margin:0 0 0.5em;
  padding:0!important;
  font-size:15px;
  }
  ._form ._field ._option input[type="checkbox"],
  ._form ._field ._option input[type="radio"] {
  position:relative;
  width:13px;
  height:13px;
  margin:-4px 0 0 1px;
  cursor:pointer;
  vertical-align:middle;
  background:#fff;
  }
  ._form ._field ._option input[type="submit"],
  ._form ._field ._option input[type="button"] {
  margin:0;
  cursor:pointer;
  height:35px;
  width:auto;
  font-size:15px;
  }
  ._form ._field ._option select {
  display:block;
  margin:0;
  padding:0;
  width:auto;
  font-size:15px;
  border:1px solid #b6b6b6;
  }
  ._form ._type_radio ._option,
  ._form ._type_checkbox ._option {
  font-size:13px;
  font-weight:normal;
  line-height:1.8;
  }
  ._form ._type_date ._option input[type="text"] {
  float:left;
  width:100px;
  }
  ._form ._type_date ._option input[type="button"] {
  width:37px;
  height:36px;
  margin-left:5px;
  padding:20px;
  background:url(http://mozaik.activehosted.com/admin/css/../images/icon_calendar.gif) no-repeat 0 0;
  border:none;
  outline:none;
  text-indent:-9999px;
  }
  ._form ._type_captcha img {
  float:left;
  margin:0 6px 0 0;
  width:70px;
  height:33px;
  border:1px solid #b6b6b6;
  }
  ._form ._type_captcha input[type="text"] {
  margin:-14px 0 0 0!important;
  width:25%;
  }
  ._form ._field table  {
  width:100%!important;
  }
  ._form ._field table tbody tr td  {
  width:50%!important;
  font-size:15px;
  }
  ._form {
  width:400px;/*F*/
  padding:16px!important;
  background:#eff9fd;
  color:#2c2c2c;
  font-weight:normal;
  border:1px solid #c4d5da;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  }
  ._form #notice {
  margin:10px 0 0 -3px!important;
  padding:0;
  color:#959c9f;
  font-size:11px;
  font-family:helvetica,arial,sans-serif;
  }
  ._form #notice a, ._form #notice a:visited {
  color:#959c9f;
  text-decoration:underline;
  }
  ._form ._field,
  ._form ._field ._label,
  ._form ._type_radio,
  ._form ._type_checkbox,
  ._form ._type_captcha,
  ._form ._field table {
  background:none;
  }
  ._form ._field  {
  position:relative;
  width:100%;
  cursor:default;
  font-style:normal;
  margin:0 0 16px!important;
  padding:0!important;
  overflow:hidden;
  }
  ._form ._field input[type="text"],
  ._form ._field input[type="email"] {
  width:97%;
  margin:0!important;
  padding:4px!important;
  font-size:16px;
  border:1px solid #b4c5cb;
  border-top:1px solid #a5b4b9;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  }
  ._form ._field ._label {
  margin:0 0 0.3em!important;
  color:#546f79;
  font-size:14px;
  font-family:helvetica,arial,sans-serif;
  font-weight:700;
  }
  ._form ._field ._option {
  margin:0;
  padding:0;
  color:#546f79;
  font-size:13px;
  font-family:helvetica,arial,sans-serif;
  font-weight:normal;
  line-height:20px;
  }
  ._form ._type_header ._label {
  width:100%;
  font-style:normal;
  font-size:20px!important;
  line-height:24px;
  color:#546f79;
  margin:0 0 5px!important;
  padding:0 0 10px!important;
  overflow:hidden;
  border-bottom:1px solid #e0e0e0;
  }
  ._form ._type_input ._option textarea{
  width:97%!important;
  background:#fafafa;
  border:1px solid #b4c5cb;
  border-top:1px solid #a5b4b9;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
  }
  ._form ._field ._option input[type="submit"],
  ._form ._field ._option input[type="button"] {
  width:auto;
  margin:10px 0 0!important;
  padding:8px 15px!important;
  cursor:pointer;
  font-family:helvetica,arial,sans-serif;
  font-weight:700;
  font-size:16px;
  color:#ffffff;
  background:#82aebe;
  border:1px solid #6a9eb0;
  border-bottom:1px solid #5f8e9f;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  text-shadow:0px 1px 1px #5f8e9f!important;
  }
  ._form ._type_input ._option input[type="submit"]:hover,
  ._form ._type_input ._option input[type="button"]:hover {
  background:#6494a6;
  }
  ._form ._type_radio ._option label {
  display:inline;
  font-size:16px;
  font-weight:normal;
  line-height:18px;
  }
  ._form ._type_radio ._option label input[type="radio"] {
  position:relative;
  width:13px;
  height:13px;
  margin:-4px 0 0 1px!important;
  cursor:pointer;
  vertical-align:middle;
  background:#fff;
  border:none;
  line-height:18px;
  }
  ._form ._type_date ._option input[type="text"] {
  float:left;
  width:100px;
  }
  ._form ._type_date ._option input[type="button"] {
  float:left;
  width:24px;
  height:24px;
  margin:2px 0 0 5px!important;
  padding:0;
  background:url(http://mozaik.activehosted.com/admin/templates/form-themes/simple-blue/images/icon_calendar.gif) no-repeat;
  border:none;
  outline:none;
  text-indent:-9999px;
  }
  ._form ._field ._option select {
  display:block;
  margin:0;
  padding:0;
  width:auto;
  font-size:16px;
  border:1px solid #cce0e7;
  }
  ._form ._type_captcha img {
  float:left;
  width:88px;
  height:44px;
  margin:0 6px 0 0;
  border:1px solid #cce0e7;
  }
  ._form ._type_captcha input[type="text"] {
  margin:0!important;
  width:40%;
  font-size:16px;
  }
  ._form ._field table {
  margin:0;
  padding:0;
  border-collapse:collapse;
  width:100%!important;
  table-layout:fixed;
  margin-bottom:18px;
  font-size:13px!important;
  border-collapse:collapse;
  border-spacing:0;
  }
  ._form ._field table td {
  padding:0 10px 0 0!important;
  line-height:18px;
  text-align:left;
  font-size:13px!important;
  color:#606060;
  }
  ._form ._type_input ._option  table tbody#_forward_rcpt input {margin:0 0 5px 0!important; width:96%!important;}
  ._form ._type_input ._option  table tbody#_forward_rcpt img.image_addrcpt {cursor:pointer;}
  .form_errors{
  text-align:center;
  font-size:15px;
  margin:10px;
  color:#900;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:bold;
  margin-bottom:20px;
  }

/* Magento Integration */

.magento-header{
margin-bottom:0px;
}

body { text-align:left; font-size:12px; background:#ffffff !important;}
.magento-css          {	font:100%/150% Arial, Helvetica, sans-serif; background-color:#fff; color:#333; text-align:center; }
.magento-css img           { border:0; vertical-align:top; max-width:100%; }
.magento-css a             { color:#888; text-decoration:none; }
.magento-css a:hover       { text-decoration:none; color:#ca0413; }
.magento-css  :focus        { outline:0; }

/* Headings */
.magento-css  h1,h2,h3,
.magento-css  h4,h5,h6      { margin:0 0 10px; font-weight:normal; }
.magento-css  h1            { font-size:2.6666em;	line-height:1.25em;		/*32px, 40px*/		margin-bottom:20px; }
.magento-css  h2            { font-size:2em;		line-height:1.25em;		/*24px, 30px*/ }
.magento-css  h3            { font-size:1.6666em;	line-height:1.2em;		/*20px, 24px*/ }
.magento-css  h4            { font-size:1.3333em;	line-height:1.25em;		/*16px, 20px*/ }
.magento-css    h5            { font-size:1.1666em;	line-height:1.1428em;	/*14px, 16px*/ }
.magento-css  h6            { font-size:1em;		line-height:1.1666em;	/*12px, 14px*/ }

/* Forms */
.magento-css  form          { display:inline; margin-bottom:0px; }
.magento-css  fieldset      { border:0; }
.magento-css  legend        { display:none; }

/* Table */
.magento-css  table         { border:0; border-collapse:collapse; border-spacing:0; empty-cells:show; font-size:100%; }
.magento-css  caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
.magento-css    strong        { font-weight:bold; }
.magento-css  address       { font-style:normal; }
.magento-css  cite          { font-style:normal; }
.magento-css  q,
.magento-css    blockquote    { quotes:none; }
.magento-css    q:before,
.magento-css  q:after       { content:''; }
.magento-css  small,big     { font-size:1em; }
.magento-css  sup           { font-size:1em; vertical-align:top; }

/* Lists */
.magento-css  ul,ol         { list-style:none; margin-bottom:0;}
.magento-css    li { margin-bottom:0px;}
.magento-css  ul ul,
.magento-css  ul ol,
.magento-css  ol ol, ol ul{ font-size:100%; margin:0;}

/* Tools */
.magento-css  .hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.magento-css  .nobr         { white-space:nowrap !important; }
.magento-css  .wrap         { white-space:normal !important; }
.magento-css    .a-left       { text-align:left !important; }
.magento-css    .a-center     { text-align:center !important; }
.magento-css  .a-right      { text-align:right !important; }
.magento-css  .v-top        { vertical-align:top; }
.magento-css  .v-middle     { vertical-align:middle; }
.magento-css  .f-left,
.magento-css  .left         { float:left !important; }
.magento-css  .f-right,
.magento-css  .right        { float:right !important; }
.magento-css  .f-none       { float:none !important; }
.magento-css    .f-fix        { float:left; width:100%; min-height:147px; position:relative; }
.magento-css  .no-display   { display:none; }
.magento-css  .no-margin    { margin:0 !important; }
.magento-css  .no-padding   { padding:0 !important; }
.magento-css    .no-bg        { background:none !important; }

.magento-css input[type="text"],.magento-css  input[type="password"],.magento-css  input[type="email"],.magento-css  textarea,.magento-css  select,.magento-css #search_mini_form{ margin-bottom:0px;}
.magento-css  .top-header-promo{ text-align:left; margin-left:20px;}
.magento-css  .user-menu .feature-icon-hover{ float:right;}

.header-primary.container{padding-top:10px; padding-bottom:10px;}
.pageTitle{ padding:11px 0; background-color:#6398B6;}

.singleMeta, categoryMeta, pageMeta{ margin-left:-10px; } 

.homeContent{border-top:0px;}

#slider-featured{
background-color: #3F3F42;

}
#slider-main{
background-color: #F0F0F0;
}
#searchform{ display:block;} 
#searchform .searchField{padding:14px; }
.close{ display:none;}

.magento-css .logo{ float:none;}

.breadcrumbs-wp{
margin-left: 22px;
color: #818187;
font-family: "Droid Sans", sans-serif;
font-size: 12px;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
}
.breadcrumbs-wp a{
margin-left: 0;
color: #818187;
font-family: "Droid Sans", sans-serif;
font-size: 12px;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
}
.singleMeta{ padding: 10px 0; }

a.categoryTitle, a.categoryTitle:visited{color:#ffffff; }