/*
Theme Name: Gazette WP
Theme URI:  http://themeforest.net/user/DanyDuchaine/portfolio
Author: Dany Duchaine
Author URI: http://themeforest.net/user/DanyDuchaine/portfolio
Description: Responsive Theme For Magazine/News
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: gazette
*/

/* #Site Styles
================================================== */

@import url(http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700,700italic|Oswald:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

/**
 * BASE
 */

	/* #Reset & Basics (Inspired by E. Meyers)
	================================================== */
		html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline; }
		article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
			display: block; }
		body {
			line-height: 1; }
		ol, ul {
			list-style: none; }
		blockquote, q {
			quotes: none; }
		blockquote:before, blockquote:after,
		q:before, q:after {
			content: '';
			content: none; }
		table {
			border-collapse: collapse;
			border-spacing: 0; }


	/* #Basic Styles
	================================================== */
		body {
			background: #fff;
			font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: #444;
			-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
			-webkit-text-size-adjust: 100%;
	 }


	/* #Typography
	================================================== */
		h1, h2, h3, h4, h5, h6 {
			color: #181818;
			font-family: "Georgia", "Times New Roman", serif;
			font-weight: normal; }
		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
		h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
		h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
		h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
		h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
		h5 { font-size: 17px; line-height: 24px; }
		h6 { font-size: 14px; line-height: 21px; }
		.subheader { color: #777; }

		p { margin: 0 0 20px 0; }
		p img { margin: 0; }
		p.lead { font-size: 21px; line-height: 27px; color: #777;  }

		em { font-style: italic; }
		strong { font-weight: bold; color: #333; }
		small { font-size: 80%; }

	/*	Blockquotes  */
		blockquote, blockquote p {  }
		blockquote { 
			line-height: 35px;
			width: 50%;
			background: url(images/patterns/1.png) repeat #313146;
			border-left: 5px solid #f52626;
			padding: 25px;
			color: #fff;
			font-family: 'Roboto Slab', serif;
			font-weight: 400;
			font-size: 23px;
			/*letter-spacing: -0.08em;*/
			-moz-border-radius: 3px;
			-webkit-border-radius:3px;
			border-radius:  3px;
		}
		blockquote p {
			color: inherit !important;
			font-size: inherit !important;
			font-family: inherit !important;
			font-weight: inherit !important;
			line-height: inherit !important;
			letter-spacing: inherit !important;
		}
		blockquote cite { display: block; font-size: 12px; color: #c6c6d1; letter-spacing: 0em; font-style: italic; margin-top: 5px; }
		blockquote cite:before { content: "\2014 \0020"; }
		blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

		hr { border: solid #e7e7e7; border-width: 1px 0 0; clear: both; margin: 10px 0 25px; height: 0; }


	/* #Links
	================================================== */
		a, a:visited { color: #333; text-decoration: underline; outline: 0; }
		a:hover, a:focus { color: #000; }
		p a, p a:visited { line-height: inherit; }


	/* #Lists
	================================================== */
		ul, ol { margin-bottom: 20px; }
		ul { list-style: none outside; }
		ol { list-style: decimal; }
		ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
		ul.square { list-style: square outside; }
		ul.circle { list-style: circle outside; }
		ul.disc { list-style: disc outside; }
		ul ul, ul ol,
		ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
		ul ul li, ul ol li,
		ol ol li, ol ul li { margin-bottom: 6px; }
		li { line-height: 18px; margin-bottom: 12px; }
		ul.large li { line-height: 21px; }
		li p { line-height: 21px; }

	/* #Images
	================================================== */

		img.scale-with-grid {
			max-width: 100%;
			height: auto; }


	/* #Buttons
	================================================== */

		.button,
		button,
		input[type="submit"],
		input[type="reset"],
		input[type="button"] {
			background: #eee; /* Old browsers */
			background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
			background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
			background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
			background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
			background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
			background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
		  border: 1px solid #aaa;
		  border-top: 1px solid #ccc;
		  border-left: 1px solid #ccc;
		  -moz-border-radius: 3px;
		  -webkit-border-radius: 3px;
		  border-radius: 3px;
		  color: #444;
		  display: inline-block;
		  font-size: 11px;
		  font-weight: bold;
		  text-decoration: none;
		  text-shadow: 0 1px rgba(255, 255, 255, .75);
		  cursor: pointer;
		  margin-bottom: 20px;
		  line-height: normal;
		  padding: 8px 10px;
		  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

		.button:hover,
		button:hover,
		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover {
			color: #222;
			background: #ddd; /* Old browsers */
			background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
			background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
			background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
			background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
			background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
			background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
		  border: 1px solid #888;
		  border-top: 1px solid #aaa;
		  border-left: 1px solid #aaa; }

		.button:active,
		button:active,
		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active {
			border: 1px solid #666;
			background: #ccc; /* Old browsers */
			background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
			background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
			background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
			background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
			background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
			background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

		.button.full-width,
		button.full-width,
		input[type="submit"].full-width,
		input[type="reset"].full-width,
		input[type="button"].full-width {
			width: 100%;
			padding-left: 0 !important;
			padding-right: 0 !important;
			text-align: center; }

		/* Fix for odd Mozilla border & padding issues */
		button::-moz-focus-inner,
		input::-moz-focus-inner {
		border: 0;
		padding: 0;
		}


	/* #Forms
	================================================== */

		form {
			margin-bottom: 20px; }
		fieldset {
			margin-bottom: 20px; }
		input[type="text"],
		input[type="password"],
		input[type="email"],
		textarea,
		select {
			border: 1px solid #ccc;
			padding: 6px 4px;
			outline: none;
			-moz-border-radius: 2px;
			-webkit-border-radius: 2px;
			border-radius: 2px;
			font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
			color: #777;
			margin: 0;
			width: 210px;
			max-width: 100%;
			display: block;
			margin-bottom: 20px;
			background: #fff; }
		select {
			padding: 0; }
		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		textarea:focus {
			border: 1px solid #aaa;
			color: #444;
			-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
			-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
			box-shadow:  0 0 3px rgba(0,0,0,.2); }
		textarea {
			min-height: 60px; }
		label,
		legend {
			display: block;
			font-weight: bold;
			font-size: 13px;  }
		select {
			width: 220px; }
		input[type="checkbox"] {
			display: inline; }
		label span,
		legend span {
			font-weight: normal;
			font-size: 13px;
			color: #444; }

	/* #Misc
	================================================== */
		.remove-bottom { margin-bottom: 0 !important; }
		.half-bottom { margin-bottom: 10px !important; }
		.add-bottom { margin-bottom: 20px !important; }

		table { 
			border: 1px solid #e0e0e0; 
			border-spacing: 0; 
			margin: 0 0 20px 0; 
			width: 100%; 
		}
			table caption {
				font-weight: bold; 
				margin-bottom: 10px;
			}
			
			td {
				background: #f8f8f8;
				border: 1px solid #e0e0e0;
				padding: 5px;
			}
			
			th {
				background: #fff;
				border: 1px dashed #dbdada;
				padding: 5px;
			}

/**
 * Skeleton
 */

	/* #Base 960 Grid
	================================================== */

	.container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
	.container .column,
	.container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
	.row                                        { margin-bottom: 20px; }

	/* Nested Column Classes */
	.column.alpha, .columns.alpha               { margin-left: 0; }
	.column.omega, .columns.omega               { margin-right: 0; }

	/* Base Grid */
	.container .one.column,
	.container .one.columns                     { width: 40px;  }
	.container .two.columns                     { width: 100px; }
	.container .three.columns                   { width: 160px; }
	.container .four.columns                    { width: 220px; }
	.container .five.columns                    { width: 280px; }
	.container .six.columns                     { width: 340px; }
	.container .seven.columns                   { width: 400px; }
	.container .eight.columns                   { width: 460px; }
	.container .nine.columns                    { width: 520px; }
	.container .ten.columns                     { width: 580px; }
	.container .eleven.columns                  { width: 640px; }
	.container .twelve.columns                  { width: 700px; }
	.container .thirteen.columns                { width: 760px; }
	.container .fourteen.columns                { width: 820px; }
	.container .fifteen.columns                 { width: 880px; }
	.container .sixteen.columns                 { width: 940px; }

	.container .one-third.column                { width: 300px; }
	.container .two-thirds.column               { width: 620px; }

	/* Offsets */
	.container .offset-by-one                   { padding-left: 60px;  }
	.container .offset-by-two                   { padding-left: 120px; }
	.container .offset-by-three                 { padding-left: 180px; }
	.container .offset-by-four                  { padding-left: 240px; }
	.container .offset-by-five                  { padding-left: 300px; }
	.container .offset-by-six                   { padding-left: 360px; }
	.container .offset-by-seven                 { padding-left: 420px; }
	.container .offset-by-eight                 { padding-left: 480px; }
	.container .offset-by-nine                  { padding-left: 540px; }
	.container .offset-by-ten                   { padding-left: 600px; }
	.container .offset-by-eleven                { padding-left: 660px; }
	.container .offset-by-twelve                { padding-left: 720px; }
	.container .offset-by-thirteen              { padding-left: 780px; }
	.container .offset-by-fourteen              { padding-left: 840px; }
	.container .offset-by-fifteen               { padding-left: 900px; }



	/* #Tablet (Portrait)
	================================================== */

	/* Note: Design for a width of 768px */

	/* 1200px Media Query for the Skeleton Grid - http://getskeleton.com 
	*  Adapted from http://www.aliaspooryorik.com/blog/index.cfm/e/posts.details/post/responsive-css-grid-systems-345
	*  Added .alpha.omega combo classes. Hope to see that fixed in later versions of Skeleton: https://github.com/dhgamache/Skeleton/issues/68
	*/
	@media only screen and (min-width: 1400px)  {
	 
			.container                      { width: 1200px;}
			.container .column,
			.container .columns             { margin-left: 10px; margin-right: 10px; }
			
			.column.alpha, .columns.alpha   { margin-left: 0; margin-right: 10px; }
			.column.omega, .columns.omega   { margin-right: 0; margin-left: 10px; }
				.column.alpha.omega, .columns.alpha.omega {margin-left: 0; margin-right: 0}
	 
			.container .one.column          { width: 55px; }
			.container .two.columns         { width: 130px; }
			.container .three.columns       { width: 205px; }
			.container .four.columns        { width: 280px; }
			.container .five.columns        { width: 355px; }
			.container .six.columns         { width: 430px; }
			.container .seven.columns       { width: 505px; }
			.container .eight.columns       { width: 580px; }
			.container .nine.columns        { width: 655px; }
			.container .ten.columns         { width: 730px; }
			.container .eleven.columns      { width: 805px; }
			.container .twelve.columns      { width: 880px; }
			.container .thirteen.columns    { width: 955px; }
			.container .fourteen.columns    { width: 1030px; }
			.container .fifteen.columns     { width: 1105px; }
			.container .sixteen.columns     { width: 1180px; }
	 
			.container .one-third.column    { width: 380px; }
			.container .two-thirds.column   { width: 780px; }
	 
			/* Offsets */
			.container .offset-by-one       { padding-left: 75px; }
			.container .offset-by-two       { padding-left: 150px; }
			.container .offset-by-three     { padding-left: 225px; }
			.container .offset-by-four      { padding-left: 300px; }
			.container .offset-by-five      { padding-left: 375px; }
			.container .offset-by-six       { padding-left: 450px; }
			.container .offset-by-seven     { padding-left: 525px; }
			.container .offset-by-eight     { padding-left: 600px; }
			.container .offset-by-nine      { padding-left: 675px; }
			.container .offset-by-ten       { padding-left: 750px; }
			.container .offset-by-eleven    { padding-left: 825px; }
			.container .offset-by-twelve    { padding-left: 900px; }
			.container .offset-by-thirteen  { padding-left: 975px; }
			.container .offset-by-fourteen  { padding-left: 1050px; }
			.container .offset-by-fifteen   { padding-left: 1125px; }
	 
	}

		@media only screen and (min-width: 768px) and (max-width: 959px) {
			.container                                  { width: 768px; }
			.container .column,
			.container .columns                         { margin-left: 10px; margin-right: 10px;  }
			.column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
			.column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
			.alpha.omega                                { margin-left: 0; margin-right: 0; }

			.container .one.column,
			.container .one.columns                     { width: 28px; }
			.container .two.columns                     { width: 76px; }
			.container .three.columns                   { width: 124px; }
			.container .four.columns                    { width: 172px; }
			.container .five.columns                    { width: 220px; }
			.container .six.columns                     { width: 268px; }
			.container .seven.columns                   { width: 316px; }
			.container .eight.columns                   { width: 364px; }
			.container .nine.columns                    { width: 412px; }
			.container .ten.columns                     { width: 460px; }
			.container .eleven.columns                  { width: 508px; }
			.container .twelve.columns                  { width: 556px; }
			.container .thirteen.columns                { width: 604px; }
			.container .fourteen.columns                { width: 652px; }
			.container .fifteen.columns                 { width: 700px; }
			.container .sixteen.columns                 { width: 748px; }

			.container .one-third.column                { width: 236px; }
			.container .two-thirds.column               { width: 492px; }

			/* Offsets */
			.container .offset-by-one                   { padding-left: 48px; }
			.container .offset-by-two                   { padding-left: 96px; }
			.container .offset-by-three                 { padding-left: 144px; }
			.container .offset-by-four                  { padding-left: 192px; }
			.container .offset-by-five                  { padding-left: 240px; }
			.container .offset-by-six                   { padding-left: 288px; }
			.container .offset-by-seven                 { padding-left: 336px; }
			.container .offset-by-eight                 { padding-left: 384px; }
			.container .offset-by-nine                  { padding-left: 432px; }
			.container .offset-by-ten                   { padding-left: 480px; }
			.container .offset-by-eleven                { padding-left: 528px; }
			.container .offset-by-twelve                { padding-left: 576px; }
			.container .offset-by-thirteen              { padding-left: 624px; }
			.container .offset-by-fourteen              { padding-left: 672px; }
			.container .offset-by-fifteen               { padding-left: 720px; }
		}


	/*  #Mobile (Portrait)
	================================================== */

		/* Note: Design for a width of 320px */

		@media only screen and (max-width: 767px) {
			.container { width: 300px; }
			.container .columns,
			.container .column { margin: 0; }

			.container .one.column,
			.container .one.columns,
			.container .two.columns,
			.container .three.columns,
			.container .four.columns,
			.container .five.columns,
			.container .six.columns,
			.container .seven.columns,
			.container .eight.columns,
			.container .nine.columns,
			.container .ten.columns,
			.container .eleven.columns,
			.container .twelve.columns,
			.container .thirteen.columns,
			.container .fourteen.columns,
			.container .fifteen.columns,
			.container .sixteen.columns,
			.container .one-third.column,
			.container .two-thirds.column  { width: 300px; }

			/* Offsets */
			.container .offset-by-one,
			.container .offset-by-two,
			.container .offset-by-three,
			.container .offset-by-four,
			.container .offset-by-five,
			.container .offset-by-six,
			.container .offset-by-seven,
			.container .offset-by-eight,
			.container .offset-by-nine,
			.container .offset-by-ten,
			.container .offset-by-eleven,
			.container .offset-by-twelve,
			.container .offset-by-thirteen,
			.container .offset-by-fourteen,
			.container .offset-by-fifteen { padding-left: 0; }

		}


	/* #Mobile (Landscape)
	================================================== */

		/* Note: Design for a width of 480px */

		@media only screen and (min-width: 480px) and (max-width: 767px) {
			.container { width: 420px; }
			.container .columns,
			.container .column { margin: 0; }

			.container .one.column,
			.container .one.columns,
			.container .two.columns,
			.container .three.columns,
			.container .four.columns,
			.container .five.columns,
			.container .six.columns,
			.container .seven.columns,
			.container .eight.columns,
			.container .nine.columns,
			.container .ten.columns,
			.container .eleven.columns,
			.container .twelve.columns,
			.container .thirteen.columns,
			.container .fourteen.columns,
			.container .fifteen.columns,
			.container .sixteen.columns,
			.container .one-third.column,
			.container .two-thirds.column { width: 420px; }
		}


	/* #Clearing
	================================================== */

		/* Self Clearing Goodness */
		.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

		/* Use clearfix class on parent to clear nested columns,
		or wrap each row of columns in a <div class="row"> */
		.clearfix:before,
		.clearfix:after,
		.row:before,
		.row:after {
		  content: '\0020';
		  display: block;
		  overflow: hidden;
		  visibility: hidden;
		  width: 0;
		  height: 0; }
		.row:after,
		.clearfix:after {
		  clear: both; }
		.row,
		.clearfix {
		  zoom: 1; }

		/* You can also use a <br class="clear" /> to clear columns */
		.clear {
		  clear: both;
		  display: block;
		  overflow: hidden;
		  visibility: hidden;
		  width: 0;
		  height: 0;
		}

/**
 * Layout
 */

	/* #Site Styles
	================================================== */

	/* Demo Only */ 

	.hidden { display: none; }

	.aboutPromo { 
		background: url(images/assets/1.png) no-repeat bottom right; 
		padding-bottom: 60px;
		margin-bottom: 30px;
	}
	.aboutPromoText1 { width: 420px; }
	.aboutPromoText2 { width: 360px; }

	/* //// Demo Only */ 

	/* Misc Classes */


	em { font-weight: bold; }

	ul.list {
		list-style: square outside;
		margin-left: 30px;
		font-family: 'Open Sans', sans-serif;
	color: #9393a0;
	font-size: 14px;
	line-height: 23px;
	font-weight: 600;
	}

	ol.list {
	  
		font-family: 'Open Sans', sans-serif;
	color: #9393a0;
	font-size: 14px;
	line-height: 23px;
	font-weight: 600;
	}

	.singleVideo { margin-bottom: 30px; }

	h1,h2,h3,h4,h5,h6 {
			 color: #6c6c74;
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	  letter-spacing: -0.04em;
	word-spacing: 0.17em;
	}

	h5 { font-weight: 600; }

	.alignright {
		float: right;
		margin: 0 0 30px 30px;
	}
	.alignleft {
		float: left;
	   margin: 0 30px 30px 0;
	}

	a {
		  -webkit-transition:  background 120ms ease-in, color 120ms ease-in, box-shadow 120ms ease-in ; 
		   -moz-transition: background 120ms ease-in, color 120ms ease-in, box-shadow 120ms ease-in ; 
			  transition: background 120ms ease-in, color 120ms ease-in, box-shadow 120ms ease-in ; 
	}

	/* //// Misc Classes */

	body { background: #f3f7f9; }

	/* HEADER  */

	header { background: #fff; }

	.topBar {
		background: #33333b;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	display: none;
	}

	.topBar .mobileMenu {
		display: none;
	}
	.topBar .mobileMenuBtn {
		background: url(images/smallMobileBars.png) #f52626 no-repeat center center;
		width: 50px;
		height: 50px; 

	}
	.topBar .mobileMenu nav { display: none; }

	.topBar .socialNav {
	border-right: none;
	padding: 0 5px;
	margin-left: 5px;
	}

	.topBar .socialNav a {
	padding: 16px 7px;
	font-size: 13px; 
	text-decoration: none;
	}

	.logo, .mainNav, .socialNav, .mainNav ul li, .socialNav ul li { float: left; }

	.logo { margin: 32px 60px 0 0; }

	.mainNav li { 
		border-left: 1px solid #e7e7e7; 
		margin-bottom: 0;
	}
	.mainNav li:last-of-type { border-right: 1px solid #e7e7e7;  }

	.mainNav a {
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	font-size: 20px;
	  letter-spacing: -0.04em;
	word-spacing: 0.17em;
	text-decoration: none;
	padding: 45px 30px;
	display: block;
	}

	.mainNav a:hover {
		 background: #f4f4f7;
	}
	.mainNav a:active {
		background: #eeeef0;
		box-shadow: inset 0 0 1px rgba(0,0,0, 0.1), inset 0 4px 8px rgba(0,0,0, 0.05);
	}



	.socialNav { 
		border-right: 1px solid #e7e7e7; 
		padding: 0 30px; 
	}
	.socialNav li { margin-bottom: 0; }

	.socialNav a {
		padding: 45px 8px;
		display: block;
		text-decoration: none;
		font-size: 15px;
	}

	.twitter:hover { color: #00acee; }
	.facebook:hover { color: #3b5998; }
	.instagram:hover { color: #c18361; }
	.search:hover { color: #649eb2; }


	.mobileMenu { position: relative; float: right; }
	.mobileMenu nav { 
		position: absolute; 
		top: 84px;
		display: none;
		right: 0;
		-moz-border-radius: 3px;
		-webkit-border-radius:3px;
		border-radius:  3px;
		padding: 20px;
		z-index: 999;
	   box-shadow: 0 5px 8px rgba(0,0,0,0.2);
	}
	.mobileMenu nav ul { margin: 0; }

	.mobileMenu nav ul li { 
		margin: 0 0 10px;
		-moz-border-radius: 3px;
		-webkit-border-radius:3px;
		border-radius:  3px;
	   
	}
	.mobileMenu nav ul li span {
	  margin-top: -2px;
	float: right;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 2px 8px;
	margin-right: -8px;
	}

	.mobileMenu nav ul li.category:hover {  }
	.mobileMenu nav ul li:last-of-type { margin-bottom: 0; }
	.mobileMenu nav ul li a {
		 
			text-decoration: none;
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	padding: 2px 8px;
	line-height: 28px;
	font-weight: bold;
	text-transform: uppercase;
	 min-width: 200px;
		max-width: 300px;
		display: block;
	}

	.big .mobileMenuBtn {
		display: block;
		width: 65px;
		height: 65px;
		float: right;
		margin-top: 22px;
		-moz-border-radius: 5px;
		-webkit-border-radius:5px;
		border-radius:  5px;
	}
	.mobileMenuBtn {
		display: block;
		width: 118px;
		height: 118px;
		float: right;
	}
	.mobileMenuBtn:hover {
		box-shadow: inset 0 0 40px rgba(0,0,0,0.1), inset 0 0 100px rgba(0,0,0,0.1);
	}
	.mobileActive, .mobileActive:hover { 
	   box-shadow: inset 0 0 40px rgba(0,0,0,0.1), inset 0 0 100px rgba(0,0,0,0.1);
	}
	#searchform {
	   margin-bottom: 0;
		display: none;
		  position: relative;
		  margin-top: 30px;
	}
	.close {
		position: absolute;
		top: 40%;
	right: 41px;
		color: #fff;
		background: #ccd5db;
		cursor: pointer;
		font-size: 11px;
		padding: 0 5px;
		font-weight: bold;
		-moz-border-radius: 3px;
		-webkit-border-radius:3px;
		border-radius:  3px;
	}
	.close:hover {
		background: #b6c0c6;
	}
	#searchform .searchField { 
		border-top: none;
		border: 1px solid #e7e7e7;
		 width: 1118px;
	   margin-bottom: 0;
	   border-radius: 0;

	   padding: 30px;
	   font-size: 29px;
	   box-shadow: inset 0 0 20px rgba(0,0,0,0.05);
	   font-family: 'Dosis', sans-serif;
	}
	#searchform .searchField:focus { box-shadow: inset 0 0 20px rgba(0,0,0,0.05); }

	/* ///// HEADER */


	/* HOMEPAGE CONTENT */

	.homeContent {
		border-top: 1px solid #e7e7e7; /* stroke */
		padding: 50px 0;
	background-color: #fff; /* layer fill content */

	}

	.homeContent .sidebar { padding: 0; }

	.homeContent .categoryBadge, .review-item-title .categoryBadge {
		padding: 3px 7px 4px 6px;
	}

	.homeContent .homePostsInfo h1, .categoryWidgetInfo h1 {
		font-size: 22px;
		line-height: 31px;
	}

	.loadMore, .loadMore:visited {
		-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	font-family: "Dosis";
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	display: block;
	clear: both;
	padding: 20px;

	}


	.loadMore:active {
	  -moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	-moz-box-shadow: inset 0 2px 3px rgba(0,0,0,.27); /* inner shadow */
	-webkit-box-shadow: inset 0 2px 3px rgba(0,0,0,.27); /* inner shadow */
	box-shadow: inset 0 2px 3px rgba(0,0,0,.27); /* inner shadow */
	padding: 21px 0 19px;
	}

	.loadMore i {
		font-size: 19px;
	margin-right: 8px;
	}

	/* //// HOMEPAGE CONTENT */

	.pageContent { background: #fff; }

	.content p, .sidebar p, .homeContent p {
		font-family: 'Open Sans', sans-serif;
	color: #9393a0;
	font-size: 14px;
	line-height: 23px;
	font-weight: 600;
	}

	.sidebar p {
	  font-size: 13px;
	}

	.pageTitle { 
		padding: 35px 0;
	}

	.pageTitle h1 {
	   letter-spacing: -0.04em;
	word-spacing: 0.17em;
	font-family: 'Dosis', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 22px;
	margin: 0;
	line-height: 36px;
	}

	.content { padding: 50px 0; }

	.separator {
	  background: url(images/separator.png) repeat-y center center;
	  height: 100%;
	}

	/* Category Page */

	.categoryTitle {
		color: #fff; 
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	float: left;
	font-weight: 500;
	line-height: 37px;
	margin: 0;
	padding: 15px 25px;
	}

		.categoryTitle a {
			color: inherit;
			text-decoration: none;
		}

	.categoryMeta, .singleMeta { 
		margin-bottom: 35px;
				   border-bottom: 1px solid #e8e8e8;
				   border-right: 1px solid #e8e8e8;
				   background: #fafafa;
				   box-shadow: inset 0 0 5px rgba(255,255,255,0.6);
	}

	.singleMeta { 
		border-left: 1px solid #e8e8e8; 
		position: relative; 
		border-right: none; 
		padding: 20px 0;
	}

	.categoryMeta ul { padding: 23px 0; }
	.categoryMeta ul, .singleMeta ul {
		float: left;
		margin: 0;

	}
	.singleMeta ul { width: 100%; }

	.categoryMeta ul li, .singleMeta ul li { 
		display: inline; 
		margin: 0 0 0 15px;
	}
	.categoryMeta ul li:first-of-type, .singleMeta ul li:first-of-type { margin-left: 20px; }

	.categoryMeta ul li a, .singleMeta ul li a {
		color: #818187; /* text color */
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;

	}

	.categoryMeta ul li a:hover, .singleMeta ul li a:hover {
		color: #a0a0b0;
	}

	body.category .content, .single .content { padding-top: 0; }

	.categoryMeta i, .singleMeta i { font-size: 14px; margin-right: 5px; }

	.subscribe i { color: #f97410; }
	.popular i { color: #f9db10; }
	.videos i { 
		font-size: 13px;
		color: #8291b1;
		margin-right: 6px;
	}
	.galleries i { 
		color: #55c9eb;
		font-size: 13px;
		margin-right: 6px;
	}

	.categoryFeatured {
		margin: 0 0 35px;
		padding: 0 0 35px;
		border-bottom: 2px solid #e0e0e0;
	}

	.categoryFeatured img { 
		max-width: 100%;                       
		display: block; 
		-moz-border-radius: 3px;
		-webkit-border-radius:3px;
		border-radius:  3px;
	}

	.categoryFeaturedInfo { padding-left: 20px; }
	.categoryFeaturedInfo p { font-size: 13px; margin-bottom: 15px; }
	.categoryFeaturedInfo h1 {
	text-transform: uppercase;
	margin-top: 8px;
	line-height: 33px;
	font-weight: 600;
	font-family: 'Dosis', sans-serif;
	font-size: 24px;
	margin-bottom: 17px;
	}

	.categoryFeaturedInfo h1 a {
		text-decoration: none;
		padding: 2px 0; 
	}

	.categoryBadge a {
		color: #fff !important;
	   font-family: 'Open Sans', sans-serif;
	   letter-spacing: 0;
	   text-transform: uppercase;
	   text-decoration: none;
	}
	.categoryBadge {
	   margin: 0 0 0 15px;
	font-size: 10px;
	padding: 4px 6px 4px 5px;
	font-weight: bold;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}

	.pageTitle .categoryBadge {
		line-height: 22px;
	position: absolute;
	margin: 7px 0 0 18px;
	font-size: 10px;
	padding: 0px 6px 0px 6px;
	font-weight: bold;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}

	.homePostsInfo .categoryBadge, .review-item-title .categoryBadge, .categoryWidgetInfo .categoryBadge {
		  margin: 0 0 0 10px;
	}

	.slider-item-thumb .categoryBadge { 
		position: absolute;
		top: 10px;
		left: -5px;
		-moz-border-radius: 3px;

	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */

	-moz-box-shadow: 0 1px 1px rgba(0,0,0,.11); /* drop shadow */
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.11); /* drop shadow */
	box-shadow: 0 1px 1px rgba(0,0,0,.11); /* drop shadow */

	}

	.videoIcon {
		position: absolute;
		top: 25%;
		left: 39%;
	}

	.slider-item-thumb .categoryBadge {
	   padding: 0px 6px 0px 5px;
	}
	.categoryFeaturedInfo ul {
		float: left;
	margin: 0;
	padding: 23px 0 0;
	border-top: 1px solid #e8e8e8;
	width: 100%;
	}

	.categoryFeaturedInfo ul li, .categoryPostsInfo ul li, .homePostsInfo ul li {
		display: inline;
	margin: 0 15px 0 0;
	}
	.categoryFeaturedInfo ul li:last-of-type, .categoryPostsInfo ul li:last-of-type, .homePostsInfo ul li:last-of-type { margin: 0; }

	.categoryFeaturedInfo ul li a, .categoryPostsInfo ul li a, .homePostsInfo ul li a {
		color: #818187;
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding: 22px 0 23px;
	}

	.categoryFeaturedInfo i, .categoryPostsInfo i, .homePostsInfo i {
		font-size: 14px;
	margin-right: 5px;
	}

	a.author i { color: #ebbc55; }
	.tags i { color: #64c51d; }
	.comments i { color: #55c9eb; }

	.categoryPostsInfo ul, .homePostsInfo ul {
		float: left;
	margin: 0;
	padding: 23px 0 0 0;
	border-top: 1px solid #e8e8e8;
	width: 100%;
	}

	.categoryPostsInfo, .homePostsInfo { padding: 0 20px; }
	.categoryPostsInfo p, .homePostsInfo p { font-size: 13px;  }
	.categoryPostsInfo h1, .homePostsInfo h1, .categoryWidgetInfo h1 {
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Dosis', sans-serif;
	margin-bottom: 10px;
	font-size: 22px;
	line-height: 31px;
	}


	.categoryPostsInfo h1 a, .homePostsInfo h1 a, .categoryWidgetInfo h1 a {
		text-decoration: none;
		padding: 2px 0;

	}

	.categoryPostsThumbs img, .homePostsThumbs img { 
		max-width: 100%; 
		display: block;
		-moz-border-radius: 3px;
		-webkit-border-radius:3px;
		border-radius:  3px;
	}

	.categoryPost, .homePost {
	 float: left;
	 border-bottom: 2px solid #e0e0e0;
	 padding-bottom: 35px;
	 margin-bottom: 35px;
	}

	.categoryPostBtn {
		border: 1px solid #cdcdcd; /* stroke */
	-moz-border-radius: 3px;
	padding: 65px 5px;
	float: right;
	text-decoration: none;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.11); /* drop shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.11); /* drop shadow */
	box-shadow: 0 1px 3px rgba(0,0,0,.11); /* drop shadow */
	}

	.categoryPostBtn:hover {
		background: #f7f7f7;;
	}

	.categoryPostBtn:active {
		border: 1px solid #cdcdcd; /* stroke */
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* border radius */
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box; /* prevents bg color from leaking outside the border */
	background-color: #f7f7f7; /* layer fill content */
	-moz-box-shadow: inset 0 0 5px rgba(0,0,0,.21); /* inner shadow */
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.21); /* inner shadow */
	box-shadow: inset 0 0 5px rgba(0,0,0,.21); /* inner shadow */

	}

	.categoryPostBtn i { font-size: 20px; color: #adadad; }

	/* //// Category Page */


	/* Single Review Page */

	.singleImg { position: relative; margin-bottom: 30px; }
	.singleImg img { 
		display: block; 
		max-width: 100%; 
		-moz-border-radius: 3px;
		-webkit-border-radius:3px;
		border-radius:  3px;
	}
	.singleImg .slider-item-review .note { 
		margin: 0; 
		font-size: 40px;
		padding: 20px 12px;
		-moz-border-radius: 5px 0 0 5px;
		-webkit-border-radius: 5px 0 0 5px;
		border-radius:  5px 0 0 5px;
	}

	.singleImg .slider-item-review .description {
		font-size: 28px;
		padding: 20px;
		-moz-border-radius: 0 5px 5px 0;
		-webkit-border-radius: 0 5px 5px 0;
		border-radius:   0 5px 5px 0;
	}
	.singleImg .slider-item-review {
		position: absolute;
		bottom: 15px;
		left: 15px;
	}

	/* //// Single Review Page */

	/* Widgets */

	.blogroll {
		margin: 0;
	}

	.sidebar .blogroll li {
		border-bottom: 1px dashed #e7e7e7;
		margin-bottom: 15px;
		padding-bottom: 15px;
	}
	.sidebar .blogroll li:last-of-type {
		border: none;
		margin: 0;
		padding: 0;
	}
	.blogroll li a {
		text-decoration: none;
	padding: 2px 0;
	font-size: 15px;
	line-height: 22px;
	font-weight: 700;
	text-transform: uppercase;

	font-family: 'Dosis', sans-serif;
	}

	.categoryWidget { margin: 0; }
	.widget_category .categoryTitle { 
		width: 100%; 
		text-align: center; 
		padding: 7px 0; 
		-moz-border-radius: 3px;
		color: #fff;
		margin-bottom: 20px;
		text-decoration: none;
		-webkit-border-radius:3px;
		border-radius:  3px;
	}

	.categoryWidgetInfo h1 {
	font-size: 15px;
	line-height: 22px;
	font-weight: 700;
	}


	.sidebar .categoryWidget li {
		float: left;
	border-bottom: 2px dashed #e0e0e0;
	padding-bottom: 10px;
	margin-bottom: 20px;
	}
	.sidebar .categoryWidget li:last-of-type { 
		border: none; 
	padding-bottom: 0;
	margin-bottom: 0;
	}
	.sidebar p a { 
		font-weight: bold;
		text-decoration: none;
	}
	.sidebar { padding: 50px 0; }
	.sidebar li { margin-bottom: 40px; }
	.sidebar li:last-of-type { margin-bottom: 0; }

	.adwidget {
		border: 1px solid #d1d1d1;
		padding: 14px;
		-moz-border-radius: 3px;
		-webkit-border-radius:3px;
		border-radius:  3px;
	}

	.adwidget img {
		display: block;
		max-width: 100%;
	}
	.widget_social ul, .videos { margin: 0; }

	.widget_social ul li {
		float: left;
		margin-right: 8px;
		width: 31%;
		margin-bottom: 0;
	}
	.widget_social ul li:last-of-type { margin-right: 0; }

	.widget_social .icon {
		  display: block;
		padding: 25px;
		text-align: center;
		font-size: 17px;
			-moz-border-radius: 3px 3px 0 0;
		-webkit-border-radius: 3px 3px 0 0;
		border-radius:  3px 3px 0 0;
	   text-shadow: 0 1px 2px rgba(0,0,0,.1); /* drop shadow */
	}

	.widget_social .info {
		text-align: center;
		padding: 15px 0;
		-moz-border-radius: 0 0 3px 3px;
		-webkit-border-radius: 0 0 3px 3px;
		border-radius:  0 0 3px 3px;
	}

	.widget_social .count {
		color: #fff; /* text color + color overlay */
		font-family: "Dosis";
		font-size: 17px;
		text-shadow: 0 1px 2px rgba(0,0,0,.12); /* drop shadow */
		display: block;
		text-decoration: none;
		margin-bottom: 3px;
		font-weight: 600;
	}

	.widget_social .title {
		color: #fff; /* text color + color overlay */
		font-family: "Droid Serif", serif;
		font-size: 12px;
		font-weight: bold;
		opacity: 0.9;
		font-style: italic;
		text-decoration: none;
		text-shadow: 0 1px 2px rgba(0,0,0,.12); /* drop shadow */

	}

	.rssCount .icon {
		color: #fff;
		background: #f97410;
		text-decoration: none;
	}

	.rssCount .info {
		background: #f78834;
	}

	.twitterCount .icon {
		color: #fff;
		background: #1db4f1;
		display: block;
		text-align: center;
		 text-decoration: none;
	}

	.twitterCount .info {
		background: #3cc0f6;
	}

	.facebookCount .icon {
		color: #fff;
		background: #3b5998;
		display: block;
		 text-decoration: none;
		text-align: center;
	}

	.facebookCount .info {
		background: #4b6498;
	}

	.reviews { margin: 0; }

	.reviews li { margin-bottom: 20px; }

	.featured-review-item {
		overflow: hidden;
		background: #505058 url("images/slider-item-bg.png") center center no-repeat;
		height: 290px;
		margin-bottom: 6px;
		position: relative;
		-moz-box-shadow: 0 2px 4px rgba(0,0,0,.28); /* drop shadow */
		-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.28); /* drop shadow */
		box-shadow: 0 2px 4px rgba(0,0,0,.28); /* drop shadow */
	}

	.review-item {
	   margin-bottom: 6px;
		-moz-box-shadow: 0 2px 4px rgba(0,0,0,.28); /* drop shadow */
		-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.28); /* drop shadow */
		box-shadow: 0 2px 4px rgba(0,0,0,.28); /* drop shadow */
	}

	.review-item-thumb img {
		display: block;
		max-width: 100%;
	}

	.review-item-thumb-img img {
		width: 100%;
	}

	.featured-review-item .review-item-thumb .categoryBadge { 
		position: absolute;
		top: 10px;
		left: -5px;
		-moz-border-radius: 3px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box; /* prevents bg color from leaking outside the border */
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,.11); /* drop shadow */
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.11); /* drop shadow */
		box-shadow: 0 1px 1px rgba(0,0,0,.11); /* drop shadow */
	}


	.review-item-thumb .categoryBadge {
		padding: 0px 6px 0px 5px;
	}

	.featured-review-item .review-item-info {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
	}

	.item-review { 
		display: block; 
		margin: 20px 0 10px;
	}

	.featured-review-item .item-review { margin: 0; }

	.item-review .note {

		-moz-border-radius: 2px 0 0 2px;
		-webkit-border-radius: 2px 0 0 2px;
		border-radius: 2px 0 0 2px;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;
		padding: 9px 7px 9px 7px;
		font-family: "Abel";
		font-size: 25px;
		float: left;
	}

	.featured-review-item .item-review .note {
			margin-left: 15px;
	}



	.item-review .description {
		-moz-border-radius: 0 2px 2px 0;
		-webkit-border-radius:0 2px 2px 0;
		border-radius: 0 2px 2px 0;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box; /* prevents bg color from leaking outside the border */
		-moz-box-shadow: 0 1px 1px rgba(0,0,0,.11); /* drop shadow */
		-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.11); /* drop shadow */
		box-shadow: 0 1px 1px rgba(0,0,0,.11); /* drop shadow */
		padding: 9px 11px;
		font-family: "Abel";
		font-size: 16px;
		float: left;
		text-transform: uppercase;
		width: 70%;
	}

	.featured-review-item .item-review .description { width: inherit; }



	.review-item-title { 
		padding: 17px 19px;
		background: #000;
		margin-top: 20px;
	}

	.featured-review-item .review-item-title { 
		padding: 14px 17px;
	}

	.review-item-info-title {
		font-size: 16px;
		font-family: "Dosis";
		letter-spacing: -0.04em;
		word-spacing: 0.17em;
		line-height: 23px;
		text-transform: uppercase;
		font-weight: 600;
	}
	.review-item-info-title a {
		text-decoration: none;
		padding: 2px 0;
		color: #d9d9d9;
	}

	.review-item-info-title a:hover { color: #fff; }

	.widget_reviewInfo ul { margin: 0; }
	.widget_reviewInfo ul li { float: left; margin: 0; }

	.widget_reviewInfo .categoryBadge {
		background: #f52626;
		margin-left: 0;
		color: #fff;
		margin-top: 15px;
		display: inline-block !important;
		padding: 1px 6px 2px 5px;
		font-family: 'Open Sans', sans-serif;
	letter-spacing: 0;
	text-transform: uppercase;
	text-decoration: none;
	}

	.widget_reviewInfo ul li .title { 
		font-weight: 500;
	float: left;
	background: #f4f4f4;
	color: #2c2c2c;
	font-family: "Dosis";
	font-size: 20px;
	padding: 19px;
	width: 145px;
	border: 1px solid #e7e7e7;
	}

	.widget_reviewInfo ul li.even .title {
		background: #fff;
	}

	.widget_reviewInfo .title span {
		display: block;
	}

	.widget_reviewInfo ul li .note {
	   float: left;
	padding: 38px 0;
	background: #000;
	color: #fff;
	font-family: "Dosis";
	font-size: 36px;
	text-align: center;
	width: 95px;

	}


	.widget_reviewInfo ul li.even .note {
		background: #232323;
	}
	.widget_reviewInfo ul li.result .note {
		background: #f52626;
	}

	.pageReview {
		float: left;
	width: 280px;
	margin: 0 50px 50px 0;
	}
	/* //// Widgets */

	/* Footer */

	#footer {
		border-top: 1px solid #e7e7e7;
		padding: 40px 0;
	}

	.footerWidgets {
		padding: 0;
	}

	.footerBottomActive .footerWidgets {
		border-bottom: 1px solid #e7e7e7;
		margin-bottom: 30px;
		padding: 0 0 30px 0;
	}

		.footerWidgets .widget:last-child,
		.footerWidgets .widget.last-child {
			margin: 0;
		}

	.footerLeft { float: left; }
	.footerRight { float: right; }
	.footerRight ul { margin: 10px 0 0 0; }
	.footerRight ul li { 
		display: inline; 
		margin: 0 ; 
		margin-right: 30px; 
	}
	.footerRight ul li:last-of-type { margin: 0; }
	.footerRight ul li a { 
		text-decoration: none;
		color: #999;
		font-family: 'Dosis', sans-serif;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 26px;
	}
	.footerRight ul li a:hover { color: #555; }

/**
 * Colors
 */

	/* Posts Title Link Color */

	.categoryFeaturedInfo h1 a, 
	.categoryPostsInfo h1 a, 
	.homePostsInfo h1 a, 
	.categoryWidgetInfo h1 a, 
	.blogroll li a,
	.sidebar p a,
	.postContent p a

	{
		 color: #5f7095; 
	}

	.categoryFeaturedInfo h1 a:hover, 
	.categoryPostsInfo h1 a:hover, 
	.homePostsInfo h1 a:hover, 
	.categoryWidgetInfo h1 a:hover, 
	.blogroll li a:hover,
	.sidebar p a:hover,
	.postContent p a:hover

	{
		 color: #798bb1;
	}

	/* //// Posts Title Link Color */


	/* Navigation Color */

	.mainNav a { color: #84848c; }

	.socialNav a { color: #84848c; }

	.big .mobileMenuBtn { background: url(images/smallMobileBars.png) #f52626 no-repeat center center; }

	.mobileMenu nav { background: #f52626; }

	.mobileMenu nav ul li { background: #ac1414; }

	.mobileMenu nav ul li span { background: #ac1414; }

	.mobileMenu nav ul li.category { background: #d81b1b; }

	.mobileMenu nav ul li a { color: #fff; }

	.mobileMenuBtn { background: url(images/smallMobileBars.png) #f52626 no-repeat center center; }

	.mobileActive, .mobileActive:hover { background-color: #eb2424 }

	.mainNav .active {
		box-shadow: inset 0 -5px 0 #f52626;
	}

	/* //// Navigation Links Color */

	/* SLIDER */

	.slider-featured-title,
	 .slider-item-title 
	 { 
		 background: #000; 
	 }

	.share .shareBtn { background: #f52626; }

	.shareBtn, .singleMeta ul li .shareBtn, .shareBtn:hover, .singleMeta ul li .shareBtn:hover   { color: #eeefef; }

	#slider-featured-info-title a, .slider-item-info-title a { color: #d9d9d9; }

	#slider-featured-info-title a:hover, .slider-item-info-title a:hover { color: #fff; }

	.slider-item-review .note, .item-review .note { 
		background-color: #f52525; 
		color: #fff;
	}

	.slider-item-review .description  {
					 background-color: #000; /* layer fill content */
					 color: #fff; /* text color */
				 }
				 
				 .item-review .description { 
					 background: #333; 
						 color: #fff; /* text color */
				 }
				 
				 .featured-review-item .item-review .description { background: #000; }

	/* //// SLIDER */

	/* MISC */

	.loadMore, .loadMore:visited {
	   background-color: #7c7c94; /* layer fill content */
	color: #d7d7de; /* text color */
	}

	.loadMore:hover {
		color: #fff;
		background: #6b6b80;
	}

	.loadMore:active {
	color: #d7d7de; /* text color */
	}

	.pageTitle {  background: url(images/patterns/1.png) repeat #313146; }

	.pageTitle h1 { color: #fefefe; }
	/* //// MISC */

/**
 * Superfish
 */


	/*** ESSENTIAL STYLES ***/
	.sf-menu, .sf-menu * {
		margin:			0;
		padding:		0;
		list-style:		none;
		 
	}
	.sf-menu {
		line-height:	1.0;
	}
	.sf-menu ul {
		position:		absolute;
		top:			-999em;
		width:			13em; /* left offset of submenus need to match (see below) */
	z-index: 99999 !important;
	  
	}
	.sf-menu ul li ul, .sf-menu ul li ul li ul, .sf-menu ul li ul li ul li ul {z-index: 99999 !important;} 
	.sf-menu ul li {
		width:			100%;
	}
	.sf-menu li:hover {
		visibility:		inherit; /* fixes IE7 'sticky bug' */
	}
	.sf-menu li {
		float:			left;
		position:		relative;
	}
	.sf-menu a {
		display:		block;
		position:		relative;
	}
	.sf-menu li:hover ul,
	.sf-menu li.sfHover ul {
		left:			0;
		top:			108px; /* match top ul list item height */
		z-index:		99;
	}
	ul.sf-menu li:hover li ul,
	ul.sf-menu li.sfHover li ul {
		top:			-999em;
	}
	ul.sf-menu li li:hover ul,
	ul.sf-menu li li.sfHover ul {
		left:			17.95em; /* match ul width */
		top:			0;
	}
	ul.sf-menu li li:hover li ul,
	ul.sf-menu li li.sfHover li ul {
		top:			-999em;
	}
	ul.sf-menu li li li:hover ul,
	ul.sf-menu li li li.sfHover ul {
		left:			18.3em; /* match ul width */
		top:			0;
	}

	/*** DEMO SKIN ***/
	.sf-menu {
		
		
	}
	.sf-menu a {

		
		text-decoration:none;
	}
	.sf-menu a, .sf-menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
		
	}
	.sf-menu li {
		background:		#fff;
	}
	.sf-menu li li {
		background:		#fff;
	}
	.sf-menu li li li {
		background:		#fff;
	}
	.sf-menu li:hover, 
	.sf-menu li.sfHover,
	.sf-menu a:focus, 
	.sf-menu a:hover, 
	.sf-menu a:active 
	{

		outline:		0;
	   
	}


	/*** arrows **/
	.sf-menu a.sf-with-ul {
		
		min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
	}



	.mainNav li ul li a {
			padding: 20px;
			border-right: none !important;
			display: block;
			text-transform: uppercase;
			font-size: 17px;
			font-weight: 600;
			line-height: 23px;
			width: 100%;
	}
	.mainNav li ul li  {
		  padding-right: 40px;
		 border-right:1px solid #e7e7e7;;
		 border-bottom: 1px solid #e7e7e7;
	}

	.mainNav li ul li:first-of-type { border-top: 1px solid #e7e7e7; }

	.sf-sub-indicator
	{
		position:		absolute;
		display:		block;
		left:			44.5%;
		top:			1.05em; /* IE6 only */
		width:			11px;
		height:			7px;
		text-indent: 	-999em;
		overflow:		hidden;
		background:		url('images/subArrow.png') no-repeat !important; /* 8-bit indexed alpha png. IE6 gets solid image only */
	}
	.active .sf-sub-indicator {
		background-position:  0 -7px !important;
	}
	a > .sf-sub-indicator {  /* give all except IE6 the correct values */
		top:			3.75em;
		
	}
	/* apply hovers to modern browsers */

	a:hover > .sf-sub-indicator,

	li:hover > a > .sf-sub-indicator,
	li.sfHover > a > .sf-sub-indicator {
		background-position:  0 -7px;
	}

	/* point right for anchors in subs */
	.sf-menu ul .sf-sub-indicator {background-position:  0 -14px !important; }
	.sf-menu ul a > .sf-sub-indicator { background-position:  0 0; }
	/* apply hovers to modern browsers */
	.sf-menu ul a:focus > .sf-sub-indicator,
	.sf-menu ul a:hover > .sf-sub-indicator,
	.sf-menu ul a:active > .sf-sub-indicator,
	.sf-menu ul li:hover > a > .sf-sub-indicator,
	.sf-menu ul li.sfHover > a > .sf-sub-indicator {
		background-position:  0 -14px !important;
	}

/**
 * Slider plugins
 */

	/* basic scrollbar styling */
	/* vertical scrollbar */
	.mCSB_container{
		width:auto;
		margin-right:30px;
		overflow:hidden;
	}
	.mCSB_container.mCS_no_scrollbar{
		margin-right:0;
	}
	.mCS_disabled>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar,
	.mCS_destroyed>.mCustomScrollBox>.mCSB_container.mCS_no_scrollbar{
		margin-right:30px;
	}
	.mCustomScrollBox>.mCSB_scrollTools{
		width:16px;
		height:100%;
		top:0;
		right:0;
	}
	.mCSB_scrollTools .mCSB_draggerContainer{
		position:absolute;
		top:0;
		left:0;
		bottom:0;
		right:0; 
		height:auto;
	}
	.mCSB_scrollTools a+.mCSB_draggerContainer{
		margin:20px 0;
	}
	.mCSB_scrollTools .mCSB_draggerRail{
		width:2px;
		height:100%;
		margin:0 auto;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
	}
	.mCSB_scrollTools .mCSB_dragger{
		cursor:pointer;
		width:100%;
		height:30px;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		width:4px;
		height:100%;
		margin:0 auto;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
		text-align:center;
	}
	.mCSB_scrollTools .mCSB_buttonUp,
	.mCSB_scrollTools .mCSB_buttonDown{
		display:block;
		position:relative;
		height:20px;
		overflow:hidden;
		margin:0 auto;
		cursor:pointer;
	}
	.mCSB_scrollTools .mCSB_buttonDown{
		top:100%;
		margin-top:-40px;
	}
	/* horizontal scrollbar */
	.mCSB_horizontal>.mCSB_container{
		height:auto;
		margin-right:0;
		margin-bottom:30px;
		overflow:hidden;
	}
	.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
		margin-bottom:0;
	}
	.mCS_disabled>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar,
	.mCS_destroyed>.mCSB_horizontal>.mCSB_container.mCS_no_scrollbar{
		margin-right:0;
		margin-bottom:30px;
	}
	.mCSB_horizontal.mCustomScrollBox>.mCSB_scrollTools{
		width:100%;
		height:16px;
		top:auto;
		right:auto;
		bottom:0;
		left:0;
		overflow:hidden;
	}
	.mCSB_horizontal>.mCSB_scrollTools a+.mCSB_draggerContainer{
		margin:0 20px;
	}
	.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
		width:100%;
		height:2px;
		margin:7px 0;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
	}
	.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger{
		width:30px;
		height:100%;
	}
	.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		width:100%;
		height:4px;
		margin:6px auto;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
	}
	.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonLeft,
	.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
		display:block;
		position:relative;
		width:20px;
		height:100%;
		overflow:hidden;
		margin:0 auto;
		cursor:pointer;
		float:left;
	}
	.mCSB_horizontal>.mCSB_scrollTools .mCSB_buttonRight{
		margin-left:-40px;
		float:right;
	}
	.mCustomScrollBox{
		-ms-touch-action:none; /*MSPointer events - direct all pointer events to js*/
	}

	/* default scrollbar colors and backgrounds (default theme) */
	.mCustomScrollBox>.mCSB_scrollTools{
		opacity:0.75;
		filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
	}
	.mCustomScrollBox:hover>.mCSB_scrollTools{
		opacity:1;
		filter:"alpha(opacity=100)"; -ms-filter:"alpha(opacity=100)"; /* old ie */
	}
	.mCSB_scrollTools .mCSB_draggerRail{
		background:#000; /* rgba fallback */
		background:rgba(0,0,0,0.4);
		filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		background:#fff; /* rgba fallback */
		background:rgba(255,255,255,0.75);
		filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
	}
	.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
		background:rgba(255,255,255,0.85);
		filter:"alpha(opacity=85)"; -ms-filter:"alpha(opacity=85)"; /* old ie */
	}
	.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
		background:rgba(255,255,255,0.9);
		filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
	}
	.mCSB_scrollTools .mCSB_buttonUp,
	.mCSB_scrollTools .mCSB_buttonDown,
	.mCSB_scrollTools .mCSB_buttonLeft,
	.mCSB_scrollTools .mCSB_buttonRight{
		background-image:url(mCSB_buttons.png);
		background-repeat:no-repeat;
		opacity:0.4;
		filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
	}
	.mCSB_scrollTools .mCSB_buttonUp{
		background-position:0 0;
		/* 
		sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
		*/
	}
	.mCSB_scrollTools .mCSB_buttonDown{
		background-position:0 -20px;
		/* 
		sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
		*/
	}
	.mCSB_scrollTools .mCSB_buttonLeft{
		background-position:0 -40px;
		/* 
		sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
		*/
	}
	.mCSB_scrollTools .mCSB_buttonRight{
		background-position:0 -56px;
		/* 
		sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
		*/
	}
	.mCSB_scrollTools .mCSB_buttonUp:hover,
	.mCSB_scrollTools .mCSB_buttonDown:hover,
	.mCSB_scrollTools .mCSB_buttonLeft:hover,
	.mCSB_scrollTools .mCSB_buttonRight:hover{
		opacity:0.75;
		filter:"alpha(opacity=75)"; -ms-filter:"alpha(opacity=75)"; /* old ie */
	}
	.mCSB_scrollTools .mCSB_buttonUp:active,
	.mCSB_scrollTools .mCSB_buttonDown:active,
	.mCSB_scrollTools .mCSB_buttonLeft:active,
	.mCSB_scrollTools .mCSB_buttonRight:active{
		opacity:0.9;
		filter:"alpha(opacity=90)"; -ms-filter:"alpha(opacity=90)"; /* old ie */
	}

	/*scrollbar themes*/
	/*dark (dark colored scrollbar)*/
	.mCS-dark>.mCSB_scrollTools .mCSB_draggerRail{
		background:#000; /* rgba fallback */
		background:rgba(0,0,0,0.15);
	}
	.mCS-dark>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		background:#000; /* rgba fallback */
		background:rgba(0,0,0,0.75);
	}
	.mCS-dark>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
		background:rgba(0,0,0,0.85);
	}
	.mCS-dark>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCS-dark>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
		background:rgba(0,0,0,0.9);
	}
	.mCS-dark>.mCSB_scrollTools .mCSB_buttonUp{
		background-position:-80px 0;
	}
	.mCS-dark>.mCSB_scrollTools .mCSB_buttonDown{
		background-position:-80px -20px;
	}
	.mCS-dark>.mCSB_scrollTools .mCSB_buttonLeft{
		background-position:-80px -40px;
	}
	.mCS-dark>.mCSB_scrollTools .mCSB_buttonRight{
		background-position:-80px -56px;
	}
	/*light-2*/
	.mCS-light-2>.mCSB_scrollTools .mCSB_draggerRail{
		width:4px;
		background:#fff; /* rgba fallback */
		background:rgba(255,255,255,0.1);
		-webkit-border-radius:1px;
		-moz-border-radius:1px;
		border-radius:1px;
	}
	.mCS-light-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		width:4px;
		background:#fff; /* rgba fallback */
		background:rgba(255,255,255,0.75);
		-webkit-border-radius:1px;
		-moz-border-radius:1px;
		border-radius:1px;
	}
	.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
		width:100%;
		height:4px;
		margin:6px 0;
	}
	.mCS-light-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		width:100%;
		height:4px;
		margin:6px auto;
	}
	.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
		background:rgba(255,255,255,0.85);
	}
	.mCS-light-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCS-light-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
		background:rgba(255,255,255,0.9);
	}
	.mCS-light-2>.mCSB_scrollTools .mCSB_buttonUp{
		background-position:-32px 0;
	}
	.mCS-light-2>.mCSB_scrollTools .mCSB_buttonDown{
		background-position:-32px -20px;
	}
	.mCS-light-2>.mCSB_scrollTools .mCSB_buttonLeft{
		background-position:-40px -40px;
	}
	.mCS-light-2>.mCSB_scrollTools .mCSB_buttonRight{
		background-position:-40px -56px;
	}
	/*dark-2*/
	.mCS-dark-2>.mCSB_scrollTools .mCSB_draggerRail{
		width:4px;
		background:#000; /* rgba fallback */
		background:rgba(0,0,0,0.1);
		-webkit-border-radius:1px;
		-moz-border-radius:1px;
		border-radius:1px;
	}
	.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		width:4px;
		background:#000; /* rgba fallback */
		background:rgba(0,0,0,0.75);
		-webkit-border-radius:1px;
		-moz-border-radius:1px;
		border-radius:1px;
	}
	.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
		width:100%;
		height:4px;
		margin:6px 0;
	}
	.mCS-dark-2.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		width:100%;
		height:4px;
		margin:6px auto;
	}
	.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
		background:rgba(0,0,0,0.85);
	}
	.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCS-dark-2>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
		background:rgba(0,0,0,0.9);
	}
	.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonUp{
		background-position:-112px 0;
	}
	.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonDown{
		background-position:-112px -20px;
	}
	.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonLeft{
		background-position:-120px -40px;
	}
	.mCS-dark-2>.mCSB_scrollTools .mCSB_buttonRight{
		background-position:-120px -56px;
	}
	/*light-thick*/
	.mCS-light-thick>.mCSB_scrollTools .mCSB_draggerRail{
		width:4px;
		background:#fff; /* rgba fallback */
		background:rgba(255,255,255,0.1);
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		border-radius:2px;
	}
	.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		width:6px;
		background:#fff; /* rgba fallback */
		background:rgba(255,255,255,0.75);
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		border-radius:2px;
	}
	.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
		width:100%;
		height:4px;
		margin:6px 0;
	}
	.mCS-light-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		width:100%;
		height:6px;
		margin:5px auto;
	}
	.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
		background:rgba(255,255,255,0.85);
	}
	.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCS-light-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
		background:rgba(255,255,255,0.9);
	}
	.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonUp{
		background-position:-16px 0;
	}
	.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonDown{
		background-position:-16px -20px;
	}
	.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonLeft{
		background-position:-20px -40px;
	}
	.mCS-light-thick>.mCSB_scrollTools .mCSB_buttonRight{
		background-position:-20px -56px;
	}
	/*dark-thick*/
	.mCS-dark-thick>.mCSB_scrollTools .mCSB_draggerRail{
		width:4px;
		background:#000; /* rgba fallback */
		background:rgba(0,0,0,0.1);
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		border-radius:2px;
	}
	.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		width:6px;
		background:#000; /* rgba fallback */
		background:rgba(0,0,0,0.75);
		-webkit-border-radius:2px;
		-moz-border-radius:2px;
		border-radius:2px;
	}
	.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
		width:100%;
		height:4px;
		margin:6px 0;
	}
	.mCS-dark-thick.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		width:100%;
		height:6px;
		margin:5px auto;
	}
	.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
		background:rgba(0,0,0,0.85);
	}
	.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCS-dark-thick>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
		background:rgba(0,0,0,0.9);
	}
	.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonUp{
		background-position:-96px 0;
	}
	.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonDown{
		background-position:-96px -20px;
	}
	.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonLeft{
		background-position:-100px -40px;
	}
	.mCS-dark-thick>.mCSB_scrollTools .mCSB_buttonRight{
		background-position:-100px -56px;
	}
	/*light-thin*/
	.mCS-light-thin>.mCSB_scrollTools .mCSB_draggerRail{
		background:#fff; /* rgba fallback */
		background:rgba(255,255,255,0.1);
	}
	.mCS-light-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		width:2px;
	}
	.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
		width:100%;
	}
	.mCS-light-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		width:100%;
		height:2px;
		margin:7px auto;
	}
	/*dark-thin*/
	.mCS-dark-thin>.mCSB_scrollTools .mCSB_draggerRail{
		background:#000; /* rgba fallback */
		background:rgba(0,0,0,0.15);
	}
	.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		width:2px;
		background:#000; /* rgba fallback */
		background:rgba(0,0,0,0.75);
	}
	.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail{
		width:100%;
	}
	.mCS-dark-thin.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		width:100%;
		height:2px;
		margin:7px auto;
	}
	.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
		background:rgba(0,0,0,0.85);
	}
	.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
	.mCS-dark-thin>.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
		background:rgba(0,0,0,0.9);
	}
	.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonUp{
		background-position:-80px 0;
	}
	.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonDown{
		background-position:-80px -20px;
	}
	.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonLeft{
		background-position:-80px -40px;
	}
	.mCS-dark-thin>.mCSB_scrollTools .mCSB_buttonRight{
		background-position:-80px -56px;
	}

/**
 * Slider
 */

	#slider-main-inner:before, #slider-main-inner:after { content: " "; display: table; }
	#slider-main-inner:after { clear: both; }
	#slider-main-inner { *zoom: 1; }

	#slider {
	  background: #2c2c34;
	  position: relative;
	}

	  #slider-inner {
		overflow: hidden;
		position: relative;
	  }

		#slider-featured-wrapper {
		  background: transparent url("images/slider-separator.png") right center no-repeat;
		  float: left;
		  padding-right: 10px;
		  position: relative;
		  width: 640px;
		  z-index: 10;
		}

		  #slider-featured {
			background: #32323c;
			padding: 40px 30px;
		  }

			#slider-featured-inner {
			  position: relative;
		 
	-moz-box-shadow: 0 2px 4px rgba(0,0,0,.28); /* drop shadow */
	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.28); /* drop shadow */
	box-shadow: 0 2px 4px rgba(0,0,0,.28); /* drop shadow */

			}

			  #slider-featured-thumb {
				opacity: 0;
			  }

				#slider-featured-thumb img {
				  display: block;
				  max-width: 100%;
				}

				.slider-featured-title {
							 padding: 18px 20px;
				}
				
			  #slider-featured-info {
			   
				bottom: 0;
				left: 0;
		
				position: absolute;
				right: 0;
			  }

			  #slider-featured-info ul { margin: 0; }
			  #slider-featured-info ul li { display: inline; margin: 0 15px 0 0; }

			  #slider-featured-info ul li a {
				  color: #eeefef;
				  font-family: "Droid Sans", sans-serif;
				  font-size: 12px;
				  font-weight: bold;
				  text-transform: uppercase;
				  text-decoration: none;
		  
			  }

			  #slider-featured-info ul li a i {
				  font-size: 14px;
				  margin-right: 5px;
			  }

			  #slider-featured-info ul { 
				  background: rgba(0,0,0,0.6); 
				  padding: 11px 20px 10px 20px;
			  }
			  
			   
			.singleMeta .share {
				  background: #f52626;
				  display: block;
				  position: absolute;
				  top: 0;
				  padding: 12px 6px 12px 11px;
				  right: 0;
			  }
			  .singleMeta .share:hover {
				
		box-shadow: inset 0 0 40px rgba(0,0,0,0.1), inset 0 0 100px rgba(0,0,0,0.1);
			  }
			  
		   .share .shareBtn {
						   display: block;
				  position: absolute;
				  top: 0;
				  padding: 12px 6px 12px 11px;
				  right: 0;
			  }
			  
			  .shareBtn, .singleMeta ul li .shareBtn  {
	font-family: "Droid Sans", sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
			  }
			  
			  .singleMeta ul li .shareBtn {  padding: 21px 17px; }
			  
			  .singleMeta ul li .shareBtn i { font-size: 18px; }
			  
		 .share .shareBtn:hover,.share .shareActive {

				  box-shadow: inset 0 0 40px rgba(0,0,0,0.1), inset 0 0 100px rgba(0,0,0,0.1);
			  }


			.share { margin: 0; }

			.shareIt {
				  position: absolute;
				  top: -114px;
				  right: 0;
				  background: #f52626;
				  padding: 13px 13px 5px;
				  -moz-border-radius: 3px 3px 0 3px;
				  -webkit-border-radius: 3px 3px 0 3px;
				  border-radius:   3px 3px 0 3px;
				  display: none;
			  }
			  .shareIt a, .singleMeta ul li .shareIt a {
				  display: block;
				  padding: 10px 21px 10px 6px;
				  -moz-border-radius: 3px;
				  -webkit-border-radius:3px;
				  border-radius:  3px;
				  margin-bottom: 10px;
				  min-width: 95px;
				  color: #fff;
				  background: #d81b1b;
			  }
			  .shareIt a:hover { background: #ac1414 !important; }
			  
			  .shareIt span {
				  color: #fff;
				   margin-bottom: 10px;
	font-family: "Droid Serif", serif;
	font-size: 12px;
	font-weight: bold;

	font-style: italic;
	text-decoration: none;
	text-shadow: 0 1px 2px rgba(0,0,0,.12);
	display: block
			  }

			  #slider-featured-info ul li .share i { font-size: 15px; }

			  #slider-featured-info-title {
				  font-size: 21px;
				  font-family: "Dosis";
				  letter-spacing: -0.04em;
				  word-spacing: 0.17em;
				  line-height: 31px;
				  text-transform: uppercase;
				  font-weight: 500;
			  }
			  #slider-featured-info-title a {

				  text-decoration: none;
			  }


			  #slider-main {
				  background: #2c2c34;
				  bottom: 0;
				  left: 0;
				  padding: 40px 30px 40px 642px;
				  position: absolute;
				  right: 0;
				  top: 0;
			  }

			  #slider-main .mCSB_scrollTools {
				  bottom: -50px;
			  }

			  #slider-main .mCustomScrollBox {
				  padding-bottom: 6px;
			  }

			  #slider-main-inner {

			  }

			  .slider-col-mobile, .slider-col {
				  float: left;
				  margin: 0 10px;
				  width: 280px;
			  }

			  .slider-col-first {
				  margin-left: 30px;
			  }

			  .slider-col-mobile {
				  display: none;
			  }

			  .slider-item {
				  background: #505058 url("images/slider-item-bg.png") center center no-repeat;
				  height: 290px;
				  margin-bottom: 6px;
				  position: relative;
				  -moz-box-shadow: 0 2px 4px rgba(0,0,0,.28); /* drop shadow */
				  -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.28); /* drop shadow */
				  box-shadow: 0 2px 4px rgba(0,0,0,.28); /* drop shadow */
				  width: 280px;
			  }

			  .slider-item:first-child {
				  margin-bottom: 20px;
			  }

			  .slider-item-thumb {
				  opacity: 0;
			  }

			  .slider-item-thumb img {
				  display: block;
				  max-width: 100%;
			  }

			  	.slider-item-thumb-img img {
			  		width: 100%;
			  	}

			  .slider-item-info {

				  bottom: 0;
				  left: 0;

				  position: absolute;
				  right: 0;
			  }

				 .slider-item-title { 
				 padding: 14px 17px;
				 }

				 .review .slider-item-title { margin-top: 20px; }

				 .slider-item-info-title {

					font-size: 16px;
	font-family: "Dosis";
	letter-spacing: -0.04em;
	word-spacing: 0.17em;
	line-height: 23px;
	text-transform: uppercase;
	font-weight: 600;

				 }
				 .slider-item-info-title a {
					 text-decoration: none;
					 padding: 2px 0;

				 }
				 


			 

				 .slider-item-review .note {
					 margin-left: 15px;
	-moz-border-radius: 2px 0 0 2px;
	-webkit-border-radius: 2px 0 0 2px;
	border-radius: 2px 0 0 2px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	padding: 9px 7px 9px 7px;
	font-family: "Abel";
	font-size: 25px;
	float: left;

				 }

				 .slider-item-review .description {
					 -moz-border-radius: 0 2px 2px 0;
					 -webkit-border-radius:0 2px 2px 0;
					 border-radius: 0 2px 2px 0;
					 -moz-background-clip: padding;
					 -webkit-background-clip: padding-box;
					 background-clip: padding-box; /* prevents bg color from leaking outside the border */
				   
					 -moz-box-shadow: 0 1px 1px rgba(0,0,0,.11); /* drop shadow */
					 -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.11); /* drop shadow */
					 box-shadow: 0 1px 1px rgba(0,0,0,.11); /* drop shadow */
					 padding: 9px 11px;
				
					 font-family: "Abel";
					 font-size: 16px;
					 float: left;
					 text-transform: uppercase;

				 }

				 #slider-scroller {
					
					 border: 1px solid #cfd1d3; /* stroke */
	background-color: #fff; /* layer fill content */
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,.03), inset 0 -1px 5px rgba(0,0,0,.09); /* drop shadow and inner shadow */
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,.03), inset 0 -1px 5px rgba(0,0,0,.09); /* drop shadow and inner shadow */
	box-shadow: 0 2px 2px rgba(0,0,0,.03), inset 0 -1px 5px rgba(0,0,0,.09); /* drop shadow and inner shadow */

					 
					 clear: both;
					 padding: 20px 0;
				 }

				 #slider-scroller-inner {
					 margin: 0 auto;
				 }

				 #slider-scroller .mCSB_container {
					 height: 6px;
					 margin: 0;
				 }

				 #slider-scroller .mCSB_scrollTools {
					 background: #e2e2e2;
					 border-radius: 5px;
					 height: 6px;
				 }

				 #slider-scroller .mCSB_dragger {
					 background: #a1a1b3;
					 border-radius: 5px;
					 cursor: move;
				 }


	#slider {
	  margin-bottom: 30px;
	}

	@media only screen and (min-width: 1200px)  {

	}

	/* From tablet portrait to 1200px */
	@media only screen and (min-width: 960px) and (max-width: 1399px) {

	  #slider-featured-wrapper {
		width: 510px;
	  }

		#slider-featured {
		  width: 450px;
		}

	  #slider-main {
		padding-left: 513px;
	  }

	  .slider-col {
		width: 215px;
	  }

		.slider-item {
		  height: 223px;
		  width: 100%;
		  


		  
		}

	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	  
	  #slider-featured-wrapper {
		width: 350px;
	  }

		#slider-featured {
		  width: 290px;
		}

	  #slider-main {
		padding-left: 352px;
	  }

	  .slider-col {
		width: 135px;
	  }

		.slider-item {
		  height: 140px;
		  width: 100%;
		}

	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {

	  #slider-featured {
		display: none;
	  }

	  #slider-main {
		bottom: auto;
		left: auto;
		margin: 30px auto;
		padding: 0;
		position: relative;
		right: auto;
		top: auto;
		width: 300px;
	  }

		.slider-col-mobile, .slider-col {
		  display: block;
		  margin: 0;
		  overflow: hidden;
		  width: 600px;
		}

		.slider-col-mobile {
		  width: 300px;
		}

		.slider-item {
		  float: left;
		  width: 280px;
		  margin: 0 10px !important;
		}

		.mCSB_container {
		  margin-bottom: 0 !important;
		}

	}


.pagination  {
	display: none;
}

.loadMore.loadMoreFinished {
	cursor: default;
	opacity: 0.5;
}

/**
 * Widgets
 */

 	.tabs-container {

 	}

 		.tabs-nav {
 			overflow: hidden;
 			margin: 0 0 20px 0;
 		}

 			.tab-nav {
 				border: 1px solid #e7e7e7;
 				border-radius: 3px;
 				display: block;
 				float: left;
 				margin: 0 10px 0 0;
 				padding: 7px 10px;
 				text-decoration: none;
 			}

 			.tab-nav.active-tab {
 				background: #f52626;
 				border-color: #f52626;
 				color: #fff;
 			}

 				.tab-nav span {

 				}

 		.tabs-content {

 		}

 			.tab-content {
 				
 			}

 	.widget_dd_videos_widget li.slider-item {
 		margin-bottom: 20px;
 	}

 	.tabs-content ul,
 	.widget_categories ul,
	.widget_archive ul,
	.widget_pages ul,
	.widget_meta ul,
	.widget_recent_comments ul,
	.widget_recent_entries ul,
	.widget_rss ul,
	.widget_nav_menu ul {
 		margin: 0;
 	}

 		.tabs-content li,
	 	.widget_categories li,
		.widget_archive li,
		.widget_pages li,
		.widget_meta li,
		.widget_recent_comments li,
		.widget_recent_entries li,
		.widget_rss li,
		.widget_nav_menu li {
			border-bottom: 2px dashed #e0e0e0;
			font-family: Dosis, sans-serif;
			
			line-height: 1.3;
			margin-bottom: 20px;
			padding-bottom: 10px;
		}

		.tabs-content li:last-of-type,
		.widget_categories li:last-of-type,
		.widget_archive li:last-of-type,
		.widget_pages li:last-of-type,
		.widget_meta li:last-of-type,
		.widget_recent_comments li:last-of-type,
		.widget_recent_entries li:last-of-type,
		.widget_rss li:last-of-type,
		.widget_nav_menu li:last-of-type { 
			border: none; 
			padding-bottom: 0;
			margin-bottom: 0;
		}

			.tabs-content li a,
			.widget_categories li a,
			.widget_archive li a,
			.widget_pages li a,
			.widget_meta li a,
			.widget_recent_comments li a,
			.widget_recent_entries li a,
			.widget_rss li a,
			.widget_nav_menu li a {
				color: #5f7095;
				font-weight: bold;
				text-decoration: none;
				text-transform: uppercase;
			}

/**
 * Comments
 */
		
	#comments {
		margin-top: 40px;
	}

		#comments .comments-title {
			margin-bottom: 40px;
		}

		.comments {
			list-style-type: none;
			list-style-position: inside;
			margin: 0;
			padding: 0;
		}

			.comment {
				margin: 0 0 30px 0;
			}

				.comment-inner {
					position: relative;
				}

					.comment .children {
						margin: 30px 0 0 130px;
						font-size: inherit;
					}

					.comment-author-avatar {
						float: left;
						margin-right: 30px;
						width: 100px;
					}

						.comment-author-avatar img {
							border-radius: 3px;
							display: block;
						}

					.comment-main {
						overflow: hidden;
					}

						.comment-info {
							border-bottom: 1px solid #e7e7e7;
							font-family: 'Open Sans', sans-serif;
							line-height: 1;
							margin-bottom: 10px;
							overflow: hidden;
							padding-bottom: 10px;
						}

							.comment-meta {
								float: left;
							}

								.comment-meta ul {
									list-style-type: none;
									list-style-position: inside;
									margin: 0;
									overflow: hidden;
									padding: 0;
								}

									.comment-meta li {
										display: block;
										font-weight: bold;
										float: left;
										margin: 0 4px 0 0;
										padding: 0;
									}

										.comment-meta span {
											font-weight: normal;
											margin-right: 5px;
										}

							.comment-reply {
								float: right;
							}

								.comment-reply a {
									font-weight: bold;
									text-decoration: none;
								}

								.comment-reply a:hover {
									
								}

						.comment-content {
							
						}

	#respond {
		margin-top: 40px;
	}

		#reply-title {
			text-transform: uppercase;
			margin-bottom: 30px;
		}

			#reply-title small {
				font-size: 12px;
				letter-spacing: 0;
				line-height: 1;
			}

				#reply-title small a {
					color: inherit;
				}

		.comment-form-comment {
			clear: both;

		}

			.comment-form-comment textarea {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				height: 100px;
				width: 100%;
			}

		.comment-form-author,
		.comment-form-email,
		.comment-form-url {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			float: left;
			padding-right: 30px;
			width: 33.3%;
		}

		.comment-form-url {
			padding-right: 0;
		}

			.comment-form-author input,
			.comment-form-email input,
			.comment-form-url input {
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				width: 100%;
			}

/**
 * Responsive
 */

 	img {
 		max-width: 100%;
 		height: auto;
 	}

	/* #Media Queries
	================================================== */

	@media only screen and (min-width: 1200px)  { }

	@media only screen and (min-width: 960px) and (max-width: 1399px) {

		
		
		/* Demo Only */

		.aboutPromoText1 { width: 295px; }
		.aboutPromoText2 { width: 265px; }

		/* //// Demo Only */

	   
	 #slider #slider-featured-info ul li a { font-size: 11px; }
		/* Header */

		.socialNav { border-right: 1px solid #e7e7e7; padding: 0 20px; }
		.mainNav a { padding: 45px 25px; }
		.socialNav a { font-size: 15px; padding: 45px 6px; }
		#searchform .searchField { width: 878px; }

		/* //// Header */
		
		
		/* Widgets */
		
		.widget_social ul li { width: 30%; }
		.widget_social .count { font-size: 14px; }
		.widget_social .title { font-size: 10px; }
		.widget_social .icon { font-size: 13px; padding: 18px 25px; }
		
		.item-review .note { font-size: 16px; }
		.item-review .description { width: 69%; font-size: 13px; }
		 .review-item-title .categoryBadge {
			display: block; 
			margin: 10px 0 0 0;
			padding: 1px 7px 1px 6px;
		}
		
	   .sidebar .widget_reviewInfo ul li .title { 
			width: 113px; 
			font-size: 17px; 
			font-weight: 600; 
		}
		
	   .sidebar .widget_reviewInfo ul li .note {
			font-size: 26px;
			width: 67px; 
		}
		
			 .videos .video { height: inherit; }
		
		/* //// Widgets */

	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	 @media only screen and (min-width: 768px) and (max-width: 959px) {
		 
		 

		 
		 /* Demo Only */

		 .aboutPromo { background: none; padding-bottom: 0; }
		 .aboutPromoText1, .aboutPromoText2 { width: 100%;}
		 
		 /* //// Demo Only */
		 
		 
		 /* Header */

		 .topBar, .topBar .mobileMenu, .topBar .socialNav { display: block; }
		 .mobileMenu nav { top: 50px; }
		 .mobileMenu { display: none; }
		.socialNav { display: none; }
		#searchform .searchField { width: 686px; }
		header { margin-top: 50px; }

		/* //// Header */
		
		/* Widgets */   
		
		.widget_social ul li {
			margin-right: 0;
			width: 100%;
			margin-bottom: 15px; 
		}
		
		  .item-review .note { font-size: 16px; }
		.item-review .description { width: 55%; font-size: 13px; }
		.review-item-title .categoryBadge {
			display: block; 
			margin: 10px 0 0 0;
			padding: 1px 7px 1px 6px;

		}
		
		.featured-review-item { height: inherit; }
		
	   .sidebar .widget_reviewInfo ul li .title { 
			width: 70px; 
			font-size: 15px; 
			font-weight: 600; 
		}
		
	   .sidebar .widget_reviewInfo ul li .note {
			font-size: 19px;
	width: 62px;
	font-weight: 600;
		}
		
		/* //// Widgets */
		
		#slider .categoryBadge, #slider-featured-info ul, #slider .videoIcon, #slider .slider-item-review { display: none; }
		
	   #slider .slider-item-info-title {
	font-size: 12px;
	font-family: "Dosis";
	letter-spacing: -0.04em;
	word-spacing: 0.17em;
	line-height: 18px;
	text-transform: uppercase;
	font-weight: 700;
	}

	#slider .slider-item-title { line-height: 18px; }

	   #slider #slider-featured-info-title {
	font-size: 16px;
	font-family: "Dosis";
	letter-spacing: -0.04em;
	word-spacing: 0.17em;
	line-height: 21px;
	text-transform: uppercase;
	font-weight: 600;
	}

	#slider .slider-featured-title {
	background: #000;
	padding: 14px 16px;
	}

		  .categoryTitle { width: 90.4%; text-align: center; }
		  
		  .categoryMeta, .singleMeta { border-left: 1px solid #e8e8e8; }
		  .categoryMeta ul { width: 100%; }
		  
				.videos .video { height: inherit; }

	 }
	 
	 


	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) { 

		.homeContent .eight { margin-bottom: 30px; }
		
	 /* Demo Only */

		 .aboutPromo { background: none; padding-bottom: 0; }
		 .aboutPromoText1, .aboutPromoText2 { width: 100%;}
		 
		 /* //// Demo Only */
		 
		 /* Header */

		 .topBar, .topBar .mobileMenu, .topBar .socialNav { display: block; }
		 .mobileMenu nav { top: 50px; }
		 .mobileMenu { display: none; }
		.socialNav { display: none; }
		#searchform .searchField { width: 686px; }
		header { margin-top: 50px; }
	.mainNav li, .mainNav li:last-of-type { border: none; }
	.logo { margin: 35px 0 0 0; width: 100%; text-align: center; }
	.mainNav a { font-weight: 600; font-size: 16px; padding: 25px 36px; }
	a > .sf-sub-indicator { top: 3.05em !important; }
	.sf-menu li:hover ul, .sf-menu li.sfHover ul { top: 68px !important; }
	.sf-menu { margin: 5px 0 20px 0 !important; }
	.separator { height: 0 !important }
	.content { padding-bottom: 0; }
	#searchform .searchField { width: 360px; }

		/* //// Header */
		
		   /* Widget */
		   
		   .item-review .description { width: 82%;}
		   
		.review-item-title .categoryBadge {
			display: block; 
			margin: 10px 0 0 0;
			padding: 1px 7px 1px 6px;
		}
		
	   .sidebar .widget_reviewInfo ul li .title { width: 285px; }
		
		 /* //// Widget */
		 
		 blockquote { line-height: 32px; font-size: 20px; }
		 
		 .categoryTitle { width: 88.5%; text-align: center; }
		  
		  .categoryMeta, .singleMeta { border-left: 1px solid #e8e8e8; }
		  .categoryMeta ul { width: 100%; }
		  
		  .categoryMeta ul li a, .singleMeta ul li a { font-size: 11px; }
		  .categoryPost .one { display: none; }
		  
		  
	   .homePost .two { width: 100px !important; }
		.homePost .six { width: 320px !important; }
		.home .sidebar { margin-bottom: 30px; }
		
		.categoryFeatured .four { width: 130px !important; }
		.categoryFeatured .seven { width: 290px !important; }
		
		.categoryPost .two { width: 130px !important; }
		.categoryPost .eight { width: 290px !important; }
		
		.categoryPostsInfo, .homePostsInfo { padding: 0 0 0 35px; }
		.categoryFeaturedInfo { padding-left: 35px; }
		.categoryFeaturedInfo h1 { margin-top: 0; }
		
		.singleMeta ul { width: 74%; padding-left: 20px; }
		
		.footerRight, .footerLeft { width: 100%; text-align: center; }
		
		 .videos .video { 
			 width: 100%; 
			 height: inherit;
			 overflow: hidden;
			 margin: 0 0 20px 0 !important;
		 }

		 .comment .children {
		 	margin-left: 0;
		 }

		 .footerWidgets .widget {
		 	margin-bottom: 30px;
		 }
	 
	}

	.shareIt {
top: -114px;
}

	#footer {
		padding: 80px 0;
	}

	.homePosts { margin-bottom: 0; }

	.widget_category .categoryTitle:visited, .widget_category .categoryTitle:active, .widget_category .categoryTitle { color: #fff !important; }

	.youtube:hover { color: #c4302b; }
	.vimeo:hover, .linkedin:hover { color: #4e8290; }
	.google:hover, .pinterest:hover { color: #b63122; }
	.dribbble:hover { color: #ec6094; }
	.behance:hover { color: #9f9f9f; }


	.comment-reply-link, #comments a, #respond a { color: #787897; }
	.comment-reply-link:hover, #comments a:hover, #respond a:hover { color: #6969a2; }

	.comment-meta { color: #777; }

	.comment {
		margin: 0 0 50px 0;
	}

	#comments .align-center { font-weight: bold; color: #80808c; }

	blockquote p { margin-bottom: 0; }

	.comment-author-avatar img { border-radius: 99px; }


	.pageContent .content p a, .pageContent .content p a:visited { color: #4991b2; }

	.back-to-home, .back-to-home:visited { 
		font-weight: bold;
		color: #80808c;
		text-decoration: none;
		margin-bottom: 30px;
		display: block;
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {


		
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {

		  .categoryFeatured .four { width: 90px !important; }
		.categoryFeatured .seven { width: 210px !important; }
		 .categoryPost .two { width: 90px !important; }
		.categoryPost .eight { width: 210px !important; }
		
		
	  .homePost .two { width: 70px !important; }
		.homePost .six { width: 230px !important; }
		
		#searchform .searchField { width: 230px; }
	.mainNav li { border: none; }
	.separator { height: 0 !important }
	.mainNav a { padding: 25px 16px; }
	.content { padding-bottom: 0; }

	 .categoryTitle { width: 83.5%; text-align: center; }
		  
		  .categoryMeta, .singleMeta { border-left: 1px solid #e8e8e8; }
		  .categoryMeta ul { width: 100%; }
		  
		  .categoryMeta ul li a, .singleMeta ul li a { font-size: 11px; }



	/* Widget */
		   
		   .item-review .description { width: 74%;}
		   
		.review-item-title .categoryBadge {
			display: block ; 
			margin: 10px 0 0 0;
			padding: 1px 7px 1px 6px;
		}
		
	   
			 .sidebar .widget_reviewInfo ul li .title { width: 165px; }
			 
			  .postContent .widget_reviewInfo ul li .title { width: 165px; }
			  .pageReview { margin-right: 0; width: 300px; }
		 /* //// Widget */

		 .comment-author-avatar {
		 	display: none;
		 }

	}

/** *******************************************************************
 *  9) Tabbed Navigation
 *********************************************************************/
ul#navigation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 50px;
    left: 0px;
    list-style: none;
    z-index:9999;
}
ul#navigation a{
	text-decoration:none;
	color:#000000;
	font-weight:bold;
}
ul#navigation li {
    width: 100px;
	text-align:center;
}
ul#navigation li a {
    display: block;
    margin-left: -2px;
	padding-bottom:40px;
    width: 100px;
    height: 70px;    
    background-color:#eae8e2;
    background-repeat:no-repeat;
    background-position:top center;
    border:1px solid #AFAFAF;
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    /*-moz-box-shadow: 0px 4px 3px #000;
    -webkit-box-shadow: 0px 4px 3px #000;
    */
    opacity: 1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
ul#navigation .store a{
    background-image: url('http://www.housingcamera.com/v/vspfiles/assets/images/store.png');
}
ul#navigation .blog a      {
    background-image: url('http://www.housingcamera.com/v/vspfiles/assets/images/blog.png');
}
ul#navigation .gallery a      {
    background-image: url('http://www.housingcamera.com/v/vspfiles/assets/images/gallery.png');
}
ul#navigation .chat a {
background-image: url(http://www.housingcamera.com/v/vspfiles/assets/images/chat.png);
background-color: #FFCC00;
border: 2px solid white;
}
ul#navigation  li.active a {
	background-color:#fffff9;

}

#navigation  .caption{
	margin-top:65px;
	
}

#_form_1058 ._form{
width:85% !important;
}

#_form_1058 ._form ._field input[type="email"]{

width:95% !important;
}