<?php if ($this->getResult()):?>
<dl>
    <?php foreach ($this->getResult() as $code => $_rates): ?>
        <dt><?php echo $this->getCarrierName($code) ?></dt>
        <dd>
            <ul>
            <?php foreach ($_rates as $_rate): ?>
                <li<?php if ($_rate->getErrorMessage()) echo ' class="error-msg"';?>>
                   <?php if ($_rate->getErrorMessage()): ?>
                        <?php echo $_rate->getErrorMessage() ?>
                   <?php else: ?>
                        <?php echo $_rate->getMethodTitle() ?>
                        <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                        <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                        <?php echo $_excl; ?>
                        <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                            (<?php echo Mage::helper('wp_ajaxshippingpricecalculator')->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                        <?php endif; ?>
                   <?php endif ?>
                </li>
            <?php endforeach; ?>
            </ul>
        </dd>
    <?php endforeach; ?>
</dl>
<?php else: ?>
<?php echo $this->getMessagesBlock()->toHtml(); ?>
<?php endif;?>
