/**
 * bbPress specific LESS
 *
 * @package bbPress
 * @subpackage Theme
 */

/* =Standard Mobile Portrait
-------------------------------------------------------------- */
@media only screen and (max-width: 320px) {
	#bbpress-forums {
		li.bbp-header, li.bbp-footer {
			font-size: 10px;
		}
		div.bbp-template-notice img.avatar, p.bbp-topic-meta img.avatar {
			width: 14px;
			height: auto;
		}
		input#bbp-topic-title, input#bbp_topic_tags {
			width: 95%;
		}
		div.bbp-search-form {
			margin-bottom: 10px;
		}
		li.bbp-header {
			li.bbp-forum-info, li.bbp-topic-title {
				width: 100%;
				text-align: center;
				text-transform: uppercase;
			}
			li.bbp-forum-topic-count, li.bbp-forum-reply-count, li.bbp-topic-voice-count, li.bbp-topic-reply-count {
				width: 20%;
			}
			li.bbp-forum-freshness, li.bbp-topic-freshness {
				width: 58%;
			}
			div.bbp-reply-author {
				text-align: left;
				width: 25%;
			}
			div.bbp-reply-content {
				margin-left: 25%;
			}
		}
		li.bbp-body {
			li.bbp-forum-info, li.bbp-topic-title {
				width: 100%;
			}
			li.bbp-forum-topic-count, li.bbp-forum-reply-count, li.bbp-topic-voice-count, li.bbp-topic-reply-count {
				width: 20%;
				margin-top: 7px;
			}
			li.bbp-forum-freshness, li.bbp-topic-freshness {
				width: 58%;
				margin-top: 7px;
			}
		}
		div.bbp-the-content-wrapper td.mceToolbar {
			padding: 1px;
			td {
				width: 20px;
				height: 20px;
			}
		}
		div.wp-editor-container {
			width: 100%;
			overflow: auto;
		}
	}
}