/**
 * bbPress specific LESS
 *
 * @package bbPress
 * @subpackage Theme
 */

/* =Extra Small Mobile
-------------------------------------------------------------- */
@media only screen and (max-width: 240px) {
	#bbpress-forums {
		li.bbp-header li.bbp-forum-topic-count, li.bbp-header li.bbp-forum-reply-count, li.bbp-body li.bbp-forum-topic-count, li.bbp-body li.bbp-forum-reply-count, li.bbp-header li.bbp-topic-voice-count, li.bbp-header li.bbp-topic-reply-count, li.bbp-body li.bbp-topic-voice-count, li.bbp-body li.bbp-topic-reply-count, li.bbp-footer div.bbp-reply-author {
			width: 45%;
		}
		li.bbp-body li.bbp-forum-freshness, li.bbp-header div.bbp-reply-author {
			clear: both;
			width: 100%;
		}
		li.bbp-body li.bbp-topic-freshness, li.bbp-header div.bbp-reply-content {
			clear: both;
			width: 100%;
			margin-left: 0;
			text-align: left;
		}
		li.bbp-footer div.bbp-reply-content {
			width: 45%;
			display: inline-block;
			margin-left: 0;
		}
		li.bbp-header {
			overflow: hidden;
			li.bbp-forum-freshness, li.bbp-topic-freshness {
				clear: both;
				width: 100%;
				text-align: center;
			}
		}
		li.bbp-body li.bbp-topic-freshness p.bbp-topic-meta {
			display: inline-block;
		}
		li.bbp-body div.bbp-reply-author {
			min-height: 60px;
			padding-left: 60px;
		}
		div.bbp-reply-author img.avatar {
			width: 40px;
			height: auto;
		}
	}
}