/**
 * bbPress specific LESS
 *
 * @package bbPress
 * @subpackage Theme
 */

.rounded (@radius:2px) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

#bbpress-forums {
	background: transparent;
	clear: both;
	margin-bottom: 20px;
	//	overflow: hidden;
	//	font-size:12px;
	div.even, ul.even {
		background-color: @white;
	}
	div.odd, ul.odd {
		background-color: @white;
	}
	div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header {
		background-color: #f4f4f4;
	}
	.status-trash.even, .status-spam.even {
		background-color: #ffeeee;
	}
	.status-trash.odd, .status-spam.odd {
		background-color: #ffdddd;
	}
	ul.bbp-lead-topic, ul.bbp-topics, ul.bbp-forums, ul.bbp-replies, ul.bbp-search-results {
		//		font-size:12px;
		//		overflow: hidden;
		//border:        1px solid #ececec;
		box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
		margin-bottom: 20px;
		clear: both;
	}
	/* Best Answer */
	div.even.best_answer {
		background-color: #dedede;
		position: relative;
	}
	.best-answer-reply {
		position: absolute;
		bottom: 3px;
		right: -40px;

		i {
			color: #008D71;
		}
	}

	.bbp_participant .bbp-author-role {
		display: none;
	}

	.bbp_keymaster .bbp-author-role, .bbp_moderator .bbp-author-role {
		background-color: @primary;
		color: @white;
	}

	.bbp-attachments-count {
		margin-top: 4px;
	}

	li.bbp-topic-title a.bbp-topic-permalink {
		font-size: 1em;
	}
	li.bbp-forum-info a.bbp-forum-title {
		font-size: 1.05em;
	}

	div.bbp-forum-title h3, div.bbp-topic-title h3, div.bbp-reply-title h3 {
		background: none;
		border: none;
		font-size: 16px;
		line-height: 1em;
		margin: 8px 0;
		padding: 0;
		text-transform: none;
	}
	div.bbp-forum-author, div.bbp-topic-author, div.bbp-reply-author {
		float: left;
		text-align: center;
		width: 115px;
	}
	div.bbp-forum-author img.avatar, div.bbp-topic-author img.avatar, div.bbp-reply-author img.avatar, .bbp-topic-meta img.avatar, .bbp-author-avatar .avatar {
		border: none;
		max-width: 80px;
		padding: 0;
		margin: 0 auto;
		float: none;
		.rounded(50%);
	}
	div.bbp-reply-author img.avatar {
		margin: 12px auto 0 auto;
	}
	div.bbp-topic-author a.bbp-author-name, div.bbp-reply-author a.bbp-author-name {
		margin: 0 12px;
		//word-break: break-word;
		display: block;
		clear: left;
	}
	div.bbp-forum-author .bbp-author-role, div.bbp-topic-author .bbp-author-role, div.bbp-reply-author .bbp-author-role {
		font-size: 11px;
		font-style: italic;
	}
	li.bbp-header .bbp-search-author, li.bbp-footer .bbp-search-author, li.bbp-header .bbp-forum-author, li.bbp-footer .bbp-forum-author, li.bbp-header .bbp-topic-author, li.bbp-footer .bbp-topic-author, li.bbp-header .bbp-reply-author, li.bbp-footer .bbp-reply-author {
		float: left;
		margin: 0;
		padding: 0;
		width: 120px;
	}
	li.bbp-header .bbp-search-content, li.bbp-footer .bbp-search-content, li.bbp-header .bbp-forum-content, li.bbp-footer .bbp-forum-content, li.bbp-header .bbp-topic-content, li.bbp-footer .bbp-topic-content, li.bbp-header .bbp-reply-content, li.bbp-footer .bbp-reply-content {
		margin-left: 140px;
		padding: 0;
		text-align: left;
	}

	div.bbp-forum-content, div.bbp-topic-content, div.bbp-reply-content {
		margin-left: 130px;
		padding: 12px 12px 12px 0;
		text-align: left;
	}

	div.bbp-forum-content:after, div.bbp-topic-content:after, div.bbp-reply-content:after {
		clear: both;
		content: ".";
		display: block;
		float: none;
		height: 0;
		font-size: 0;
		visibility: hidden;
	}
	div.bbp-topic-content a, div.bbp-reply-content a {
		background: none;
		border: none;
		display: inline;
		font-weight: normal;
		margin: 0;
		padding: 0;
	}
	div.bbp-topic-content h1, div.bbp-reply-content h1, div.bbp-topic-content h2, div.bbp-reply-content h2, div.bbp-topic-content h3, div.bbp-reply-content h3, div.bbp-topic-content h4, div.bbp-reply-content h4, div.bbp-topic-content h5, div.bbp-reply-content h5, div.bbp-topic-content h6, div.bbp-reply-content h6 {
		clear: none;
		line-height: 1em;
		margin: 24px 0;
		padding: 0;
	}
	div.bbp-topic-content img, div.bbp-reply-content img {
		max-width: 100%;
	}
	div.bbp-topic-content ul, div.bbp-reply-content ul, div.bbp-topic-content ol, div.bbp-reply-content ol {
		margin: 0 15px 15px;
		padding: 0;
	}
	div.bbp-topic-content ul li, div.bbp-reply-content ul li {
		list-style-type: disc;
	}
	div.bbp-topic-content ol li, div.bbp-reply-content ol li {
		list-style-type: decimal;
	}
	div.bbp-topic-content ol li li, div.bbp-reply-content ol li li {
		list-style-type: lower-alpha;
	}
	div.bbp-topic-content ol li li li, div.bbp-reply-content ol li li li {
		list-style-type: upper-roman;
	}
	div.bbp-topic-content code, div.bbp-reply-content code {
		font-family: Inconsolata, Consolas, Monaco, Lucida Console, monospace;
		display: inline-block;
		background-color: #f9f9f9;
		border: 1px solid #dddddd;
		padding: 0 5px;
		max-width: 95%;
		vertical-align: middle;
		margin-top: -3px;
	}
	div.bbp-topic-content pre, div.bbp-reply-content pre {
		font-family: Inconsolata, Consolas, Monaco, Lucida Console, monospace;
		display: block;
		background-color: #f9f9f9;
		border: 1px solid #dddddd;
		padding: 5px 10px;
		max-width: 95%;
		vertical-align: middle;
		line-height: 18px;
		margin: 0 0 24px;
		white-space: pre;
		overflow: auto;
	}
	div.bbp-topic-content pre code, div.bbp-reply-content pre code {
		display: block;
		border: none;
		padding: 0;
		margin: 0;
		background-color: transparent;
		overflow-wrap: normal;
		overflow: auto;
		max-width: 100%;
	}
	div.bbp-breadcrumb p, div.bbp-topic-tags p {
		margin-bottom: 10px;
	}
	.bbp-forum-info .bbp-forum-content, p.bbp-topic-meta {
		font-size: 0.8em;
		margin: 5px 0 0;
		padding: 0;
		word-wrap: break-word;
	}
	.bbp-topic-content ul.bbp-topic-revision-log, .bbp-reply-content ul.bbp-topic-revision-log, .bbp-reply-content ul.bbp-reply-revision-log {
		border-top: 1px dotted #dddddd;
		width: 100%;
		margin: 0;
		padding: 8px 0 0 0;
		font-size: 11px;
		color: #aaaaaa;
	}
	.bbp-topic-content ul.bbp-topic-revision-log li, .bbp-reply-content ul.bbp-topic-revision-log li, .bbp-reply-content ul.bbp-reply-revision-log li {
		list-style-type: none;
	}
	p.bbp-topic-meta img.avatar, ul.bbp-reply-revision-log img.avatar, ul.bbp-topic-revision-log img.avatar, div.bbp-template-notice img.avatar, .widget_display_topics img.avatar, .widget_display_replies img.avatar {
		float: none;
		//		margin-bottom:-7px;
		//		border:3px double #dddddd;
	}
	hr {
		margin: 0 0 24px 0;
	}
	div.reply {
		height: auto;
		width: 100%;
	}
	.status-closed {
		a {
			color: #cccccc;
		}
	}
	ul {
		background: none;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ul.bbp-threaded-replies {
		margin-left: 50px;
	}
	li {
		background: none;
		margin: 0;
		list-style: none;
	}
	li.bbp-header {
		clear: both;
		background: @white;
		//		border-top:1px solid #ececec;
		font-weight: bold;
		padding: 15px 25px;
		text-align: center;
		ul {
			overflow: hidden;
		}
	}
	li.bbp-body {
		clear: both;
		line-height: 30px;
		ul.forum, ul.topic {
			border-top: 1px solid #ececec;
			overflow: hidden;
			padding: 25px;
			&:hover {
				background: #f8f8f8;
			}
		}
		.bbp-private-reply {
			background: #d5d5d5 !important;
		}
		.ob_status {
			margin-right: 5px
		}
	}
	li.bbp-footer {
		clear: both;
		background: #fffdfd;
		border-top: 1px solid #ececec;
		font-weight: bold;
		padding: 8px;
		text-align: center;
		p {
			margin: 0;
			line-height: 1em;
		}
	}
	.bbp-forums-list {
		margin: 0 0 0 5px;
		padding-left: 15px;
		border-left: 1px solid #dddddd;
		li {
			display: inline;
			font-size: 11px;
		}
	}
	div.bbp-forum-author a.bbp-author-name {
		margin: 0 12px;
		//word-break: break-word;
		display: inline-block;
	}

	div.bbp-reply-to {
		margin-left: 130px;
		padding: 12px 12px 12px 0;
		text-align: right;
	}
	div#bbp-cancel-reply-to {
		text-align: right;
	}
	div.bbp-topic-tags {
		float: right;
	}

	#bbp-search-form {
		clear: left;
		.hidden {
			height: 0;
			width: 0;
			overflow: hidden;
			position: absolute;
			background: none;
			left: -999em;
		}
		#bbp_search {
			display: inline-block;
			width: auto;
		}
	}
	div.bbp-search-form {
		float: right;
	}
	p.bbp-topic-meta span {
		white-space: nowrap;
	}
	fieldset.bbp-form {
		clear: left;
		border: 1px solid #ececec;
		padding: 10px 20px;
		margin-bottom: 10px;
		p, textarea, select, input {
			margin: 0 0 8px;
		}
		legend {
			padding: 5px;
		}
		label {
			margin: 0;
			display: inline-block;
		}
	}
	fieldset.bbp-forum-form-attributes {
		width: 200px;
		float: right;
		clear: none;
		margin-left: 25px;
	}
	fieldset select#bbp_forum_id {
		max-width: 200px;
	}
	div.bbp-the-content-wrapper {
		margin-bottom: 10px;
		table, tbody, tr, td {
			border: none;
			padding: 0;
			margin: 0;
			width: auto;
			line-height: 1em;
		}
		textarea.bbp-the-content {
			width: 100%;
			margin: 0;
			//			font-size:12px;
		}
		input {
			//			font-size:12px;
			padding: 5px;
			margin: 0 2px 0 0;
			line-height: 1em;
		}
		div.quicktags-toolbar {
			padding: 5px;
			min-height: 26px;
		}
		td.mceToolbar {
			padding: 4px 4px 8px;
		}
		td.mceStatusbar {
			line-height: 16px;
		}
	}
	div.wp-editor-container {
		margin: 0;
		padding: 0;
		line-height: 0;
	}
	#bbp-your-profile fieldset {
		padding: 20px 20px 0 20px;
		input, textarea {
			margin-bottom: 0;
			width: 60%;
			background: #f9f9f9;
			border: 1px solid #dddddd;
			box-shadow: none;
			padding: 5px 8px;
			border-radius: 0;
		}
		input:focus, textarea:focus {
			border: 1px solid #cccccc;
			box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
			outline-color: rgba(240, 255, 240, 0.1);
		}
		div {
			margin-bottom: 20px;
			float: left;
			width: 100%;
			clear: left;
		}
		select {
			margin-bottom: 0;
		}
		legend {
			display: none;
		}
		label[for] {
			float: left;
			width: 20%;
			padding: 5px 20px 5px 0;
			text-align: right;
			cursor: pointer;
		}
		dl label[for] {
			text-align: left;
			width: 60%;
		}
		span.description {
			margin: 5px 0 0 20%;
			//			font-size:12px;
			font-style: italic;
			float: left;
			clear: left;
			width: 60%;
			padding: 5px 8px;
			border: #cee1ef 1px solid;
			background-color: #f0f8ff;
		}
		fieldset {
			margin: 0;
			border: none;
			padding: 0;
			clear: none;
			float: none;
		}
		fieldset.password {
			width: 60%;
			display: inline;
			input, span {
				width: 100%;
			}
			span.description {
				margin-left: 0;
				margin-bottom: 20px;
			}
		}
		fieldset.capabilities dl {
			margin: 0;
		}
	}
	#bbp-your-profile fieldset.bbp-form input.checkbox {
		width: auto;
	}
	#bbp-your-profile fieldset.submit button {
		float: right;
	}
	h1 {
		clear: none;
		font-size: 1.8em;
		line-height: 1em;
		padding-bottom: 10px;
	}
	#bbp-user-wrapper {
		float: left;
		width: 100%;
		ul.bbp-lead-topic, ul.bbp-topics, ul.bbp-forums, ul.bbp-replies, fieldset.bbp-form {
			clear: none;
		}
		h2.entry-title {
			font-size: 1.4em;
			margin: 0;
			padding-bottom: 10px;
			padding-top: 0;
			clear: none;
		}
	}
	.bbp-user-section {
		overflow: auto;
	}
	#bbp-single-user-details {
		margin: 0;
		width: 150px;
		float: left;
		overflow: hidden;
		#bbp-user-avatar {
			margin: 0;
			width: 150px;
			img.avatar {
				border: none;
				height: 150px;
				padding: 0;
				margin: 0 0 20px 0;
				width: 150px;
			}
		}
		#bbp-user-description {
			float: none;
			margin-left: 180px;
		}
		#bbp-user-navigation {
			float: none;
			margin: 0;
			li {
				margin: 0;
			}
			a {
				padding: 5px 8px;
				display: block;
				border: 1px solid transparent;
				text-decoration: none;
			}
			li.current a {
				background: #ececec;
				opacity: 0.8;
			}
		}
	}
	#bbp-user-body {
		margin-left: 180px;
	}
	dl.bbp-user-capabilities {
		display: inline-block;
		vertical-align: top;
		dt {
			margin: 0 0 10px;
			text-transform: capitalize;
		}
		dd {
			margin: 0;
			padding: 0;
		}
	}
	div.row-actions {
		font-size: 11px;
		visibility: hidden;
	}
	li:hover > div.row-actions {
		visibility: visible;
	}
}

body.reply-edit .reply {
	float: none;
}

li.bbp-forum-info, li.bbp-topic-title {
	float: left;
	text-align: left;
	span.ob-status {
		margin-right: 5px;
	}
	span.ob-status.pending {
		// fa-clock-o

	}
	span.ob-status.resolved {
		// fa-check-circle-o
		color: #5cb85c;
	}
	span.ob-status.not-resolved {
		// fa-times-circle-o
		color: #d9534f;
	}
}

li.bbp-forum-info {
	width: 55%;
}

li.bbp-topic-title {
	width: 75%;
}

li.bbp-forum-topic-count, li.bbp-topic-voice-count, li.bbp-forum-reply-count, li.bbp-topic-reply-count {
	float: left;
	text-align: center;
	width: 10%;
}

li.bbp-forum-freshness, li.bbp-topic-freshness {
	text-align: left;
	float: left;
	width: 25%;
}

//li.bbp-header {
div.bbp-topic-content span#subscription-toggle, div.bbp-topic-content span#favorite-toggle, div.bbp-reply-content span#subscription-toggle, div.bbp-reply-content span#favorite-toggle, #subscription-toggle {
	float: right;
}

//}
div.bbp-forum-header, div.bbp-topic-header, div.bbp-reply-header {
	margin-bottom: 0;
	overflow: hidden;
	padding: 8px;
	border-top: 1px solid #dddddd;
	clear: both;
}

li.bbp-body div.hentry {
	margin-bottom: 0;
	overflow: hidden;
	padding: 8px;
}

span.bbp-author-ip {
	font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #aaaaaa;
}

div.bbp-breadcrumb {
	float: left;
	//	font-size:12px;
}

div.bbp-topic-tags {
	//	font-size:12px;
}

#bbp-topic-hot-tags {
	clear: both;
}

span.bbp-admin-links {
	float: right;
	color: #dddddd;
	a {
		color: #bbbbbb;
		font-weight: normal;
		font-size: 10px;
		text-transform: uppercase;
		text-decoration: none;
	}
}

fieldset span.bbp-admin-links {
	float: left;
}

fieldset div.avatar {
	float: right;
}

tr td span.bbp-admin-links a:hover {
	color: #ff4b33;
}

td.bbp-topic-admin-links, td.bbp-topic-counts {
	width: 50%;
}

.bbp-forum-header a.bbp-forum-permalink, .bbp-topic-header a.bbp-topic-permalink, .bbp-reply-header a.bbp-reply-permalink {
	float: right;
	margin-left: 10px;
	color: #cccccc;
}

.bbp-row-actions #favorite-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #77cc77;
	border: 1px solid #aaccaa;
	background-color: #ddffdd;
	font-weight: bold;
	font-size: 13px;
}

.bbp-row-actions #favorite-toggle a:hover {
	color: #55aa55;
	border-color: #77cc77;
	background-color: #bbeebb;
}

.bbp-row-actions #favorite-toggle span.is-favorite a {
	color: #ffaaaa;
	border: 1px solid #ffaaaa;
	background-color: #ffeeee;
}

.bbp-row-actions #favorite-toggle span.is-favorite a:hover {
	color: #cc8888;
	border-color: #cc8888;
	background-color: #ffdddd;
}

.bbp-row-actions #subscription-toggle a {
	text-decoration: none;
	padding: 0 3px 1px;
	color: #77cc77;
	border: 1px solid #aaccaa;
	background-color: #ddffdd;
	font-weight: bold;
	font-size: 13px;
}

.bbp-row-actions #subscription-toggle a:hover {
	color: #55aa55;
	border-color: #77cc77;
	background-color: #bbeebb;
}

.bbp-row-actions #subscription-toggle span.is-subscribed a {
	color: #ffaaaa;
	border: 1px solid #ffaaaa;
	background-color: #ffeeee;
}

.bbp-row-actions #subscription-toggle span.is-subscribed a:hover {
	color: #cc8888;
	border-color: #cc8888;
	background-color: #ffdddd;
}

.bbp-pagination-count {
	float: left;
	border: 1px solid transparent;
	font-size: 85%;
}

.bbp-pagination-links {
	float: right;
	list-style: none;
	display: inline;
	a {
		display: block;
		float: left;
		padding: 0px 5px;
		margin-left: 5px;
		border: 1px solid #efefef;
		text-decoration: none;
	}
	span.current {
		display: block;
		float: left;
		padding: 0px 5px;
		margin-left: 5px;
		border: 1px solid #dddddd;
		text-decoration: none;
		background: #ececec;
		opacity: 0.8;
	}
	a:hover {
		background: #ececec;
		opacity: 0.8;
		border: 1px solid #dddddd;
	}
	span.dots {
		display: block;
		float: left;
		padding: 1px 4px;
		margin-left: 5px;
	}
}

.bbp-pagination {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}

.bbp-topic-pagination {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 2px;
	a {
		font-size: 10px;
		line-height: 10px;
		padding: 3px 6px;
		text-decoration: none;
		background: @black;
		color: @white;
		.rounded;
		&:hover {
			background: @primary;
			color: @white;
		}
	}
}

.bbp-topic-tools {
	margin-bottom: 15px;
	button, select, label {
		margin-top: 10px;
	}
}

#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label, #bbp-login fieldset label, #bbp-register fieldset label, #bbp-lost-pass fieldset label {
	width: 100px;
}

textarea#bbp_reply_content, textarea#bbp_topic_content {
	width: 100%;
	box-sizing: border-box;
}

textarea#bbp_forum_content {
	width: 100%;
	box-sizing: border-box;
	height: 210px;
}

.bbp-topic-form, .bbp-reply-form, .bbp-topic-tag-form {
	clear: left;
}

body.topic-edit .bbp-topic-form div.avatar img, body.reply-edit .bbp-reply-form div.avatar img, body.single-forum .bbp-topic-form div.avatar img, body.single-reply .bbp-reply-form div.avatar img {
	margin-right: 0;
	padding: 10px;
	border: 1px solid #dddddd;
	line-height: 0;
	background-color: #efefef;
}

body.page .bbp-reply-form code, body.page .bbp-topic-form code, body.single-topic .bbp-reply-form code, body.single-forum .bbp-topic-form code, body.topic-edit .bbp-topic-form code, body.reply-edit .bbp-reply-form code {
	font-size: 10px;
	background-color: #f0fff8;
	border: 1px solid #ceefe1;
	display: block;
	padding: 8px;
	margin-top: 5px;
	width: 369px;
}

#merge_tag, #delete_tag {
	display: inline;
}

div.bbp-submit-wrapper {
	margin-top: 15px;
	float: right;
	clear: both;
}

p.form-allowed-tags {
	max-width: 100%;
}

div.bbp-template-notice, div.indicator-hint {
	border-width: 1px;
	border-style: solid;
	padding: 0 0.6em;
	margin: 5px 0 15px;
	background-color: #ffffe0;
	border-color: #e6db55;
	color: #000000;
	clear: both;
	.rounded;
}

div.bbp-template-notice a {
	color: #555555;
	text-decoration: none;
}

div.bbp-template-notice a:hover {
	color: #000000;
}

div.bbp-template-notice p {
	margin: 0.5em 0 6px 0 !important;
	padding: 2px;
	//	font-size:12px;
	line-height: 140%;
}

div.bbp-template-notice.info {
	border-color: #cee1ef;
	background-color: #f0f8ff;
}

div.bbp-template-notice.important {
	border: #e6db55 1px solid;
	background-color: #fffbcc;
}

div.bbp-template-notice.error, div.bbp-template-notice.warning {
	background-color: #ffebe8;
	border-color: #cc0000;
}

div.bbp-template-notice.error a, div.bbp-template-notice.warning a {
	color: #cc0000;
}

.bbp-topics-front ul.super-sticky, .bbp-topics ul.super-sticky, .bbp-topics ul.sticky, .bbp-forum-content ul.sticky {
	background-color: #ffffe0 !important;
	//font-size:        1.1em;
}

.bbp-login-form {
	.bbp-username input, .bbp-email input, .bbp-password input {
		padding: 5px;
	}
	.bbp-username, .bbp-email, .bbp-password {
		margin-top: 10px;
	}
	fieldset legend {
		display: none;
	}
	label {
		display: inline-block;
	}
	.bbp-remember-me {
		margin-top: 10px;
		label {
			line-height: 2.7em;
		}
		input {
			margin: 15px 0px 0px -20px;
		}
	}
	.bbp-submit-wrapper {
		margin-top: 10px;
		text-align: right;
	}
	.bbp-login-links {
		a {
			float: left;
			clear: left;
		}
	}
}

#sidebar .bbp-login-form label {
	width: 70px;
}

.bbp-logged-in img.avatar {
	float: left;
	margin: 0 15px 0 0;
}

.bbp-logged-in h4 {
	font-weight: bold;
	font-size: 1.3em;
	clear: none;
	margin-bottom: 10px;
}

.activity-list {
	li.bbp_topic_create .activity-content .activity-inner, li.bbp_reply_create .activity-content .activity-inner {
		border-left: 2px solid #ececec;
		margin-left: 5px;
		padding-left: 10px;
	}
}

body.my-account #bbpress-forums {
	border-top: none;
	padding-top: 0;
	margin-bottom: 0;
}

.chosen-container {
	.chosen-results {
		li.highlighted {
			background-color: @primary !important;
			color: @secondary;
		}
	}
}

.bbp_reply_content {
	.bbp-reply-header {
		.bbp-meta {
			.bbp-reply-permalink, .bbp-admin-links {
				opacity: 0;
				-webkit-transition: all 0.2s ease-in-out 0s;
				-moz-transition: all 0.2s ease-in-out 0s;
				-o-transition: all 0.2s ease-in-out 0s;
				-ms-transition: all 0.2s ease-in-out 0s;
				transition: all 0.2s ease-in-out 0s;
			}
		}
	}
	&:hover {
		.bbp-reply-header {
			.bbp-meta {
				.bbp-reply-permalink, .bbp-admin-links {
					opacity: 1;
				}
			}
		}
	}
}

.bbp_reply_content .bbp-admin-links {
	a:hover {
		color: @black
	}
}

.bbp-author-avatar .avatar {
	.rounded(50%);
}

.bbp-topic-meta span {
	color: #9B9A9A
}
.bbp-author-role{white-space: nowrap;}