/**
 * bbPress specific LESS
 *
 * @package bbPress
 * @subpackage Theme
 */

/* =Standard Mobile Landscape
-------------------------------------------------------------- */

@media only screen and (max-width: 480px) {
	#bbpress-forums div.bbp-topic-tags {
		clear: left;
		float: left;
	}

	#bbpress-forums .bbp-forums-list li {
		display: block;
		font-size: 11px;
	}

	#bbpress-forums .bbp-body div.bbp-reply-author {
		margin: -15px 10px 10px;
		min-height: 100px;
		padding-left: 80px;
		position: relative;
		text-align: left;
		width: 100%;
	}

	#bbpress-forums .bbp-body div.bbp-reply-content {
		clear: both;
		margin: 10px;
		padding: 0;
	}

	#bbpress-forums div.bbp-reply-author a.bbp-author-name {
		clear: none;
		display: inline-block;
		margin-left: 0;
		word-wrap: break-word;
	}

	#bbpress-forums div.bbp-reply-author img.avatar {
		position: absolute;
		top: 15px;
		left: 0;
		width: 60px;
		height: auto;
	}

	#bbpress-forums div.bbp-reply-author .bbp-author-role {
		//		font-size:12px;
		font-style: normal;
	}

	#bbpress-forums div.bbp-reply-content p {
		margin-bottom: 1em;
	}

	#bbpress-forums fieldset.bbp-form {
		padding: 0 10px 10px;
	}

	#bbpress-forums #bbp-user-body {
		clear: both;
		margin-left: 0;
		word-wrap: break-word;
	}

	div.bbp-search-form {
		input, button {
			font-size: 11px;
			padding: 2px;
		}
	}

	li.bbp-forum-info, li.bbp-topic-title {
//		width: 45%;
	}

	li.bbp-forum-topic-count, li.bbp-forum-reply-count, li.bbp-topic-voice-count, li.bbp-topic-reply-count {
		width: 15%;
	}

	span.bbp-reply-post-date {
		float: left;
	}

	span.bbp-admin-links {
		clear: left;
		float: left;
	}

	div.bbp-submit-wrapper {
		float: left;
	}
}