/*********************check out******************/
#edd_checkout_cart {
	border:        1px solid #eee;
	border-radius: 2px;
	overflow:      hidden;
	.edd_cart_header_row th, tfoot th {
		text-align: center;
		border:     none;
		background: #fff;
		padding:    10px 15px;
	}
	.edd_cart_header_row th {
		border-bottom: 1px solid #eee;
	}
	td {
		text-align:    center;
		border:        none;
		background:    @body_background;
		border-bottom: 1px solid #eee;
		padding:       15px;
		&.edd_cart_actions {
			text-align: center;
		}
	}
}

#edd_checkout_form_wrap {
	border-radius: 2px;
	overflow:      hidden;
	legend {
		padding-bottom: 15px;
	}
	.edd-submit.button.blue {
		background: @primary;
		&.active, &:focus, &:hover {
			background: @secondary;
		}
	}
}

.edd_download {
	margin: 30px -10px;
	li {
		float:      left;
		position:   relative;
		text-align: center;
		list-style: none;
		.transition;
		margin:     0 0 20px 0;
		padding:    0 10px;
		width:      25%;
		&:nth-child(4n+1) {
			clear: both;
		}
		.post-thumbnail {
			overflow: hidden;
		}
		.edd-name {
			padding:   .7em 0;
			margin:    0;
			font-size: 1em;
			a {
				color: @anchor_text_color;
				&:hover {
					color: @anchor_text_hover_color;
				}
			}
		}
		.item-download {
			position: relative;
			overflow: hidden;
			.edd-buttons {
				position:           absolute;
				top:                100%;
				left:               0;
				width:              100%;
				text-align:         center;
				-moz-opacity:       0;
				-khtml-opacity:     0;
				-webkit-opacity:    0;
				opacity:            0;
				-ms-filter:         progid:DXImageTransform.Microsoft.Alpha(opacity=0);
				filter:             alpha(opacity=0);
				visibility:         hidden;
				visibility:         visible \9;
				display:            none \9;
				z-index:            9;
				-webkit-transition: all 0.2s ease-in-out 0s;
				-moz-transition:    all 0.2s ease-in-out 0s;
				-o-transition:      all 0.2s ease-in-out 0s;
				-ms-transition:     all 0.2s ease-in-out 0s;
				transition:         all 0.2s ease-in-out 0s;
				a {
					background:    @primary;
					color:         @white;
					padding:       4px 10px;
					display:       inline-block;
					border-radius: 2px;
					font-size:     14px;
					&:hover {
						background: @secondary;
						color:      @white;
					}
				}
				a.read_more{
					padding:      1px 10px;
				}
				.edd-cart-added-alert{
					color: #fff;
					font-size: 13px;
					margin-left: 45px;
				}
			}
			&:hover {
				.edd-buttons {
					margin-top: -18px;
					top:        50%;
					opacity:    1;
					display:    block;
					visibility: visible;
				}
			}
		}
		p.price {
			margin-top:    5px;
			margin-bottom: 0px;
			color:         @primary;
		}
	}
}

ul.edd-cart {
	max-height:    212px;
	overflow-y:    auto;
	margin-right:  -20px !important;
	margin-left:   -20px !important;;
	border-top:    1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding:       10px 20px;
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border-radius:      6px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius:      6px;
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	}
	li {
		position: relative;
		padding:  8px 0;
		overflow: hidden;
		a {
			font-weight: 600;
			color:       @anchor_text_color;
			display:     block;
			&:hover span {
				color: @anchor_text_hover_color;
			}
		}
		span {
			color:       #666;
			font-weight: 300;
		}
		img {
			float:        left;
			margin-left:  0px;
			width:        80px;
			box-shadow:   0 0 0 0;
			margin-right: 10px;
		}
		.edd-remove-from-cart {
			position: absolute;
			top:      5px;
			right:    0px;
			&:hover {
				color: @anchor_text_hover_color;
			}
		}

	}
}

.widget_download_cart_content p.buttons {
	overflow: hidden;
	a.button {
		padding:    5px 15px !important;
		float:      right;
		background: @primary;
		&:hover {
			background: @secondary;
		}
	}
}
.edd_content {
	margin-top: 30px;
	div.product:after{
		content: "";
		clear: both;
		display: table;
	}
}
.edd_content{
	.images,.summary {
		float: left;
	}
}