/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 20, 2014, 3:38:41 PM
    Author     : Tuanta
*/
/*-----------------------------------------------------------------------------------*/
/*  Google Map Section
/*-----------------------------------------------------------------------------------*/
#google-map {
	height: 450px;
	position: relative;
	width: 100%;
	background: white;
 }
.contact-map {
	margin: 0;
}

#google-map .captionMap img {
	width: 60px;
	margin-bottom: 5px;
	margin-right: 13px;
	float: left;
	margin-top: 0px;
}
#google-map img {
	max-width: none;
}
#google-map .captionMap {
	background: black;
	background: rgba(0, 0, 0, 0.3);
	background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), black);
	background: -moz-linear-gradient(rgba(0, 0, 0, 0.3), black);
	background: -o-linear-gradient(rgba(0, 0, 0, 0.3), black);
	background: -ms-linear-gradient(rgba(0, 0, 0, 0.3), black);
	background: linear-gradient(rgba(0, 0, 0, 0.3), black);
	border-radius: 4px;
	z-index: 1;
	top: 5px;
	color: white;
	padding: 12px;
	font: 12px HelveticaNeue, Helvetica, Arial;
	display: inline-block;
	position: absolute;
	text-shadow: black 0px 1px 1px;
	width: 120px;
	text-align: center;
	left: 80px;
}
#google-map .captionMap span {
	font-weight: bold;
	display: block;
	padding-top: 5px;
}