#masthead .top-header {
 	.top-left-menu {
		padding-top: 10px;
		i {
			font-size: 16px !important;
		}
		a {
			margin-right: 20px;
		}
		.textwidget {
			padding-bottom: 0px !important;
		}
		li {
			padding-top: 0px !important;
			padding-bottom: 0px !important;
		}

	}

	.top-right-menu {
		padding-top: 8px;
		ul li.menu-item {
			float: left;
			padding-left: 10px;
			padding-right: 10px;
			text-transform: uppercase;
			list-style-type: none;
		}
		.widget_text {
			padding-top: 0px;
		}
		li {
			padding-top: 0px !important;
			padding-bottom: 0px !important;
			margin-bottom: 0px;
		}
	}

}
#masthead .header {
	h1{
		color: @jumbotron_color_one;
	}
	color: @jumbotron_color_one;
}
.tm-table {
	display: table;
}

.table_cell {
	display: table-cell;
	vertical-align: middle;
}

.table_right {
	text-align: right;
}

.main_menu_container {
	width: 100%;
	display: table;
}

.navigation {
	.container {
		position: relative;
	}
}

.table_cell-center {
	text-align: center;
}

.navbar_right {
	margin: 0px;
	li {
		list-style: none;
	}
	>li{
		display: inline-block;
 	}
}

#masthead {
	.wapper_logo {
		.header_right {
			padding-top: 6px !important;
			float: right !important;
			aside {
				float: left;
			}
		}
	}
	.navigation {
		padding: 0px 0px;
		nav {
			padding-left: 0px !important;
		}
		&.affix {
 			width: 100%;
			left: 0;
			box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
		}

	}
}

.header_v1 #masthead {
	.navigation {
		&.affix-top {
 			.sm-logo-affix {
				display: none;
			}
			nav {
				width: 100%;
			}
		}
	}
}

.header_v2{
	.affix-top{
		.sticky_logo{
			display: none;
		}
	}
	.affix{
		.no-sticky_logo{
			display: none;
		}
	}
}
.header_v3{
	.affix-top{
		.sm-logo-affix{
			display: none;
		}
	}
}

.header_boxed {
	.affix-top {
		.container {
			width: auto;
			.row {
				position: static;
			}
		}
	}
}

.header_boxed {
	.navigation.affix-top {
		position: relative;
	}
}

.header_v1 {
	.header_boxed {
		.navigation.affix-top {
			margin-top: 10px;
		}
	}
}

body.slider-bar-opened {
	li.sliderbar-menu-controller {
		z-index: 999999;
		div {
			color: #fff;
		}
	}
	#rt-drawer.style2 {
		z-index: 99;
	}
}

.slider_sidebar {
	ul ul {
		margin-left: 25px;
	}
	aside {
		margin-bottom: 25px;
	}
	.widget_nav_menu {
		ul li {
			border-bottom: 1px solid #303030;
			padding-bottom: 15px;
			margin-bottom: 15px;
		}
	}
	.social_link li a {
		background: #272727;
		color: #888;
	}
}

#rt-drawer.style2 {
	.drawer_link a.collapsed {
		color: #fff !important;
	}
}

.slider_sidebar_close {
	display: none;
}

.slider-bar-opened .slider_sidebar_close {
	position: fixed;
	right: 30px;
	top: 40px;
	z-index: 999999;
	cursor: pointer;
	display: block;
	font-size: 20px;
}

.search-field {
	border: 1px solid #ddd;
	padding: 5px 10px
}

.search-submit {
	background: #181818;
	padding: 6px 15px;
	color: #fff;
	border: none;
}

.bottom-banners div.vc_span6 .wpb_content_element .wpb_wrapper div {
	padding-left: 80px;
	padding-top: 60px;
}

div.main-header-v9-search {
	padding: 10px 0px 10px;
	a {
		color: #999;
	}

}

.affix {
	#header-v9-search-form-input input {
		font-size: 28px;
		padding: 5px 25px;
	}
}

/* Header */
#masthead .header {
	padding: 40px 0 30px 0;
	text-align: center;
//	background: @primary;
 	h1 {
		font-size: 3.5em;
	}

	.textwidget,.trending-searches{
		p, span {
			color: @jumbotron_color_second;
		}
		p {
			font-size: 24px;
		}
	}

	.trending-searches{
		a{
			color: @jumbotron_color_one;
			&:hover{
				color: @jumbotron_color_second;
			}
		}
	}

	form {
		padding-top: 10px;
		input {
			padding: 15px;
			color: black;
			border: 1px solid white;
			border-bottom-color: rgb(221, 32, 32);
			width: 100%;
			&#bbp_search:before {
				content: "";
				border-bottom: 1px solid green;
			}
			&:before {
				content: "";
			}
		}
	}
	a.button {
		color: #000;
		background: #f7f7f7;
	}
	.trending-searches {
		line-height: 3em;
	}
}