/* Heading */
.tps-bestanwser {
	overflow-x: hidden;
}

.fancybox-overlay {
	/*z-index: 99999;*/
}

.fancybox-inner {
	overflow-x: hidden !important;
}

li.bbp-body div.reply {
	position: relative;
}

.star_reviewed {
	position: relative;
}

.star_reviewed {
	color:    #FFFB30;
	position: absolute;
	top:      0;
}

.star_reviewed span {
	display:     block;
	overflow-x:  hidden;
	white-space: nowrap;
}

.tps_modal {
	color:      #333;
	text-align: left;
}

.chosen-container-multi .chosen-choices li {
	border: 0;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
	height: 25px;
}

/*Icons*/
.list-icons {
	width:      100%;
	display:    inline-block;
}

.list-icons li {
	display: inline-block;
	margin:  0 1px !important;
}

.list-icons li img {
	border-radius: 50%;
}
/////////////////////////

#knowledgebase-wrapper {
	h2 {
		margin-bottom: 30px;

		small {
			font-size: 0.5em;
			display: block;
			line-height: 2em;
		}
		.breadcrumbs span {
			margin-right: 0px;
		}
	}
	h2, h1 {
		span {
			margin-right: 15px;
			color: @primary;
		}
	}
	.des_kb {
		font-size: 55%;
	}
	.column {
		padding-bottom: 20px;
	}
	ul.kb-article-list, a.view-all {
		margin-left: 2px;
		li {
			list-style-type: none;
			line-height: 2.5em;
			a {
				i {
					padding-right: 5px;
				}
			}
			p {
				line-height: 1.5em;
			}
		}
	}

	article {
		clear: both;
		padding-top: 10px;
	}

	.kbrating {
		border-top: 1px solid #ddd;
		padding-top: 10px;
		margin-top: 15px;
		font-size: 14px;
	}
}

// Purchase code form
.form-check-purchasedcode, .deskpress-search-user {
	h3 {
		margin-bottom: 30px;
	}
	input.form-control {
		width: calc(~"100% - 100px");
		display: inline-block;
		float: left;
		height: 36px;
		margin-right: 2px;
	}
}


// new best answer
#tps-bestanwser {
	.col-md-12 {
		margin-bottom: 15px;
		&:last-child {
			margin-bottom: 0px;
		}
	}
	#update-kb {
		min-height: 345px;
	}
}

#new-post {
	.nav-tabs {
		margin-top: 30px;
		margin-bottom: -1px !important;
		border-bottom: none;
		> li > a {
			border-radius: 2px 2px 0 0;
		}
		> li.active, > li:hover {
			> a {
				background: #fbfbfb;
				&:hover, &:focus {
					background: #fbfbfb;
				}
			}
		}
	}
	.tab-content {
		background: #fbfbfb;
		padding: 20px;
		border: 1px solid #ddd;
		border-radius: 2px;
		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
}

.fancybox-desktop {
	.bbp-topic-reply-link {
		display: none;
	}
}

.kb-content-title {
	h1 {
		margin-bottom: 5px;
	}
}

.kb-meta {
	font-size: 85%;
}

.kbcategory {
	margin-left: 10px;
	> span {
		color: #9b9a9a;
	}
}

.kb-articles {
	.kbcategory {
		margin-left: 0px;
		display: block;
		color: #9b9a9a;
		small{
			margin-top: 5px;
			font-size: 0.8em;
		}
		small a {
 			color: @black;
			&:hover {
				color: @primary;
			}
		}
		> span {
			font-weight: normal;
			color: @black;
		}
	}
}

.kb-content-title span.fa-stack {
	margin-right: 10px;
}

.content-kb{
	time.pull-right{
		font-size: 85%;
		color: #9a9a9b;
	}
}