.slider_sidebar {
	z-index: 10000 !important;
 	.bbp-logged-in{
		.avatar{
			border-radius: 50%;
		}
	}
	.bbp-login-form{
		button{
			white-space: nowrap;
		}
	}
	aside {
		margin-bottom: 20px !important;
		position: relative;
		.widget-title {
			color: @white !important;
    		}
		li {
			color: #a9a9a9;
 			padding: 5px 0;
			&:hover {
				color: @primary;
				a {
					color: @primary;
					&:hover {
						color: @primary;
					}
				}
			}
			a {
				color: #a9a9a9;
			}
		}

		> select {
			width: 100%;
			padding: 3px;
		}
	}
	aside + aside {
		margin-top: 20px !important;
	}

	.widget_pages {
		li {
			border-bottom: 1px solid #303030;
			padding: 10px 0 !important;
		}
	}
	.widget_recent_comments {
		li a:last-child {
			color: #428bca;
		}
	}
	.widget_search {
		label {
			font-weight: 300;
			.search-field {
				width: 100%;
			}
			span {
				display: inline-block;
				margin-bottom: 5px;
			}
		}
		.search-submit {
			background: #272727;
			color: #888;
			transition: all 0.2s ease-out 0s;
			&:hover {
				background: #FE4444;
			}
		}

	}
	.widget_text {
		.textwidget {
			img {
				margin: 5px 0;
				box-sizing: border-box;
				max-width: 100%;
				&:hover {
					box-shadow: 0 0 5px 0 #ccc;
				}
			}
			> p {
				font-weight: 300;
			}
			select {
				width: 100%;
				padding: 3px;
			}
		}
	}
	.widget_tag_cloud {
		.tagcloud {
			a {
				background: #333;
				font-weight: 300;
				padding: 3px 7px;
			}
		}

	}
	.widget_calendar {
		table {
			border-collapse: collapse;
		}
		td, th {
			border: solid 1px #272727;
			padding: 2px;
			text-align: center;
			vertical-align: middle;
			font-size: 12px;
		}
		caption {
			background: #272727;
			text-align: center;
			padding: 3px;
			font-weight: 600;
		}
		th {
			border: none;
		}
		thead {
			border: solid 1px #272727;
		}
		tfoot td {
			border: none;
		}
		tbody {
			td {
				a {
					color: #FE4444;
				}
			}
			td:hover {
				background: #FE4444;
				color: #212121;
				a {
					color: #212121;
				}
			}
			td.pad:hover {
				background: transparent !important;
			}

		}
	}
	.widget_nav_menu {
		.thimpress_mega_menu {
			li a {
				color: #bababa !important;
				&:hover {
					color: @primary !important;
				}
			}
			li li {
				border: none !important;
				margin: 5px 0 !important;
				padding: 5px 0 !important;
			}
		}
	}
	.deskpress_login {
		.deskpress-login-widget-form {
 			font-weight: 400;
			.deskpress-login-widget-label {
				font-weight: 600;
				margin: 15px 0 5px;
			}
			.deskpress-login-widget-input {
				input[type="text"], input[type="password"] {
					background: #fff;
					border: medium none;
					padding: 3px;
					width: 100%;
				}
			}
			.deskpress-login-widget-remember {
				padding: 5px 0;
				> label {
					font-weight: 300;
				}
			}
			.deskpress-login-widget-button {
				background: #272727;
				color: #888;
				transition: all 0.2s ease-out 0s;
				width: 100%;
				border: none;
				padding: 5px;
				&:hover {
					background: #FE4444;
				}
			}
		}
	}
	input[type="submit"],button[type="submit"]{
		height: auto;
		line-height: inherit;
		padding: 6px 20px;
		&:hover{
			background: @secondary;
		}
	}
}
.header {
	.widget_archive,.widget_calendar,.widget_categories,.widget_pages,
	.widget_meta,.widget_recent_comments,.widget_recent_entries,.widget_rss,.widget_search,.widget_tag_cloud,.widget_nav_menu{
		a:hover{
			color: @jumbotron_color_second!important;
		}
	}
	.search-submit{
		background: @black;
		color: @white!important;
	}

}
.widget_archive,.widget_calendar,.widget_categories,.widget_pages,
.widget_meta,.widget_recent_comments,.widget_recent_entries,.widget_rss,.widget_search,.widget_tag_cloud,.widget_nav_menu{
	text-align: left;
	clear: both;
	li{
		list-style: none;
	}
	select{
 		color: @black;
	}
}
.widget_search{
	input{
		padding: 7px 15px!important;
	}
	.search-field{
		line-height: 20px!important;
	}
	.search-submit{
		border: 1px solid transparent!important;
		height: auto!important;
		width: auto!important;
		line-height: 20px!important;
	}
}
.textwidget form{
	color: @black;
}
#collapseDrawer .tagcloud{
	a{ line-height: 18px}
}
.widget-sidebar-area .widget_search{
	margin-top: 25px;
}