#deskpress-popup-login-wrapper {
	height: 100%;
	left: 0;
	outline: medium none !important;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999;

	.deskpress-popup-login-bg {
		background: none repeat scroll 0 0 #0b0b0b;
		height: 100%;
		left: 0;
		opacity: 0.8;
		overflow: hidden;
		position: fixed;
		top: 0;
		width: 100%;
	}

	.deskpress-popup-login-container {
		box-sizing: border-box;
		height: 100%;
		left: 0;
		padding: 0 8px;
		position: absolute;
		text-align: center;
		top: 0;
		width: 100%;

		&:before {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}

		.deskpress-popup-login-container-inner {
			display: inline-block;
			margin: 0 auto;
			position: relative;
			text-align: left;
			vertical-align: middle;

			.deskpress-popup-login {
				background-color: #fff;
				margin: 0 auto;
				max-width: 700px;
				padding: 30px;
				position: relative;

				.deskpress-popup-login-close {
					background: none repeat scroll 0 0 transparent;
					border: medium none;
					display: block;
					font-size: 28px;
					height: 44px;
					line-height: 44px;
					opacity: 0.65;
					position: absolute;
					right: 0;
					top: 0;
					width: 44px;
				}
				h2 {
					color: #666;
					font-family: "Open Sans";
					font-size: 21px;
					font-weight: 400;
					line-height: 33px;
					margin: 0 0 15px;
					padding: 0;
				}
				.deskpress-popup-login-content {
					color: #15151a;
					font-family: "Open Sans";
					margin-bottom: 20px;
					p {
						margin: 0 0 20px;
					}

					a {
						color: #666;
					}

					label {
						display: inline-block;
						font-size: 14px;
						font-weight: 400;
						margin-top: 10px;
					}

					input[type="text"], input[type="password"] {
						max-width: 100%;
						width: 100%;
						background-color: #fff;
						border: 1px solid #eee;
						margin: 0;
						padding: 10px;
						vertical-align: middle;
					}
				}
				.deskpress-popup-login-button {
					background: #444;
					border: none;
					color: #fff !important;
					display: inline-block;
					font-family: "Open Sans";
					font-size: 14px;
					font-weight: 400;
					line-height: 22px;
					padding: 10px 15px;
					text-decoration: none;
					text-transform: uppercase;
				}
			}
		}

	}

}

