/**********config**************/
.transition (@transition: all 0.2s ease-in-out 0s) {
	-webkit-transition: @transition;
	-moz-transition:    @transition;
	-o-transition:      @transition;
	-ms-transition:     @transition;
	transition:         @transition;
}

.rounded (@radius:2px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	-ms-border-radius:     @radius;
	-o-border-radius:      @radius;
	border-radius:         @radius;
}

/******end config************/
/***************************/
input, textarea, input [ type = "text" ], input [ type = "password" ], input [ type = "datetime" ], input [ type = "datetime-local" ], input [ type = "date" ], input [ type = "month" ], input [ type = "time" ], input [ type = "week" ], input [ type = "number" ], input [ type = "email" ], input [ type = "url" ], input [ type = "search" ], input [ type = "tel" ], input [ type = "color" ], input .input-text {
	border:            1px solid @border_color;
	background:        @white;
	padding:           5px;
	.transition;
	.rounded();
	-webkit-boxshadow: none;
	&:focus {
		outline: 0;
	}

	&.tm-disabled, &:disabled {
		background: @grey;
		cursor:     no-drop;
	}

}

.form-control, .icon_box {
	.rounded();
}

@white: #fff;
@black: #000;
@grey : #dedede;
@border_color: #e6e6e6;

/***********************/
img {
	max-width: 100%;
	height:    auto
}

a, .boxes_title, .boxes_icon, .inner_icon, .inner_icon .icon {
	outline: none;
	.transition;
}

a:hover {
	text-decoration: none;
}

.navigation {
	padding: 15px 0;
}

.navigation_logo {
	margin: 5px 0 0 0
}

.mobile_logo {
	display: none;
}

.home-content .fullwidth {
	overflow: hidden;
}

.home-content {
	.container {
		padding-left:  0;
		padding-right: 0px;
	}
}

.boxed_area {
	.home-content .fullwidth {
		overflow: visible;
	}
}

.vc_label {
	width:   100%;
	display: block
}

.wpb_button {
	border-radius: 0px !important
}

.wpb_button i.icon {
	margin-left:  0px !important;
	margin-right: 5px
}

/*********************Page & Single********************/
.full_content {
	overflow: hidden
}

.top_site_main .entry-header p {
	font-size: 16px
}

.tagcloud, .entry_tag {
	display: inline-block;
	width:   100%;
	a {
		font-size:   12px !important;
		background:  @color_border_bottom;
		padding:     7px 20px;
		display:     inline-block;
		margin:      0 5px 5px 0;
		float:       left;
		font-weight: bold;
		color:       #aaa !important;
		.transition;
		.rounded;
		&:hover {
			background: @primary;
			color:      @white !important;
			.transition;
		}
	}
}

.page-content {
	.page-content-inner {
		.entry-author li {
			display:  inline-block;
 		}
		img {
			margin-bottom: 15px;
		}
		.entry-footer {
			i {
				margin-right: 10px;
			}
		}
		.entry-author {
			float:        left;
			margin-right: 10px;
		}
	}
}

#comments {
	padding: 20px 0px;
}

#comments, #respond {
	&:focus {
		outline:      0;
		border-color: transparent;
		box-shadow:   0 0 0;
	}
}

blockquote {
	border-left: 3px solid #eee;
	font-size:   100%;
	padding:     0 20px;
	margin:      30px 0;
	font-style:  italic;
}

.entry-content {
	line-height: 25px;
	&:after {
		content: "";
		display: table;
		clear:   both;
	}

}

.blog-basic .box-header {
	width: calc(~"100% - 10px");
	float: left
}

.blog-basic .box-quote {
	width: calc(~"100% - 74px") !important;
	float: left
}

.blog-basic .entry-header .format-icon {
	background-color: #777777 !important;
	margin-right:     20px;
}

/*******************/
.box-header h3 {
	margin-bottom: 24px;
}

.format-icon i {
	background: url("images/icon-format.png");
}

.fa {
	//	line-height: inherit
}

a.retina {
	display: inline-block;
}

.deskpress_animated .umScaleIn {
	opacity: 1;
}

/*ScaleIn effect*/
.button {
	.rounded(0px);
	border:      none !important;
	text-shadow: 0 0 0 !important;
	box-shadow:  0 0 0 !important;
	padding:     9px 10px;
}

.flickr div {
	margin: 0 -5px
}

.flickr div a {
	margin:  5px;
	display: inline-flex;
}

.page_fullwidth {
	padding-bottom: 0px;
}

/**********owl-carousel***********/
.owl-carousel {
	display:          none;
	position:         relative;
	width:            100%;
	-ms-touch-action: pan-y;
	.owl-wrapper {
		display:           none;
		position:          relative;
		-webkit-transform: translate3d(0px, 0px, 0px);
		&:after {
			content:     ".";
			display:     block;
			clear:       both;
			visibility:  hidden;
			line-height: 0;
			height:      0;
		}
	}
	.owl-wrapper-outer {
		overflow: hidden;
		position: relative;
		width:    100%;
		&.autoHeight {
			.transition(height 500ms ease-in-out);

		}
	}
	.owl-item {
		float: left;
	}
	.owl-wrapper, .owl-item {
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:    hidden;
		-ms-backface-visibility:     hidden;
		-webkit-transform:           translate3d(0, 0, 0);
		-moz-transform:              translate3d(0, 0, 0);
		-ms-transform:               translate3d(0, 0, 0);
	}
}

/* Styling Pagination*/
.owl-theme {
	.owl-controls {
		.owl-page, .owl-buttons div {
			cursor: pointer;
		}
		.owl-page {
			display:  inline-block;
  			span {
				display:    block;
				width:      10px;
				height:     10px;
				margin:     5px;
				.rounded(50%);
				background: #ddd;
			}
			&.active span, &:hover span {
				background: #999;
			}
		}
	}
}

/*************************widget sidebar ****************************/
.widget-sidebar-area {
	.bbp-logged-in {
		h4 {
			margin-top: 0px;
		}
		padding-top: 10px;
		a {
			padding-left: 0px;
		}
		p {
			a.button {
				background: @primary;
				color:      @white;
				&:hover {
					background: @secondary;
					color:      @white;
				}
			}
		}
	}

	aside {
		div.format-icon {
			background-color: #777 !important;
		}
		li.item_recent_post {
			display: inline-block;
			width:   100%;
			.format-icon {
				margin-right: 20px;
			}
			.format-icon span.fa-link {
				margin-top: 12px;
			}
			a.title_recent_post {
				font-size:   13px;
				font-weight: 300;
				display:     block;
			}
			span.post-date {
				font-size:   12px;
				font-weight: 300;
			}
		}
	}

	select {
		width:   100%;
		padding: 5px;
	}
	li {
		list-style: none
	}
	.widget {
		margin-bottom: 25px;
		&:last-child {
			margin-bottom: 0px;
		}
		ul {
			li {
				padding-bottom: 10px;
				width:          100%;
				a {
					color: #666;
					&:hover {
						color: @primary;
					}
				}
			}
		}
		ul ul, ul ul ul {
			li:last-child {
				border-bottom: none
			}
		}
		input {
			border:      1px solid #eee;
			padding:     5px 6px;
			font-size:   100%;
			font-weight: normal
		}
		input[type="submit"], button[type="submit"] {
			border: none;
		}
		.screen-reader-text {
			display: none
		}
		.textwidget p strong {
			padding-bottom: 10px;
			display:        inline-block
		}

	}
	.sub-menu {
		margin-top:   10px;
		padding-left: 25px;
		li {
			list-style: inherit
		}
	}
	.widget_recent_entries li {
		margin-bottom: 0px;
	}
}

.social_connect_ui {
	margin-top: 40px;
}

/*******************single************************/
.post-navigation {
	.nav-links {
		overflow:      hidden;
		margin-bottom: 40px;
		.nav-previous {
			float: left;
			.meta-nav {
				margin-right: 7px
			}
		}
		.nav-next {
			float: right;
			.meta-nav {
				margin-left: 7px
			}
		}
		.meta-nav {
			border:    1px solid #ddd;
			padding:   6px 15px;
			display:   inline-block;
			color:     #333;
			font-size: 20px;
		}
		a {
			color:       #858585;
			display:     inline-block;
			font-size:   14px;
			font-weight: 300;
		}
	}
}

/*******************.entry-meta************************/
.entry-header h3 {
	margin-top:     10px;
	text-transform: none !important
}

.entry-meta li {
	list-style:   none;
	display:      inline-block;
 	margin-right: 15px;
	color:        #9b9a9a;
	i {
		margin-right: 5px;
	}
	a {
		color: #333;
	}
}

/*************************category *****************************/

.blog-mas {
	.entry-meta {
		position: relative;
		li.meta_comment {
			position: absolute;
			right:    15px;
			a {
				background:  @primary;
				width:       24px;
				height:      19px;
				font-size:   11px;
				color:       @white;
				position:    absolute;
				text-align:  center;
				line-height: 20px;
				&:after {
					content:      "";
					border-right: 5px solid transparent;
					border-top:   5px solid @primary;
					position:     absolute;
					bottom:       -5px;
					left:         50%;
					margin-left:  -3px;
					-webkit-transition: all 0.2s ease-in-out 0s;
					-moz-transition: all 0.2s ease-in-out 0s;
					-o-transition: all 0.2s ease-in-out 0s;
					-ms-transition: all 0.2s ease-in-out 0s;
					transition: all 0.2s ease-in-out 0s;
				}
				&:hover{
					background:  @secondary;
					color: @white ;
				}
				&:hover:after{
					border-top:   5px solid @secondary;
				}
			}
		}
	}
	.entry-author {
		li {
			margin-right: 10px;
		}
	}
	.content-inner {
		&:after {
			content: "";
			clear:   both;
			display: table;
		}
		.post-thumbnail {
			overflow: hidden;
			img {
				-webkit-transition: all 0.2s ease-in-out 0s;
				-moz-transition:    all 0.2s ease-in-out 0s;
				-o-transition:      all 0.2s ease-in-out 0s;
				-ms-transition:     all 0.2s ease-in-out 0s;
				transition:         all 0.2s ease-in-out 0s;
			}
			&:hover {
				img {
					-webkit-transform: scale(1.2);
					-moz-transform:    scale(1.2);
					-o-transform:      scale(1.2);
					-ms-transform:     scale(1.2);
					transform:         scale(1.2);
				}
			}
		}
	}
}

.entry-author {
	margin-bottom: 5px;
	li {
		list-style: none;
		display:    inline-block;
 		/*margin-right: 10px;*/
		color:      #666;
		a {
			&.author {
				color: @black;
			}
			color: #666;
			&:hover {
				color: @primary;
			}
		}
	}
}

a.link:hover {
	color: #333
}

.affix {
	z-index: 9999;
	top:     0;
}

&.admin-bar {
	.affix {
		z-index: 9999;
		top:     32px
	}
}

.site-header .affix {
	-webkit-animation: wpb_ttb 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
	-moz-animation:    wpb_ttb 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
	-o-animation:      wpb_ttb 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
	animation:         wpb_ttb 0.6s 1 cubic-bezier(0.77, 0, 0.175, 1);
	.sm-logo-affix {
		-webkit-animation: wpb_ttb 0.9s 1 cubic-bezier(0.77, 0, 0.175, 1);
		-moz-animation:    wpb_ttb 0.9s 1 cubic-bezier(0.77, 0, 0.175, 1);
		-o-animation:      wpb_ttb 0.9s 1 cubic-bezier(0.77, 0, 0.175, 1);
		animation:         wpb_ttb 0.9s 1 cubic-bezier(0.77, 0, 0.175, 1);
	}
}

/*************************/
.layout_grid {
	background: #eee;
}

.blog-grid {
	.floatleft {
		float: left
	}
	.entry-content {
		padding: 20px;
		.excerpt p {
			margin-bottom: 0px;
			font-size:     13px;
			font-weight:   300;
		}
	}
	.width33:nth-child(3n+1), .width50:nth-child(2n+1), .width25:nth-child(4n+1) {
		clear: both
	}
	.width25 {
		.post-formats-wrapper iframe {
			min-height: 180px;
			height:     auto;
		}
	}

	.entry-summary {
		text-align: center;
		.author {
			font-style: italic;
			a {
				color: #707070;
			}
		}
	}
	.post-formats-wrapper {
		position: relative;
	}
	.grid-content {
		background: @white;
		margin:     15px;
		.name_post_format {
			text-transform: capitalize;
			text-align:     center;
		}
		.box-header h3 {
			font-weight: 400;
			text-align:  center;
		}
	}
	blockquote {
		margin-top: 0px
	}

}

.flexslider li {
	list-style: none
}

.layout_grid {
	.pagination {
		border-color: #DDD;
		.page-numbers {
			> li {
				> a,
				> span {
					background: @white;
				}
			}
			> li > span.current, > li.active > span, > li > span:hover {
				background: #eee;
			}
			> li > a {
				&:hover {
					background: #EEE;
				}
			}
		}
	}
}

.socials {
	border-top:    1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding:       15px 0;
	text-align:    right;
	overflow:      hidden;
	> span {
		float:       left;
		color:       #333;
		padding-top: 8px;
		font-size:   14px;
	}
	a {
		padding: 5px 13px;
		display: inline-block;
		border:  1px solid transparent;
		color:   #888;
		&:hover, &.facebooks {
			background:   #333;
			border-color: #999;
			color:        @white;
		}

	}
}

.single-post .post-formats-wrapper {
	margin-bottom: 25px;
}

.entry-header-single {
	margin-bottom: 32px;
	.blog_title {
		font-weight: 300;
		margin-top:  0px;
	}
}

.about-author {
	margin:   20px 0;
	overflow: hidden;
	width:    100%;
	.avatar {
		width:        90px;
		margin-right: 20px;
		float:        left;
		height:       90px;
		.rounded(90px);
		overflow:     hidden;
	}
	.description {
		float: left;
		width: calc(~"100% - 110px");
		font-size: 14px;
	}
	h3.tm-title {
		text-transform: capitalize;
	}
}

p.form-submit {
	margin-bottom: 0px;
}

.archived-posts {
	margin-bottom: 0px;
	li {
		width:      100%;
		float:      left;
		list-style: none;
		.rel-post-text h5 {
			text-transform: none;
			font-size:      13px !important;
			font-weight:    300 !important;
		}
	}
}

/*******************************comment******************/
.comment-form {
	input, textarea {
		border: 1px solid #ddd;
	}
}

.comment_form {
	margin: 60px 0px 50px 0px;
	.col-sm-12 {
		margin-left: -28px !important;
	}
	label {
		font-weight:   500;
		margin-bottom: 15px;
	}
	.txt, .text_area {
		border:        none;
		background:    #FFF;
		padding:       6px 15px;
		width:         100%;
		color:         #444444;
		margin-bottom: 10px;
	}
	.text_area {
		height:      150px;
		font-size:   13px;
		font-weight: 300;
	}
	p.comment-form-comment {
		margin-top: 20px;
	}
	#btnComment {
		color:            @white;
		border:           none;
		padding:          8px 20px;
		background-color: #BBBBBB !important;
		&:hover {
			background: #666 !important;
		}
		.label_submit {
			letter-spacing: 2px;
			margin-left:    4px;
		}
	}
	.comment-notes, .form-submit, .logged-in-as, .comment-reply-title {
		margin: 20px 15px 10px 15px
	}
	p.form-submit {
		margin-left: 2px !important;
	}

	.comment-notes {
		font-size:   13px;
		font-weight: 300;
		margin-left: 0px !important;
	}

}

#comments {
	.comments-title {
		margin: 0;
	}
}

.comments-area {
	.comment-respond {
		.reply-title-line-center {
			background: none repeat scroll 0 0 #ddd;
			height:     1px;
			left:       0;
			position:   absolute;
			top:        50%;
			width:      100%;
		}

		#reply-title {
			margin: 0 0 15px 0;
		}
		small.cancel_reply {
			font-style: italic;
			color:      @primary;
		}
		.comment-form {
			p.logged-in-as {
				margin-left: 0px;
			}
			label {
				display:       block;
				font-weight:   bold;
				color:         @black;
				margin-bottom: 5px;
			}
			#comment {
				height: 100px !important;
				width:  100%;
			}
			input {
				width: 50%;
			}
			#submit {
				width:  auto;
				border: none
			}
		}
	}
	.title-total-comment {
		position: relative;
	}

	.lists_comments {
		margin: 0px 0 25px 0;
		#respond {
			margin-top: 20px;
		}
		.comment-author.meta {
			color: #9b9a9a;
			font-size: 85%;
			strong {
				color: @black;
			}
		}
		li.depth-1 {
			div.des_blog:first-child {
				background-color: @white;
			}
		}
		> li {
			list-style: none outside none;
		}
		li {
			.des_blog {
				overflow:      hidden;
				border-bottom: 1px solid #e6e6e6;
				display:       inline-block;
				width:         100%;
				padding:       20px 0;
				.comment_content .comment_text {
					margin-top: 5px;
					font-size: 90%;
					p {
						margin-bottom: 0px;
					}
				}
			}
			.avatar {
				width:        50px;
				height:       50px;
				float:        left;
				margin-right: 15px;
			}
			.comment_content {
				padding-left: 65px;
			}
		}
		.children {
			margin:       0;
			padding-left: 65px;
			li {
				list-style: none;
			}
		}

	}
	nav.comment-navigation {
		margin-top: 15px;
		background: transparent;
		padding:    0px;
		.comment_nav {
			overflow: hidden;
			a {
				color: #333;
				&:hover {
					color: #999;
				}
			}
		}
		div.nav-previous {
			float:        left;
			margin-right: 25px;
		}
		div.nav-next {
			float: left;
		}
	}
}

/**social***/
.social_link li {
	list-style: none;
	display:    inline-block;
	margin:     4px 2px;
	a {
		width:       36px;
		height:      36px;
		display:     inline-block;
		background:  #DDD;
		line-height: 36px;
		color:       #999;
		text-align:  center;
	}
}

// bg over
.bg_over_black, .bg_over_while, .slotholder div {
	position: relative;
	&:before {
		content:  "" !important;
		display:  inline-block !important;
		position: absolute;
		top:      0;
		left:     0;
		right:    0;
		bottom:   0;
	}
}

.bg_over_black {
	&:before {
		background: rgba(0, 0, 0, 0.4);
	}
}

.bg_over_while {
	&:before {
		background: rgba(255, 255, 255, 0.5);
	}
}

// top drawer
#rt-drawer {
	position: relative;
	#collapseDrawer {
		overflow: hidden;
		&.collapse {
			display: block;
		}
		.widget {
			float:       left;
			line-height: 50px;
		}
	}

	.drawer_link {
		position:    absolute;
		width:       50px;
		height:      50px;
		line-height: 50px;
		text-align:  center;
		right:       0;
		top:         0;
		z-index:     999;
		a {
			font-size: 26px;
			width:     100%;
			height:    100%;
			display:   inline-block;
			&.collapsed {
				i:before {
					content: "\f107";
				}
			}
		}
	}
	&.style2 {
		position: absolute;
		top:      0;
		width:    100%;
		z-index:  99999;
		.drawer_link {
			background:   transparent;
			width:        0;
			height:       40px;
			line-height:  28px;
			top:          auto;
			bottom:       -40px;
			border-style: solid;
			border-width: 0 40px 40px 0;
			border-color: transparent #eb583c transparent transparent !important;
			.fa-angle-up:before {
				content:   "\f068";
				font-size: 11px;
				position:  absolute;
				left:      24px;
				top:       0px;
			}
			a.collapsed i:before {
				content: "\f067";
			}
		}
	}
}

#rt-drawer.style2 #collapseDrawer .widget {
	padding: 15px;
}

// end top drawer

.testimonials .testimonial_des a {
	word-break: break-word;
}

.hfeed.site {
	position: relative;
}

.wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button {
	margin-bottom: 0px !important;
}

.box-full .fullwidth {
	padding-left:  15px;
	padding-right: 15px;
}

.wpb_row {
	margin-left:  -15px;
	margin-right: -15px;
	&:after {
		content: " ";
		display: table;
		clear:   both;
	}
}

.layout1 .testimonials .avta .box-avta {
	display:  inline-block;
	overflow: hidden;
	width:    100%
}

// content top
.page-title-wrapper {
	display: table;
	height:  100%;
	color:   #fff;
	.page-title-captions {
		display:        table-cell;
		vertical-align: middle;
		width:          50%;
		.entry-title, .page-title {
			margin-top:    0px;
			margin-bottom: 0px;
			color:         inherit;
		}
	}

	.breadcrumbs {
		display:        table-cell;
		vertical-align: middle;
		list-style:     none;
		margin:         0;
		padding:        0;
		text-align:     right;
		width:          50%;
		.woocommerce-breadcrumb {
			background:    transparent !important;
			margin-bottom: 0px !important;
			color:         inherit;
			a {
				color: inherit;
			}
		}
		a {
			color: inherit;
		}
	}
	.width100 {
		width:      100%;
		text-align: left;
	}
}

.woocommerce, .woocommerce-page {
	.woocommerce-breadcrumb, .woocommerce-breadcrumb a {
		color:         inherit;
		margin-bottom: 0px;
	}
}

#masthead .header {
	margin-bottom: 0px;
}

.top-category-product {
	.page-title {
		text-transform: uppercase;
		margin-bottom:  25px;
		margin-top:     10px;
	}
}

/**********boxed and wide***********/
.boxed_area {
	max-width: 1200px;
	margin:    0 auto;
}

/***********page 404*************/

.left_404 h2 {
	font-size: 86px !important; /* font-weight: bold;*/
	margin:    0px
}

.left_404 {
	width: 160px;
	float: left
}

.right_404 {
	width:      400px;
	float:      left;
	margin-top: 5px
}

.right_404 p {
	font-weight: bold;
	font-size:   110%
}

.right_404 i {
	font-size: 90%
}

.page-404-content {
	width:  560px;
	margin: 100px auto 150px auto
}

/*******************************
		SIDEBAR MENU
*******************************/
.slider_sidebar, .menu-mobile {
	position: fixed;
	width:    200px;
	z-index:  10;
	height:   100%;
	overflow: auto;
}

.slider_sidebar {
	width: 300px;
}

#page {
	-webkit-transition: -webkit-transform 400ms ease;
	-moz-transition:    -moz-transform 400ms ease;
	-o-transition:      -o-transform 400ms ease;
	transition:         transform 400ms ease;
}

html .slider_sidebar {
	right:              0px;
	-webkit-transform:  translate(300px);
	-webkit-transform:  translate(300px);
	-moz-transform:     translate(300px);
	-ms-transform:      translate(300px);
	-o-transform:       translate(300px);
	transform:          translate(300px);
	-webkit-transition: -webkit-transform 280ms ease;
	-moz-transition:    -moz-transform 280ms ease;
	-o-transition:      -o-transform 280ms ease;
	transition:         transform 280ms ease;
}

html .slider_sidebar.opened {
	-webkit-transform: translate(0px);
	-webkit-transform: translate(0px);
	-moz-transform:    translate(0px);
	-ms-transform:     translate(0px);
	-o-transform:      translate(0px);
	transform:         translate(0px);
}

body.slider-bar-opened #page {
	-webkit-transform: translate(-300px);
	-webkit-transform: translate(-300px);
	-moz-transform:    translate(-300px);
	-ms-transform:     translate(-300px);
	-o-transform:      translate(-300px);
	transform:         translate(-300px);
}

body.menu-opened #page {
	-webkit-transform: translate(200px);
	-webkit-transform: translate(200px);
	-moz-transform:    translate(200px);
	-ms-transform:     translate(200px);
	-o-transform:      translate(200px);
	transform:         translate(200px);
}

html .menu-mobile.opened {
	-webkit-transform: translate(0px);
	-webkit-transform: translate(0px);
	-moz-transform:    translate(0px);
	-ms-transform:     translate(0px);
	-o-transform:      translate(0px);
	transform:         translate(0px);
}

html .menu-mobile {
	left:               0px;
	-webkit-transform:  translate(-200px);
	-webkit-transform:  translate(-200px);
	-moz-transform:     translate(-200px);
	-ms-transform:      translate(-200px);
	-o-transform:       translate(-200px);
	transform:          translate(-200px);
	-webkit-transition: -webkit-transform 200ms ease;
	-moz-transition:    -moz-transform 200ms ease;
	-o-transition:      -o-transform 200ms ease;
	transition:         transform 200ms ease;
}

body.menu-opened #page {
	-webkit-transition: -webkit-transform 200ms ease;
	-moz-transition:    -moz-transform 200ms ease;
	-o-transition:      -o-transform 200ms ease;
	transition:         transform 200ms ease;
}

body.slider-bar-opened #page {
	-webkit-transition: -webkit-transform 280ms ease;
	-moz-transition:    -moz-transform 280ms ease;
	-o-transition:      -o-transform 280ms ease;
	transition:         transform 280ms ease;
}

.slider_sidebar ul li {
	list-style: none;
}

.slider_sidebar {
	background-color: #141414;
	padding:          20px 30px;
	color:            #a9a9a9;
	padding-bottom:   50px;
	label {
		font-weight: normal;
	}
	#mc4wp_email {
		width:         100%;
		margin-bottom: 10px;
	}

	.mc4wp-form {
		input[type="submit"] {
			float: right
		}
		&:after {
			clear:   both;
			content: "";
			display: table;
		}
	}
}

.slider_sidebar a, .slider_sidebar .widget-title {
	color:       #a9a9a9;
	font-weight: 500;
}

.sliderbar-menu-controller > div {
	padding:       5px 8px;
	cursor:        pointer;
	display:       inline-block;
	border-radius: 2px;
	margin-left:   10px;
	background:    @primary;
	color:         @white !important;
	min-height:    37px;
	&:hover {
		background: @secondary;
	}
}

.main_bottom_area {
	padding: 60px 0;
}

/*************top_menu**************/
.top-right-menu, .top-left-menu {
	float:         right;
	margin-bottom: 0px;
	margin-left:   -10px;
	margin-right:  -10px;
	> li {
		display:      inline-block;
 		list-style:   none;
		border-right: 1px solid #eee;
		padding:      10px 0;
		&:last-child {
			border-right: none
		}
	}
	ul, ol {
		margin: 0px;
	}
}

.top-left-menu {
	float: left;
	> li {
		padding: 15px 10px;
	}
	p {
		margin-bottom: 0px;
	}
}

.sm-logo, .sm-logo-affix {
	.header_logo {
		margin: 0;
	}
}

.parallax_effect {
	position:              relative;
	background-attachment: fixed;
	background-position:   50% 0;
	background-color:      #eee;
}

.copyright_area {
	padding: 25px 0;
	p {
		margin-bottom: 0px;
	}
}

/********** social *************/
.deskpress_social_link {
	text-align:    right;
	margin-bottom: 0px;
	li {
		display: inline-block;
	}
	a {
		color:          @white;
		width:          32px;
		height:         32px;
		.rounded(50%);
		display:        inline-block;
		vertical-align: middle;
		text-align:     center;
		margin-left:    5px;
		i {
			line-height:  31px;
			margin-right: 0px !important;
			font-weight:  normal;
		}
		&.face {
			background: #4C66A4;
		}
		&.twitter {
			background: #2dbae7;
		}
		&.dribble {
			background: #EA4C89;
		}
		&.google {
			background: #3a3a3a;
		}
		&.linkedin {
			background: #90c9dc;
		}
		&.pinterest {
			background: #ff3635;
		}
		&.digg {
			background: #6b6c6a;
		}
		&.youtube {
			background: #fd3832;
		}

		&:hover {
			background: @primary;
			color:      @white;
		}
	}
}

// footer css
footer#colophon {
	.footer {
		padding: 35px 0 25px 0;
	}
	.deskpress_social_link{
		text-align: left;
		li {
			margin-left:  0px;
			margin-right: 7px;
			padding-left: 0px!important;
			margin-bottom: 7px;
			&:after{
				display: none
			}
		}
		a {
			color:      @white;
		}
	}
	.copyright_area .container {
		display: table;
		.copyright {
			display:        table-cell;
			vertical-align: middle;
		}
		.column_right {
			display:        table-cell;
			vertical-align: middle;
			text-align:     right;
			ul {
				margin-bottom: 0px;
			}
		}
	}
	.widget-title {
		margin: 5px 0 30px 0;
	}
	.footer_widget {
		ul {
			li {
				list-style: none;
				position: relative;
				padding-left: 12px;
				&:after {
					border-bottom: 4px solid transparent;
					border-left: 4px solid @text_footer_color;
					border-top: 4px solid transparent;
					border-right: 4px solid transparent;
					content: "";
					height: 0;
					position: absolute;
					left: 0;
					top: 50%;
					width: 0;
					margin-top: -4px;
				}
			}
		}
	}
	.mc4wp-form {
		display: inline-block;
		width:   100%;

	}
}
.border-top{
	border-top:  1px solid @color_border_bottom;
	padding-top: 30px;
	margin-top:  30px;
	 text-align: center;
}


/** Go to top **/
#topcontrol {
	position:   fixed;
	bottom:     20px;
	right:      20px;
	display:    block;
	width:      32px;
	height:     32px;
	background: @primary;
	color:      @white;
	text-align: center;
	z-index:    999;
	visibility: hidden;
	cursor:     pointer;
	.opacity(0);
	.rounded;
	.transition;
	&:hover {
		background: @black;
	}
	&.icon-up-open {
		visibility: visible;
		.opacity(1);
	}
	i {
		line-height: 32px;
	}
}

.main-bottom-right {
	float: left;
}

#mc4wp_email{
	background: #f2f2f2;
	height:     36px;
	.rounded(2px);
	float: left;
	padding:    0px 10px;
	line-height: 18px;
	width:      calc(~"100% - 121px");

}

 input [ type = "text" ] {
	height: 36px;
}

input[type="submit"], button[type="submit"] {
	color:       @white;
	height:      36px;
	line-height: 18px;
	//	width:       85px;
	text-align:  center;
	cursor:      pointer;
	background:  @primary;
	border:      none;
	padding:     0px 15px;
	margin-left: 3px;
	.transition;
	.rounded(2px);
	&:hover {
		background: @secondary;
	}
}
#newsletter-submit{
	width: 120px;
	padding: 0px;
	border-radius: 0 2px 2px 0;
	margin-left: 0px;
 }
#mc4wp_email{
	border-radius: 2px 0 0 2px;
}
select.topic-status {
	height: 36px;
}

button:focus, a:focus {
	box-shadow:         0 0 0 !important;
	-webkit-box-shadow: 0 0 0 !important;
	outline:            none !important
}

.form-control {
	-webkit-boxshadow: none;
	box-shadow:        none;
	border:            1px solid @border_color;
	&:focus {
		outline:           0;
		-webkit-boxshadow: none;
		box-shadow:        none;
		border:            1px solid @border_color;
	}
}

#data-search {
	&:hover, &:focus {
		background: #ddd;
		color: rgba(0, 0, 0, 0.7);
 	}
}

.deskpress-smartsearch, .ob-list-search {
	max-width:  780px;
	text-align: left;
	margin:     0 auto;
}

ul.ob-list-search {
	z-index:         999;
	overflow:        hidden;
	padding:         0px 20px;
	list-style:      none;
	position:        absolute;
	right:           0px;
	max-height:      300px;
	overflow-y:      auto;
	background:      @white !important;
	margin-top:      5px;
	left:            0px;
	.rounded;
	box-shadow:      0 2px 3px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
	-o-box-shadow:   0 2px 3px rgba(0, 0, 0, 0.05);
	-ms-box-shadow:  0 2px 3px rgba(0, 0, 0, 0.05);
	&::-webkit-scrollbar {
		width:  6px;
		height: 30px;
	}
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border-radius:      6px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius:      6px;
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	}

	li {
		list-style:  none;
		padding:     0px;
		line-height: 2em;
		&.ob-selected, &:hover {
			background: @primary;
			a span, a i {
				color: @white !important;
			}
		}
		a {
			display: block;
			padding: 0 20px 0px 10px;
			i {
				color:        @body_color !important;
				margin-right: 10px;
			}
			span {
				color: @body_color !important;
			}
		}
	}
	li:first-child {
		margin-top: 10px;
	}
	li:last-child {
		margin-bottom: 10px;
	}
}

.deskpress-smartsearch {
	position: relative;
	i.tp_livesearch {
		position:          absolute;
		top:               22px;
		left:              20px;
		font-size:         20px;
		animation:         bounceIn 750ms linear infinite alternate;
		-moz-animation:    bounceIn 750ms linear infinite alternate;
		-webkit-animation: bounceIn 750ms linear infinite alternate;
		-o-animation:      bounceIn 750ms linear infinite alternate;
		color:             @primary !important;
		padding-left:      1px;
		padding-right:     1px;
	}
	i.tp_livesearch.loading {
		-webkit-animation: fa-spin 2s infinite linear;
		animation:         fa-spin 2s infinite linear;
		color:             @primary !important;
		&:before {
			content: "\f110";
		}
	}
	> button.btn-primary,> a.btn-primary {
		position:      absolute;
		top:           0px;
		right:         0px;
		bottom:        0px;
		font-size:     100%;
		padding:       9px 25px;
		border-radius: 0px 2px 2px 0;
		border:        none;
		background:    @btn_search;
		color:         @white;
		font-weight:   bold;
		&:hover {
			background: @btn_search_hover;
		}
		&.fadeIn {
			opacity:            1;
			transition:         opacity .2s linear;
			-moz-transition:    opacity .2s linear;
			-webkit-transition: opacity .2s linear;
			-o-transition:      opacity .2s linear;
		}
		i.fa-send {
			display: none;
		}
	}
	> a.btn-primary{
		padding:       20px 25px;
	}
	#data-search {
		padding:     20px 10px 20px 50px;
		height:      auto;
		font-size:   1.1em;
		line-height: 1.3em;
		border:      none
	}
	.tooltip.top {
		margin-right: -40px;
		margin-top:   0px;
	}
}

//
.btn-primary {
	background:   @primary;
	color:        @white;
	border-color: @primary;
	&:hover {
		background:   @secondary;
		border-color: @secondary;
	}
}

.text-primary {
	color: @primary;
}

#collapseDrawer .text-primary {
	&:hover {
		color: @secondary;
	}
}

.btn {
	border-radius: 2px;
}

//
.sc_recent_topics, .kb-articles {
	li {
		margin-bottom: 10px;
		padding-left:  25px;
		list-style:    none;
		line-height:   25px;
		position:      relative;
		&:before {
			content:      "\f0e6";
			font:         normal normal normal 14px/1 FontAwesome;
			left:         0px;
			position:     absolute;
			top:          7px;
			padding-left: 1px;
		}
		.topic-author {
			display: block;
			color: #9b9a9a;
 		}
		small{
			margin-top: 5px;
			font-size: 0.8em;
		}
		small a {
			color: @black;
			&:hover {
				color: @primary;
			}
		}
	}
}

.kb-articles {
	li {
		&:before {
			content: "\f0f6";
		}
	}
}

.kb_category {
	margin: 10px -10px;
	li {
		display:    inline-block;
		list-style: none;
		margin:     10px;
		a {
			padding:    5px 15px;
			display:    inline-block;
			background: @primary;
			color:      @white;
			position:   relative;
			.rounded();
			span.count {
				position:           absolute;
				top:                0px;
				left:               50%;
				margin-left:        -10px;
				width:              20px;
				height:             20px;
				.rounded(50%);
				text-align:         center;
				background:         @primary;
				color:              @white;
				font-size:          11px;
				line-height:        20px;
				-webkit-transition: all 0.2s ease-out;
				-moz-transition:    all 0.2s ease-out;
				-o-transition:      all 0.2s ease-out;
				-ms-transition:     all 0.2s ease-out;
				opacity:            0;
			}
			&:hover {
				background: @secondary;
				span.count {
					top:        -14px;
					opacity:    1;
					background: @secondary;
				}
			}
		}
	}
}

// icon-box
#content, #main-content {
	h3.ib_title {
		&:before {
			left:        50%;
			margin-left: -1.25em;
		}
	}
}

 .ib_icon {
	i.fa-heart:before {
		animation:         bounceIn 750ms linear infinite alternate;
		-moz-animation:    bounceIn 750ms linear infinite alternate;
		-webkit-animation: bounceIn 750ms linear infinite alternate;
		-o-animation:      bounceIn 750ms linear infinite alternate;
	}
}

//autocomplete-list
.autocomplete-list {
	background: #fff !important;
	width:      828px;
	.rounded();
	li {
		padding:       0px 20px;
		margin-bottom: 10px;
		a {
			.transition();
			color: @black;
		}
		&.ob-selected {
			a {
				padding-left: 10px;
				color:        @primary;
				font-weight:  bold;
			}
		}
		&:first-child {
			padding-top: 20px;
		}
		&:last-child {
			padding-bottom: 20px;
		}
	}
}

.modal-header {
	.close {
		opacity:    0.7;
		margin-top: -10px;
		span {
			color: @black;
			&:hover {
				color: @primary;
			}
		}
	}
}

.modal-footer {
	.btn {
		padding: 6px 12px 4px 12px;
	}
	.btn.btn-default {
		background:   #dedede;
		border-color: #dedede;
		color:        @black;
		&:hover {
			opacity: 0.8;
		}
	}

	.btn.btn-primary {
		border-color: @primary;
		background:   @primary;
		&:hover {
			border-color: @secondary;
			background:   @secondary;
		}
	}
}

.box-content {
	background: @white;;
	border:     1px solid #ddd;
	padding:    0 20px;
	overflow:   hidden;
}

.recent-topics {
	padding:  0 20px;
	overflow: hidden;
}

.border-content {
	display: table;
	[class*="col-sm"] {
		position: relative;
		&:before {
			position:   absolute;
			top:        0px;
			right:      15px;
			left:       15px;
			bottom:     0px;
			background: @white;
			box-shadow: 0 0 4px rgba(0,0,0,0.15);
			content:    "";
			.rounded();
		}
	}
}

.icon_box.icon_top, .box-content {
	.rounded();
}

body.slider-bar-opened #page:before {
	background: rgba(0, 0, 0, 0.5);
	content:    "" !important;
	display:    inline-block !important;
	position:   absolute;
	top:        0;
	left:       0;
	right:      0;
	bottom:     0;
	z-index:    9999;
}

body.slider-bar-opened {
	overflow: hidden;
}

.slider-bar-opened #page {
	cursor: url("images/close.png"), progress;
}

// kb style
#widget_knowledge_base {
	padding-top: 0px;
}

.kb-article-list .entry-title {
	a {
		color: @black;
		&:hover {
			color: @primary;
		}
	}

}
ul.kb-article-list{
	margin-top: 10px;
}
.kb-content-title {
	margin-bottom: 15px;
	.kbtags {
		margin-left: 10px;
		a:hover {
			color: @black;
		}
	}
	&:after {
		content: "";
		clear:   both;
		display: table;
	}
	small {
		font-size:  55%;
		display:    block;
		margin-top: 10px;
	}
}

.kb-share {
	text-align: right;
	a {
		width:       20px;
		height:      20px;
		.rounded(50%);
		background:  #262626;
		display:     inline-block;
		text-align:  center;
		line-height: 20px;
		font-size:   10px;
		color:       @white;
		&:hover {
			background: @primary;
			color:      @white;
		}
	}
}

.content-kb {
	ul.kb-article-list {
		li {
			border-bottom: 1px solid #ddd;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0px;
				border-bottom: none;
			}
		}
	}
}

.copyright_widget {
	ul {
		li {
			list-style:  none;
			display:     inline-block;
 			margin-left: 10px;
			a {
				&:hover {
					color: @primary
				}
			}
		}
	}
}

.icon_box {
	position: relative;
	a:hover h3 {
		color: @primary !important;
	}
}

.avatar, #wpadminbar .avatar {
	.rounded(50%);
	overflow: hidden;
}

.tps-lighter {
	background: #ffff00;
}

ul.ob-list-search li.ob-selected, ul.ob-list-search li:hover {
	.tps-lighter {
		background: transparent;
		color:      @white !important;
	}
}

.widget.TPSSearch_class {
	padding-top: 10px
}

.entry-content ul {
	margin-left: 25px;
}
.entry-header h4{
	margin-bottom: 5px;
}
.entry-content ul.entry-meta {
	margin-left: 0px;
	font-size: 85%;
	li a{
		&:hover{
			color: @primary;
		}
	}
}

.blog-mas {
	margin: 15px -15px;
}

.content-post {
	&:after {
		content: "";
		display: table;
		clear:   both;
	}
}

.item_grid {
	width: 50%;
	float: left;
	.content-inner {
		margin:     15px;
		background: @white;
		box-shadow: 0 0 4px rgba(0,0,0,0.15);
		.rounded(2px);
		.entry-content {
			padding: 15px 20px 0px 20px;
		}
	}
}

.item_large {
	width: 100%;
}

.site-footer .footer {
 	.container {
		position: relative;
		&:before {
			content:    "";
			display:    inherit;
			left:       15px;
			right:      15px;
			border-top: 1px solid @color_border_bottom;
			position:   absolute;
			bottom:     -25px;
		}
	}
	a {
		&:hover {
			color: @text_footer_color_hover;
		}
	}
}

.top_site_main.faqs, .top_site_main.kb-breadcrumb {
	height:     100px;
	background: @primary;
	h2 {
		color:         @white;
		margin-bottom: 20px;
	}
}

.panel-default > .panel-heading {
	.rounded(2px 2px 0 0);
	background-color: #fefcfd;
	padding:          0px;
	.panel-title > a {
		display: block;
		padding: 10px 15px;
	}
}

.panel-group .panel {
	.rounded();
}

#knowledgebase-wrapper.faqs {
	padding-bottom: 25px;
	h2 {
		margin-bottom: 20px;
	}
	.panel-group {
		margin-bottom: 30px;
	}
}

// time zone support


.deskpress_forums {
	.TPSSearch_class {
		width:         69%;
		float:         left;
		padding-right: 15px;
		.deskpress-smartsearch, .trending-searches {
			max-width: inherit;
		}

	}
	.TPSTimeWork_class {
		width:        31%;
		float:        left;
		color:       @jumbotron_color_one;
		text-align:   left;
		padding-left: 15px;
		padding-top:  8px;
		.online, .offline {
			position: relative;
			font-size: 0.85em;
 			 &:before{
				 width: 1px;
				 background:   @white;
				 position: absolute;
				 top: 0;
				 left: -15px;
				 bottom: 0;
				 content: "";
			 }
		}
		#spt_local_time, #spt_our_time {
			color: @white;
			font-weight: bold;
		}
		.available, .not_available {
			background:    #50BEA4;
			color:         #fff;
			padding:       2px 8px;
			border-radius: 2px;
		}
		.not_available {
			background: #C74061;
		}
		.spt-clock {
			border-top:   1px solid  @white;
			margin-top:   5px;
  			 padding: 10px 0px 0 0px;
		}
		#spt_local_time {
			&:after {
				content: "/";
				display: inline-block;
				margin:  0 7px 0 15px;
			}
		}
	}
}

#bbpress-forums .bbp_keymaster .bbp-author-role,
#bbpress-forums .bbp_moderator .bbp-author-role {
 	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.trending-searches {
	text-align: left;
}

.trending-searches {
	text-align: left;
	max-width:  780px;
	margin:     0 auto;
}

/*Main bottom right*/
.mc4wp-form label {
	display:      inline-block;
	font-weight:  normal;
	margin-right: 10px;
	text-align:   left !important;
}

#mc4wp_email.newsletter-input {
	background-color: #454545;
	text-align:       left;
	width:            290px;
	height:           36px;
	line-height:      18px;
	margin:           0;
	padding:          3px 10px;
	border:           none;
	color:            #fff;
	.rounded(2px 0 0 2px);
	&:hover, :focus {
		background-color: #888;
	}
}

.newsletter-header {
	text-transform: uppercase;
	font-size:      15px;
}

.newsletter button {
	border:         1px solid transparent;
	font-size:      90%;
	height:         36px;
	letter-spacing: 1px;
	line-height:    36px;
	overflow:       hidden;
	padding:        0 18px;
	position:       relative;
	text-transform: uppercase;
	background:     #303030;
	color:          #fff;
	float:          right;
	margin-left:    0px;
	.rounded(0 2px 2px 0);
}

.newsletter button:hover {
	opacity:          1;
	background-color: #888;
}

.fa-envelope-o-sub {
	padding-right: 5px;
}

.top_contact {
	height:            200px;
	text-align:        center;
	background-repeat: no-repeat;
	background-size:   cover;
	position:          relative;
	&:before {
		content:    "";
		position:   absolute;
		top:        0;
		bottom:     0px;
		left:       0px;
		right:      0px;
		background: rgba(255, 255, 255, 0.5);
	}
	.entry-header {
		text-align: center;
		color:      #333;
	}
	h1.entry-title {
		position:       relative;
		margin-bottom:  30px;
		display:        inline-block;
		color:          #333;
		text-transform: uppercase;
		&:after {
			width:       20px;
			height:      3px;
			content:     "";
			display:     inline-block;
			position:    absolute;
			bottom:      -15px;
			background:  #333;
			left:        50%;
			margin-left: -10px;
		}

	}
}

.wpcf7-form {
	input, textarea {
		width:   100%;
		padding: 2px 10px;
	}
	textarea {
		height: 120px;
	}
	input[type="submit"] {
		width: auto;
	}
}



.breadcrumbs i.separator,.breadcrumb i.separator,.bbp-breadcrumb-sep{
	&:before {
		content:      "\f105";
		font:         normal normal normal 14px/1 FontAwesome;
		font-size:    14px;
		display:      inline-block;
		margin-left:  3px;
		margin-right: 3px;
	}
}
.bbp-breadcrumb-sep{
 	font-size: 0px;
}
.breadcrumb i.separator{
	margin-left:  5px;
	margin-right: 5px;
}
.site-content {
	padding-bottom: 30px;
}

.breadcrumb, .breadcrumbs, .bbp-breadcrumb,.woocommerce-page .woocommerce-breadcrumb {
	background-color: transparent;
	margin-bottom:    0px;
	padding-left:     0px;
	padding-top: 0px;
	margin-top:       20px;
	border-bottom: 1px solid #ddd;
	width: 100%;
	padding-bottom: 16px;
	border-radius: 0px;
	font-size: 14px;
	position: relative;
	&:after{
		content: "";
		height: 1px;
		width: 63px;
		border-bottom: 2px solid @primary;
		position: absolute;
 		bottom: -1.3px;
		left: 0;
	}
	a {
		color: @primary;
		&:hover {
			color: @body_color;
		}
	}
}
.widget-sidebar-area{
	h3.widget-title{
		border-bottom: 1px solid #ddd;
		&:before{
			bottom: -1.3px!important;
		}
	}
}
.bbp-breadcrumb {
	p {
		margin-bottom: 0px;
	}
}

.single-post{
	h1.entry-title {
		margin-bottom: 5px;
	}

	.entry-meta {
		margin-bottom: 25px;
 		li{
			font-size: 85%;
			a:hover{
				color: @anchor_text_hover_color;
			}
		}
	}
}

.bbp-topic-tools {
	.chosen-container {
		min-width: 140px;
	}
}

.content-kb figure {
	max-width: 100%;
}

.blog-content-home {
	article {
		border-bottom:  1px solid #ddd;
		padding-bottom: 20px;
		margin-bottom:  20px;
		.post-thumbnail {
			float:        left;
			margin-right: 20px;
		}

		.entry-meta {
			font-size: 90%;
			a:hover {
				color: @primary;
			}
		}

		&:after {
			content: "";
			clear:   both;
			display: table;
		}
	}

	article.sticky.hentry {
		padding:       20px 20px 10px 20px;
		background:    #f7f7f7;
		margin-bottom: 20px;
		border:        1px solid #ddd;
	}

}

.top_site_main {
	background: @top_site_main;
	color:      #fff;
}

.border-center {
	position: relative;
	overflow: hidden;
	&:before {
		position:   absolute;
		width:      1px;
		background: #ddd;
		left:       50%;
		top:        0px;
		bottom:     0px;
		content:    "";
		display:    inline-block;
	}
}

.bg_primary {
	background: @primary;
}

.white {
	color: @white
}

.fancybox-overlay {
	#login_form {
		label {
			font-weight: normal;
		}
	}
}

.dropdown_tps_category {
	position: relative;
}

.deskpress-smartsearch {
	.tooltip-inner {
		background:    #252525;
		border-radius: 2px;
	}
	.tooltip.top .tooltip-arrow {
		border-top-color: #252525;
	}
}

.fancybox-inner #login_form {
	min-width: 260px;
	padding:   0 15px;
}

.input_email{
	position: relative;
	i{
		position: absolute;
		top: 10px;
		left: 10px;
	}
	#mc4wp_email{
		padding-left: 30px;
	}
}
#newsletter-submit{
	i{
		display: none;
	}
}
.slider_sidebar{
	top: 0;
}
.admin-bar{
	.slider_sidebar{
		top: 32px;
	}
}

.bbpress{
	.entry-header h1{
		margin-bottom: 30px;
	}
}

@media only screen and (min-width: 768px) {
	.font-large{
		font-size: 25px;
		a.fitsc-button{
			font-size: 18px;
		}
	}
    .fitsc-button.fitsc-larger{
      padding: 7px 50px;
      width: 100%;
      float: none;
    }
	.border-content {
		[class*="col-sm"] {
			display: table-cell;
			float:   none;
		}
	}

	.header_v1 .header_logo {
		padding-top:    15px;
		padding-bottom: 15px;
	}
	.visible-mobile{
		display: none;
	}
}