@media (min-width: 768px) {
	.navbar-nav > li {
		display: inline-block;
 	}
	.header_v2 .navbar-nav > li {
		float: none;
	}
	.navigation {
		.row {
			position: relative;
		}
		nav {
			position: static;
		}
	}

	.navbar-nav > li.multicolumn [class*="submenu_columns"] .sub-menu {
		position: static !important;
		display: block !important;
		width: auto;
		border: none;
		box-shadow: 0 0 0;
		padding: 0px;
	}

	.navbar-nav a i.fa {
		margin-right: 5px;
	}

	.navbar-nav > li.multicolumn [class*="submenu_columns"] > li, .navbar-nav [class*="submenu_columns"] > aside {
		float: left;
	}

	.navbar-nav > li.multicolumn [class*="submenu_columns"] > aside {
		padding: 10px;
	}

	.submenu-widget {
		padding: 10px !important;
	}

	.navbar-nav .submenu_columns_2 > li, .navbar-nav .submenu_columns_2 > aside {
		width: 50%;
	}

	.navbar-nav .submenu_columns_3 > li, .navbar-nav .submenu_columns_3 > aside {
		width: 33.33333%;
	}

	.navbar-nav .submenu_columns_4 > li, .navbar-nav .submenu_columns_4 > aside {
		width: 25%;
	}

	.navbar-nav .submenu_columns_5 > li, .navbar-nav .submenu_columns_5 > aside {
		width: 20%;
	}

	.navbar-nav .dropdown_full_width {
		position: static;
	}

	.navbar-nav li.multicolumn .submenu_columns_1 {
		width: 233px;
	}

	.navbar-nav li.multicolumn .submenu_columns_1 li {
		width: 100%;
	}

	.navbar-nav li.multicolumn .submenu_columns_2 {
		width: 466px;
	}

	.navbar-nav li.multicolumn .submenu_columns_3 {
		width: 699px;
	}

	.navbar-nav li.multicolumn .submenu_columns_4 {
		width: 932px;
	}

	.navbar-nav li.multicolumn .submenu_columns_5 {
		width: 1170px;
	}

	.navbar-nav li.dropdown_full_width [class*="submenu_columns"].sub-menu {
		width: auto;
	}

	#main_menu .navbar-nav li.drop_to_center .submenu_columns_1 {
		left: -80px;
	}

	#main_menu .navbar-nav li.drop_to_center .submenu_columns_2 {
		left: -191px;
	}

	#main_menu .navbar-nav li.drop_to_center .submenu_columns_3 {
		left: -310px;
	}

	#main_menu .navbar-nav li.drop_to_center .submenu_columns_4 {
		left: -425px;
	}

	#main_menu .navbar-nav li.drop_to_center .submenu_columns_5 {
		left: -545px;
	}

	#main_menu .navbar-nav li.dropdown_full_width [class*="submenu_columns"] {
		left: 15px !important;
		right: 15px !important;
	}

	.navbar-nav > li > span.disable_link {
		padding: 18px 0;
		display: inline-block;
		margin-top: -1px;
		border-top: 1px solid transparent;
		text-transform: uppercase;
	}

	.navbar-nav > li > span:hover {
		background: transparent;
		color: #c44b42;
		border-color: #c44b42;
	}

	.navbar-nav [class*="submenu_columns"] aside {
		float: left;
		text-align: left;
	}

	#main_menu .widget_area aside ul li a,
	#main_menu .widget_area aside ul li span {
		padding: 10px 25px 10px 0;
	}

	#main_menu .widget_area .widget_recent_entries li {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	#main_menu .drop_to_right > .sub-menu {
		left: auto;
		right: 20px;
	}

	#main_menu .drop_to_center.standard > .sub-menu {
		left: 50%;
		margin-left: -130px;
	}

	.navbar-nav li.multicolumn > .sub-menu {
		background: #fff;
	}

	#main_menu .navbar-nav > li > .sub-menu {
		&.submenu-widget, &.multicolumn {
			> li {
				float: left;
				padding: 15px;
			}
		}
	}

	nav .navbar-collapse {
		padding-right: 0px;
		padding-left: 0px;
	}

	.navbar-nav {
		float: none;
	}

	li.sliderbar-menu-controller {
		float: right;
	}

	.thimpress_mega_menu {
		ul {
			> li {
				float: left;
				color: #999;
				padding-left: 12px;
				padding-right: 12px;
				position: relative;
				display: block;
				> a {
					padding: 20px 0 20px 0;
 					position: relative;
					display: block;
					&:focus, &:hover {
						color: #222 !important;
 					}
				}
			}
		}
	}

	/* Mega Menu */
	#main_menu {
		ul, ul ul, ul ul ul {
			margin: 0px;
			li {
				margin: 0px;
			}
		}
	}

	.nav > li > a:hover, .nav > li > a:focus {
		background: transparent;
	}

	#main_menu {
		li {
			.sub-menu {
				position: absolute;
				left: 15px;
				background: #fff;
				top: 97px;
				-moz-opacity: 0;
				-khtml-opacity: 0;
				-webkit-opacity: 0;
				opacity: 0;
				-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
				filter: alpha(opacity=0);
				visibility: hidden;
				visibility: visible\9;
				display: none\9;
				overflow: hidden;
				height: 0;
				z-index: -1;
				li {
					list-style: none;
					text-align: left;
					position: relative;
					a {
						color: #000;
					}
				}
			}
			&:hover {
				> .sub-menu {
					-moz-opacity: 1;
					-khtml-opacity: 1;
					-webkit-opacity: 1;
					opacity: 1;
					-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
					filter: alpha(opacity=100);
					visibility: visible;
					display: block\9;
					top: 73px;
					z-index: 9999;
					-webkit-transition: opacity 300ms linear 0s, max-height 500ms ease, visibility 200ms linear 0s, top 200ms linear 0s;
					-moz-transition: opacity 300ms linear 0s, max-height 500ms ease, visibility 200ms linear 0s, top 200ms linear 0s;
					transition: opacity 300ms linear 0s, max-height 500ms ease, visibility 200ms linear 0s, top 200ms linear 0s;
					height: auto;
					overflow: visible;
				}
			}
		}
		li.standard {
			.sub-menu {
				min-width: 260px;
				li {
					width: 100%;
				}
			}
		}
		li {
			.sub-menu .sub-menu {
				left:    100%;
				top:     50px;
				opacity: 0;
			}
			.sub-menu li:hover .sub-menu {
				opacity: 1;
				height:  auto;
				z-index: 999;
				top:     0px;
			}
		}

		li.multicolumn {

			.megacol {
				> li {
					padding: 10px;
					> a, > span {
						font-weight: bold;
						border-bottom: 1px solid #f2f2f2;
						color: #000;
						&:hover {
							background: transparent;
						}
					}
				}
				.sub-menu {
					height: auto;
					opacity: 1;
					visibility: visible;
					overflow: visible;
				}
			}
		}

	}

	#main_menu ul.navbar-nav > li.menu-item-has-children > ul.sub-menu {
		border-top: 3px solid #000000;
	}
	.affix #main_menu{
		li:hover > .sub-menu{
			top: auto;
		}
	}

	#main_menu li .sub-menu li {
		a, span.disable_link {
			padding: 10px 15px;
			display: block;
			&:hover {
				background: #f2f2f2;
				color: #000000;
			}
		}
	}

	#main_menu {
		.nav > li.standard > .sub-menu {
			> li {
				.sub-menu {
					border-top: 3px solid #000000;
				}
			}

		}
		.submenu-widget {
			ul.products {
				margin-top: 0px !important;
				margin-bottom: 0px !important;
			}
		}
	}

	#main_menu .nav > li .sub-menu, #main_menu .nav > li.multicolumn > .sub-menu, #main_menu .nav > li.widget_area > .sub-menu {
		box-shadow: 0px 2px 4px #ddd;
	}

	#main_menu .nav > li.multicolumn > .sub-menu .sub-menu, #main_menu .nav > li.widget_area > .sub-menu .sub-menu {
		box-shadow: 0 0 0;
	}

	#main_menu .nav:hover > li > a {
	}

	#main_menu .nav > li:hover a {
		-moz-opacity: 1;
		-khtml-opacity: 1;
		-webkit-opacity: 1;
		opacity: 1;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
		filter: alpha(opacity=100);
	}

	.border_top {
		#main_menu {
			.nav > li {
				> a {
					margin-top: -1px;
					border-top: 2px solid transparent;
				}
			}
		}
	}

	#main_menu {
		.nav > li {
			> a {
				position: relative;
 				&:after{
					height: 1px;
					position: absolute;
					left: 100%;
					right: 100%;
 					content: "";
					-webkit-transition: all 0.4s ease-out;
					-moz-transition: all 0.4s ease-out;
					-o-transition: all 0.4s ease-out;
					-ms-transition: all 0.4s ease-out;
  				}
				&:hover{
					color: @primary;
					&:after{
						background: @primary;
						right: 15px;
						left: 15px;
 					}
				}
 			}
			&.current-menu-item{
				> a {
					&:after{
						background: @primary;
						right: 15px;
						left: 15px;
					}
					color: @primary;
				}
			}
		}
	}
	.affix-top{
		#main_menu {
			.nav > li {
				> a {
					&:after {
						bottom: 25px;
					}
				}
			}
		}
	}
	.affix{
		#main_menu {
			.nav > li {
				> a {
					&:after {
						bottom: 0px;
					}
				}
			}
		}
	}

 }

@media only screen and (min-width: 768px) and (max-width: 1200px) {

	.navbar-nav li.multicolumn .submenu_columns_1 {
		width: 194px;
	}

	.navbar-nav li.multicolumn .submenu_columns_2 {
		width: 388px;
	}

	.navbar-nav li.multicolumn .submenu_columns_3 {
		width: 582px;
	}

	.navbar-nav li.multicolumn .submenu_columns_4 {
		width: 776px;
	}

	.navbar-nav li.multicolumn .submenu_columns_5 {
		width: 970px;
	}

	.navbar-nav li.dropdown_full_width [class*="submenu_columns"].sub-menu {
		width: 100%;
	}

	#main_menu .navbar-nav li.drop_to_center .submenu_columns_1 {
		left: -55px;
	}

	#main_menu .navbar-nav li.drop_to_center .submenu_columns_2 {
		left: -152px;
	}

	#main_menu .navbar-nav li.drop_to_center .submenu_columns_3 {
		left: -252px;
	}

	#main_menu .navbar-nav li.drop_to_center .submenu_columns_4 {
		left: -347px;
	}

	#main_menu .navbar-nav li.drop_to_center .submenu_columns_5 {
		left: -450px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
	.menu_v2 #main_menu .nav > li {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	#main_menu .navbar-nav li.drop_to_center .submenu_columns_2 {
		left: -157px;
	}
}