#content, #main-content,.slider_sidebar {
	h3.widget-title,.box-content h3, h3.ib_title,.recent-topics h3, #reply-title, h3.comments-title, #knowledgebase-wrapper h3,.title_style_1 h3,h3.tm-title {
		padding-bottom: 0.5em;
		color: @headings_color;
		position: relative;
		margin-bottom: 25px;
		&:before {
			content: "";
			height: 1px;
			width: 2.5em;
			border-bottom: 2px solid @primary;
			position: absolute;
			float: left;
			bottom: -2px;
		}
	}
}
.slider_sidebar{
	h3.widget-title {
		&:before {
			border-bottom: 2px solid @white;
		}
	}
}