/*********************single-product******************/
nav.woocommerce-breadcrumb {
	margin-bottom: 35px;
}

.main-product {
	.boxed_content {
		.content-site-main {
			background: transparent;
		}
	}
}

.pp_woocommerce {
	.ppt {
		display: none !important;
	}
}

.single-product .content-post {
	.type-product {
		margin-top: 15px;
	}
}

.star-rating {
	color:         #f9d34e;
	margin-top:    10px !important;
	margin-bottom: 10px !important;
}

.entry-summary {
	.product_title {
		margin-bottom:   15px;
		text-decoration: none !important;
	}

	p.price {
		font-size:   18px !important;
		font-weight: 600;
		color:       #000 !important;
		del {
			margin-right: 8px;
			font-size:    inherit !important;
			font-weight:  normal;
		}
		ins {
			text-decoration: none;
		}
		.amount {
			color: inherit !important;
		}
	}

	.woocommerce-product-rating {
		float:         left;
		width:         100%;
		margin-bottom: 15px;
		.woocommerce-review-link {
			margin-left: 15px;
			color:       #444;
			font-size:   85%;
		}
		.star-rating {
			color:      #f9d34e;
			margin-top: 10px;
		}
	}
	.product_meta {
		margin-top: 0px;
		color:      #9a9a9b;
		font-size:  85%;
		.sku_wrapper, .posted_in, .tagged_as {
			display: block;
		}
	}
	.description {
		padding-bottom: 15px;
	}
	form.cart {
		> label {
			float:       left;
			width:       45px;
			font-weight: 500;
			padding-top: 5px;
		}
		button {
			padding:        0 20px !important;
			text-transform: uppercase;
			text-align:     center;
			height:         38px;
			line-height:    38px;
			font-size:      12px;
		}
	}
	.variations_button {
		overflow:      hidden;
		margin-bottom: 25px;
		float:         right;
		margin-top:    25px;
		> label {
			float:       left;
			width:       45px;
			font-weight: 500;
			padding-top: 5px;
		}
	}
	.single_variation {
		margin-bottom: 15px;
		overflow:      hidden;
		margin-top:    25px;
		float:         left;
		span.price {
			font-size: 18px !important;

			del {
				margin-right: 10px;
				font-size:    inherit !important;
			}
			ins {
				font-size:       inherit !important;
				color:           #000 !important;
				font-weight:     600;
				text-decoration: none;
			}
		}
	}
	table.variations {
		border: none !important;
		td {
			border: none !important;
			label {
				color: #333;
			}
		}
		select {
			margin-bottom: 10px;
			padding:       4px 6px;
			border:        1px solid #ddd
		}
	}
}

.woocommerce-main-image.zoom {
	position: relative;
	.glass-wrapper {
		position:           absolute;
		right:              -70px;
		bottom:             10px;
		border-bottom:      70px solid #454544;
		border-left:        70px solid rgba(0, 0, 0, 0);
		height:             0;
		width:              0;
		-webkit-transition: opacity 0.35s, -webkit-transform 0.2s;
		transition:         opacity 0.35s, transform 0.2s;
		opacity:            0;
		i {
			font-size: 18px;
			font-size: 1.8rem;
			bottom:    -59px;
			color:     #fff;
			position:  absolute;
			right:     10px;
			z-index:   1;
		}
	}
	&:hover {
		.glass-wrapper {
			opacity: 1;
			right:   10px;
		}
	}
}

.woocommerce-page, .woocommerce {

	div.product {
		.woocommerce-tabs {
			ul.tabs li.active, .panel {
				background: transparent !important;
			}
			.comment-form-comment textarea {
				padding:    4px 6px;
				background: transparent;
			}
		}

		span.onsale {
			background:     @primary;
			line-height:    28px;
			margin:         0px 5px 0px 0px !important;
			padding:        0px 7px !important;
			border-radius:  0 !important;
			box-shadow:     none !important;
			text-transform: uppercase;
			text-shadow:    none !important;
			min-height:     0 !important;
			min-width:      0 !important;
			color:          #ffffff;
			display:        inline-block;
			z-index:        2;
			top:            -5px;
			left:           10px;
			&:after {
				border-color: @primary transparent transparent;
				border-style: solid;
				border-width: 5px 5px 0;
				bottom:       -5px;
				content:      "";
				height:       0;
				left:         40%;
				position:     absolute;
				width:        0;
			}
		}
		div.images {
			width:        370px !important;
			margin-right: 30px;
			#slider {
				ul.slides {
					li {
						background: #f7f7f7;
						text-align: center;
						overflow:   hidden;
						a {
							float: left
						}
						img {
							box-shadow: 0 0 0 !important;
							padding:    10px;
						}
					}
				}
			}
		}
		div.entry-summary {
			width: calc(~"100% - 400px") !important;
		}
		#carousel {
			margin-top: 5px;
			.slides {
				li {
					background:   #000;
					cursor:       pointer;
					max-width:    100px;
					&.flex-active-slide {
						img {
							opacity: 1;
						}
					}
					img {
						box-shadow: 0 0 0 !important;
						opacity:    0.7;
					}
					margin-right: 5px;
				}
			}
		}
	}
	table.shop_table.cart {
		border:        none;
		border-radius: 0;
		th, td {
			border: none;
		}
		td {
			border-bottom: 1px solid #DDD;
			padding:       20px 25px !important;
			.remover-cart i {
				margin-top: 6px;
			}
		}
		th {
			background:  #fff;
			padding:     20px 25px;
			font-weight: normal;
		}
		.product-quantity {
			.quantity {
				float:        left;
				margin-right: 10px !important;
			}
			label {
				display: none;
			}
			.remover-cart {
				font-size: 20px;
				color:     #333;
			}
		}
		td {
			padding: 15px;
		}

		.product-name {
			a {
				color: #666;
			}
		}
		#coupon_code {
			width:       120px !important;
			line-height: 18px !important;
			box-shadow:  0 0 0 !important;
		}
		.footer_table td {
			padding: 15px 0 !important;
			.button {
				padding: 9px 15px !important;
			}
		}
	}
	table.cart img {
		width: auto !important;
	}
	#content {
		div.product, .item-product {
			p.price, span.price {
				color:       @primary !important;
				font-weight: bold;
				del {
					font-weight: normal;
				}
			}
		}
	}
}

.shipping-calculator-form .button {
	padding: 9px 10px !important;
}

.woocommerce, .woocommerce-page {
	.cart-collaterals .cart_totals {
		table {
			border-radius: 0px;
			th {
				padding: 6px 15px;
				width:   35%;
			}
			td {
				padding: 6px 15px;
			}
		}
	}
}

.panel-group.toggle_desc {
	.panel + .panel {
		margin-top: 0px;
	}
	.panel-heading, .panel {
		border-radius: 0px;
		box-shadow:    0 0 0;
	}
	.panel {
		border:        none;
		border-bottom: 1px solid transparent;
	}
	.panel-heading {
		padding:        0px;
		text-transform: uppercase;
		.panel-title a {
			display:     inherit;
			padding:     10px 15px;
			background:  #A2A2A2;
			color:       #fff;
			font-weight: 600;
			&.collap_open {
				background: transparent;
				color:      #333;
			}
		}
	}

}

#reviews #comments, #review_form {
	h2, h3#reply-title {
		font-size:      24px !important;
		text-transform: none !important;
		margin-bottom:  25px;
	}
}

.woocommerce p.stars a {
	color: #f9d34e;
}

.comment-text .description {
	font-size: 14px;
}

/***************tab*********************/

.woocommerce-tabs .panel {
	border-radius: 0;
	box-shadow:    0 0 0;
	margin-bottom: 5px !important;
}

.woocommerce, .woocommerce-page {
	#content div.product {
		.woocommerce-tabs {
			ul.tabs:before {
				border: none;
			}
			ul.tabs {
				border-bottom: 1px solid #ddd;
				border-top:    1px solid #ddd;
				overflow:      visible;
				padding-left:  0px;
				li {
					box-shadow:    0 0 0;
					border-radius: 0;
					background:    transparent;
					position:      relative;
					border:        none;
					margin:        0;
					padding-left:  0;
					padding-right: 20px;
					a {
						padding:     15px 0;
						text-shadow: 0 0 0;
						font-weight: 500;
					}
					&:before, &.active:before, &:after, &.active:after {
						width:         0;
						height:        0;
						box-shadow:    0 0 0;
						border:        none;
						border-radius: 0
					}
					&.active, &:hover {
						a {
							color: @primary;
						}
					}
				}
			}
		}
	}
}

/*******************/

#review_form #respond .form-submit input#submit {
	padding:       8px 15px;
	border:        none;
	color:         #fff;
	background:    @primary;
	text-shadow:   0 0 0;
	border-radius: 2px;
	font-weight:   normal;
	&:hover {
		background: @black !important;
	}
}

.woocommerce, .woocommerce-page {
	.products .star-rating, .products .star-rating {
		margin: 0 auto;
	}
}

.zoom_images {
	z-index: 9999;
}

/***************product image hover******************/
.product-change-images {
	position:                    absolute;
	top:                         5px;
	left:                        0;
	bottom:                      0;
	right:                       0;
	opacity:                     0;
	filter:                      alpha(opacity=00);
	-webkit-transition:          all ease-in-out 0.3s;
	-moz-transition:             all ease-in-out 0.3s;
	-o-transition:               all ease-in-out 0.3s;
	transition:                  all ease-in-out 0.3s;
	-webkit-backface-visibility: hidden;
}

.product-hover:hover .product-change-images, .product-hover:hover {
	opacity: 1;
	filter:  alpha(opacity=100);
}

.product-hover:hover {
	cursor: pointer
}

/***************product image hover******************/
.product-hover a.link_hover {
	position: absolute;
	top:      0;
	left:     0;
	right:    0;
	bottom:   0
}

.product-hover .flip-wrapper .thumb.flip {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style:    preserve-3d;
	-ms-transform-style:     preserve-3d;
	transform-style:         preserve-3d;
	-webkit-transition:      -webkit-transform 0.3s linear;
	-moz-transition:         -moz-transform 0.3s linear;
	-ms-transition:          -moz-transform 0.3s linear;
	transition:              transform 0.3s linear;
}

.product-hover:hover .flip-wrapper .thumb.flip {
	-webkit-transform: rotateY(180deg);
	-moz-transform:    rotateY(180deg);
	-ms-transform:     rotateY(180deg);
	transform:         rotateY(180deg);
}

.product-hover .flip-wrapper .thumb.flip .face {
	display:                     block;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
	position:                    relative;
	z-index:                     1;
}

.product-hover .flip-wrapper .thumb.flip .face.back {
	display:           block;
	-webkit-transform: rotateY(180deg);
	-moz-transform:    rotateY(180deg);
	-ms-transform:     rotateY(180deg);
	transform:         rotateY(180deg);
	position:          absolute;
	top:               0px;
	left:              0px;
	right:             0px;
	z-index:           10;
}

.flip-wrapper, .flip-wrapper:hover {
	opacity:    1;
	filter:     alpha(opacity=100);
	background: transparent;
}

.woocommerce, .woocommerce-page {
	.woocommerce-error, .woocommerce-info, .woocommerce-message {
		-webkit-box-shadow: 0 0 0;
		box-shadow:         0 0 0;
		border-left:        1px solid #ddd;
		border-bottom:      1px solid #ddd;
		border-right:       1px solid #ddd;
		border-radius:      0 0 2px 2px;
		background:         transparent;
		&:before {
			line-height:                0 !important;
			padding-top:                0.7em;
			border-bottom-left-radius:  2px;
			border-bottom-right-radius: 2px;
		}
		.button {
			padding: 5px 15px !important;
		}
	}
	.button {
		font-weight: 600 !important;
		text-shadow: 0 0 0 !important;
		font-family: inherit !important;
		&:hover {
			background: #181818 !important;
		}
	}

}

.wpb_tab {
	.shortcode_headding {
		display: none;
	}
}

.woocommerce, .woocommerce-page {
	.woocommerce-info {
		border-radius: 0px !important;
	}
	#content {
		.quantity {
			width:        76px;
			position:     relative;
			overflow:     hidden;
			height:       38px;
			margin-right: 10px !important;
			input.qty {
				background:         #fff;
				border:             1px solid #d6d2d2;
				left:               19px;
				height:             100%;
				position:           absolute;
				width:              38px;
				line-height:        17px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing:    border-box;
				box-sizing:         border-box;
				float:              left;
				padding:            0;
				text-align:         center;
				-webkit-appearance: none;
				-moz-appearance:    textfield;
				border-radius:      0;
				box-shadow:         0 0 0;
				text-shadow:        0 0 0;
				font-family:        normal;
			}
			.plus, .minus {
				display:         block;
				padding:         0;
				margin:          0;
				position:        absolute;
				text-align:      center;
				vertical-align:  text-top;
				border:          1px solid #d6d2d2;
				background:      #fff;
				font-size:       14px;
				font-weight:     800;
				left:            0;
				bottom:          0;
				right:           0;
				top:             0;
				width:           20px;
				height:          100%;
				overflow:        visible;
				text-decoration: none;
				cursor:          pointer;
				line-height:     13px;
				border-radius:   0;
				box-shadow:      0 0 0;
				text-shadow:     0 0 0;
				&:hover {
					background: #fff;
				}
			}
			.plus {
				left: auto;
			}
		}
		.summary_content {
			.yith-wcwl-add-to-wishlist {
				float:      left;
				margin-top: 8px;
				.feedback {
					display: none;
				}
			}

			.yith-wcwl-add-to-wishlist .show a, a.compare {
				border:             1px solid #d6d2d2 !important;
				padding:            8px 8px 7px !important;
				-webkit-transition: all linear 0.3s;
				-moz-transition:    all linear 0.3s;
				transition:         all 0.3s;
				background:         #fff !important;
				color:              #333 !important;
				font-weight:        normal !important;

			}
			div.yith-wcwl-add-to-wishlist a:before {
				content:      "\f08a";
				font-family:  fontawesome;
				font-size:    15px;
				margin-right: 5px;
			}
			a.compare {
				float:        left;
				margin-right: 10px;
				padding:      10px 9px 10px !important;
				&:before {
					content:      "\f079";
					font-family:  fontawesome;
					font-size:    15px;
					margin-right: 5px;
				}
				&.added {
					&:before {
						position: static;
					}
				}
			}
		}

	}

	.products-slider {
		.shortcode_headding {
			display: block !important;
		}
	}
	.cart-collaterals {
		.shipping_calculator {
			float: left;
			h2 {
				font-size: 18px;
			}
			input, select {
				padding: 4px 10px;
				border:  1px solid #ddd
			}
		}
		.cart_totals {
			h2 {
				font-size: 18px;
			}
			td {
				color: @primary;
			}
			th {
				font-weight: 500;
			}
		}
	}
}

.checkout_coupon #coupon_code {
	padding: 9px 10px;
	border:  1px solid #ddd;
}

.shop_table {
	#coupon_code {
		padding: 8px 10px !important;
	}
}

#customer_details {
	input, select, textarea {
		padding:   6px 10px;
		border:    1px solid #ddd;
		font-size: 95%;
	}
	label {
		font-weight: 500;
	}
	h3 {
		font-size: 18px;
		position:  relative;

		#ship-to-different-address-checkbox {
			position: absolute;
			top:      0px;
			left:     0;
		}
		label {
			font-weight:   600;
			margin-top:    0px;
			margin-bottom: 0px;
		}
	}
	#ship-to-different-address {
		label {
			padding-left: 20px;
		}
		&:before {
			left: 20px;
		}
	}

}

#order_review .shop_table {
	border-right:  0px;
	border-radius: 0px;
	td, th {
		border-bottom: 0px;
	}
}

#payment {
	.payment_methods {
		padding: 1em 0 !important;
	}
	.place-order {
		padding-right: 0px !important;
		input#place_order {
			padding: 10px 15px;
		}
	}
}

.chosen-container {
	background: #fff;
 }

.chosen-container-single .chosen-single {
	line-height: 18px !important;
	height:      auto !important;
	div b {
		background-position: 0 7px !important;
	}
}

.chosen-container-active.chosen-with-drop .chosen-single, .chosen-container-single .chosen-single {
	border:        1px solid #dedede !important;
	padding:       8px 10px;
	background:    transparent !important;
	box-shadow:    0 0 0 !important
}

.woocommerce-checkout .form-row .chosen-container-single .chosen-search input {
	background: transparent !important;
}

.chosen-container.chosen-with-drop .chosen-drop {
	border:     1px solid #dedede !important;
	box-shadow: 0 0 0 !important
}

.woocommerce, .woocommerce-page {

	#customer_login {
		h2 {
			margin-top:     0px;
			text-transform: uppercase;
			font-size:      18px;
			font-weight:    600;
		}
	}
	form.login, form.register {
		border:        none;
		border-radius: 0;
		padding:       0px;
		margin:        10px 0;

		.form-row {
			margin-bottom: 20px;
			label {
				width: 210px;
				float: left;
			}
			input {
				padding:    8px 10px;
				border:     1px solid #ddd;
				background: #fff;
				width:      calc(~"100% - 210px");
			}
			input[type='submit'], input[type='checkbox'] {
				width: auto
			}
		}
	}
}

.woocommerce {
	.form-row {
		label {
			font-weight: normal;
		}
		input, textarea {
			padding:   6px 10px;
			border:    1px solid #ddd;
			font-size: 95%;
		}
		.button {
			padding: 10px 15px;
		}
	}
}

/***********************minicart**********************/

#masthead .top-header .product_list_widget a {
	color: #333;
}

.widget_shopping_cart,.widget_download_cart {
 	cursor:     pointer;
	text-align: right;
	font-size:  14px;
	.total {
		padding-top: 10px !important;
		span {
			padding-left: 10px;
			font-weight:  bold;
		}
	}
	.widget_shopping_cart_content,.widget_download_cart_content {
		text-align: left;
		position:   absolute;
		top:        auto;
		display:    none;
		right:      0;
		box-shadow: 0 0 4px #dddddd;
		width:      380px;
		background: #fff;
		padding:    20px;
		z-index:    999;
		overflow:   hidden;
		cursor:     auto;
		font-size:  14px;
		color:      #333;
 		.buttons {
			margin-top:    20px;
			margin-bottom: 0
		}
		a.button {
			border:      none;
			background:  #181818;
			color:       #fff !important;
			text-shadow: 0 0 0;
			padding:     10px 15px
		}
		.quantity {
			border: none
		}
		.icon_cart_empt {
			padding-top: 15px;
			display:     inline-block;
		}
	}

	.title-widget .cart-items-number:before {
		content:      "\f07a";
		font-family:  FontAwesome;
		margin-right: 8px
	}
	.title-widget {
		padding: 5px 15px;
	}
	.recenty_item {
		font-size: 14px;
		color:     #666;
		margin-top: 0px;
		margin-bottom: 20px;
	}
	.minicart_hover {
		display: inline-block;
		position: relative;
	}

	.main-header-cart {
		position: relative;
		z-index: 1000;
		padding:       5px 8px 4px 8px;
		background:    @primary;
		border-radius: 2px;
		#cart-items-number {
			color: @white;
		}
		&:hover {
			background: @secondary;
		}
	}
	#header-mini-cart {
 		span.icon_cart {
			color:        @white;
			margin-right: 5px;
		}
		.icon_cart_empty {
			padding-top: 15px;
			display:     inline-block;
		}
		li.empty{
			padding-top: 45px;
			text-align: center;
		}
	}
}

.widget_shopping_cart .widget_shopping_cart_content,.widget_download_cart .widget_download_cart_content{
	margin-top: -46px;
	right: -10px;
}

.woocommerce, .woocommerce-page {
	ul.cart_list, ul.product_list_widget {
		li {
			padding: 8px 0;
			a {
				font-weight: 600;
				color:       #212121;
			}
			span {
				color:       #666;
				font-weight: 300;
			}
			img {
				float:        left;
				margin-left:  0px;
				width:        80px;
				box-shadow:   0 0 0 0;
				margin-right: 10px;
			}

		}

	}
	ul.cart_list_product {
		max-height:    212px;
		overflow-y:    auto;
		margin-right:  -20px !important;
		margin-left:   -20px !important;;
		border-top:    1px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding:       10px 20px;
		&::-webkit-scrollbar {
			width: 6px;
		}
		&::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			border-radius:      6px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius:      6px;
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
		}

	}
	.archive-product-content, &.single-product {
		.breadcrumb {
			margin-bottom: 25px;
		}
	}
}


#masthead #header-mini-cart ul.product_list_widget li span, .ob-list-search.active li .ob_search_right p {
	opacity: 0.9;
}

.ob-list-search.active li .ob_search_right p span {
	color: inherit !important;
}

#masthead .ob-list-search.active li.ob-selected {
	opacity: 0.6;
}

.widget_shopping_cart_content {
	a.button {
		padding:        10px 15px !important;
		font-weight:    normal;
		text-transform: uppercase;
		font-size:      12px;
		background:     #888888 !important;
		font-weight:    normal !important;
		&.wc-forward {
			&:before {
				font-family:  FontAwesome;
				content:      "\f07a";
				margin-right: 8px;
			}
			&:hover {
				opacity: 0.6;
			}

		}
		&.checkout {
			opacity: 0.6;
			&:before {
				content: "\f08b" !important;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
	.total {
		border: none !important;
	}
	p.buttons {
		text-align: center;
	}
}

.icon_cart {
	&:before {
		font-family: FontAwesome;
		content:     "\f07a";
		font-size:   16px;
	}
}

//shortcode product
.wc-product {
	.shortcode_headding {
		margin-bottom: 30px;
	}
}

.products-slider .product-list > ul {
	overflow: hidden;
	li {
		width: 235px;
		float: left !important;
	}
}

.vc_span6 {
	.products-slider .product-list > ul {
		li {
			width: 193px;
		}
	}
}

.products-slider.related, .products-slider.upsells {
	.woocommerce_product_content {
		margin-top: 30px;
	}
	ul.products li.product {
		max-width: 235px !important;
	}
}

.col-sm-9 {
	.products-slider.related, .products-slider.upsells {
		ul.products li.product {
			max-width: 220px !important;
		}
	}
}

.woocommerce, .woocommerce-page {
	ul.products {
		margin: 0 -10px;
		li.product {
			float:          left;
			position:       relative;
			text-align:     center;
			.transition;
			margin:         0 0 20px 0;
			padding-bottom: 0px;
			padding:        0 10px;
			width:          25%;
			&:nth-child(4n+1) {
				clear: both;
			}
			span.onsale {
				background:     @secondary;
				line-height:    28px;
				margin:         0px 5px 0px 0px !important;
				padding:        0px 7px !important;
				border-radius:  0 !important;
				box-shadow:     none !important;
				text-transform: uppercase;
				text-shadow:    none !important;
				min-height:     0 !important;
				min-width:      0 !important;
				color:          #ffffff;
				display:        inline-block;
				z-index:        2;
				top:            -5px;
				right:          10px;
				&:after {
					border-color: @secondary transparent transparent;
					border-style: solid;
					border-width: 5px 5px 0;
					bottom:       -5px;
					content:      "";
					height:       0;
					left:         40%;
					position:     absolute;
					width:        0;
				}
			}
			.price {
				color: @primary;
			}
			.price del {
				font-size: 100%;
			}
			.review-link {
				color: #ccc;
			}
		}
	}
}

.main-product .content-site-main {
	padding-bottom: 0px;
}

.uppsell_related {
	margin-top: 30px;
}

.full_content {
	overflow: hidden;
	.fullwidth {
		padding-left:  0;
		padding-right: 0px;
	}
}

.checkout_coupon .form-row-last .button {
	padding: 10px 15px;
}

.woocommerce, .woocommerce-page {
	a.button, button.button, input.button, #respond input#submit, #content input.button {
		background: @primary !important;
		color:      @white;
		&:hover {
			background: @black !important;
		}
	}
}

.widget-sidebar-area .bbp-logged-in a.button.logout-link {
	padding-left: 10px;
}

/* paging */
.loop-pagination {
	text-align: center;
	display:    inline-block;
	width:      100%;
	li {
		display:    inline-block;
		list-style: none;
		.current {
			background: @primary;
		}
		.page-numbers {
			width:                 32px;
			height:                32px;
			-webkit-border-radius: 2px;
			-moz-border-radius:    2px;
			-ms-border-radius:     2px;
			-o-border-radius:      2px;
			border-radius:         2px;
			background:            @black;
			color:                 @white;
			text-align:            center;
			line-height:           32px;
			display:               inline-block;
			&:hover {
				background: @primary;
			}
		}
		.page-numbers.next, .page-numbers.prev {
			background: #cccccc;
			&:hover {
				background: @primary;
			}
		}
		.page-numbers.current {
			background: @primary;
		}
	}
}

.bbp-pagination-links {
	.current {
		background: @primary;
		border:     none!important;
	}
	.page-numbers {
 		width:                 32px;
		height:                32px;
		-webkit-border-radius: 2px;
		-moz-border-radius:    2px;
		-ms-border-radius:     2px;
		-o-border-radius:      2px;
		border-radius:         2px;
		background:            @black;
		color:                 @white;
		text-align:            center;
		line-height:           32px;
		display:               inline-block;
		border:                none;
		&:hover {
			background: @primary;
			border:     none;
		}
		&.next,&.prev{
			font-size: 0px;
			&:before{
				display: inline-block;
				font: normal normal normal 14px/1 FontAwesome;
				content: "\f178";
				margin-top: 9px;
			}
		}
		&.prev{
			&:before{
 				content: "\f177";
			}
		}
	}
	.page-numbers.next, .page-numbers.prev {
		background: #cccccc;
		&:hover {
			background: @primary;
		}
	}
	.page-numbers.current {
		background: @primary;
	}
}

.product-name {
	margin-bottom: 15px;
	a:hover {
		color: @primary !important;
	}
}

.orderby {
	padding: 5px 7px;
}

.box-function {
	position:           absolute;
	top:                100%;
	left:               0;
	width:              100%;
	text-align:         center;
	-moz-opacity:       0;
	-khtml-opacity:     0;
	-webkit-opacity:    0;
	opacity:            0;
	-ms-filter:         progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	filter:             alpha(opacity=0);
	visibility:         hidden;
	visibility:         visible \9;
	display:            none \9;
	z-index:            9;
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition:    all 0.2s ease-in-out 0s;
	-o-transition:      all 0.2s ease-in-out 0s;
	-ms-transition:     all 0.2s ease-in-out 0s;
	transition:         all 0.2s ease-in-out 0s;
	a {
		padding: 10px 15px !important;
	}
	.wc-forward {
		display: block;
	}
}

.product-hover {
	position: relative;
	&:hover {
		.box-function {
			top:        50%;
			opacity:    1;
			display:    block;
			visibility: visible;
		}
	}
}

#tab-reviews {
	#comments, #comments h2 {
		padding-top: 0px;
		margin-top:  0px;
	}
}

.woocommerce-cart {
	.entry-header {
		display: none;
	}
	.table_scoll {
		margin-top: 40px;
		.shop_table tr th {
			border-bottom: 1px solid #ddd;
		}
		.shop_table input {
			font-weight: normal !important;
		}
	}
}

.shop_table .product-name {
	font-size:   100%;
	font-weight: normal;
}

.cross-sells {
	width: 100% !important;
	ul.products li.product {
		max-width: 250px !important;
	}
	h2 {
		font-size: 18px;
	}
}

.woocommerce-billing-fields h3 {
	font-weight: bold;
}

.woocommerce-checkout {
	.entry-header {
		display: none;
	}
	.entry-content {
		margin-top: 25px;
	}
}

.woocommerce, .woocommerce-page {
	form.checkout_coupon, form.login, form.register {
		border-radius: 2px !important;
	}
}