@media (min-width: 1200px) {
	.nav > li .sub-menu {
		min-width: 200px;
	}

	.nav > li.multicolumn .sub-menu {
		min-width: inherit !important;
	}

	.container {
		width: 1200px;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
	.main_menu_container .nav > li > a {
		padding: 15px 20px;
	}

	#nav-search-link {
		padding-top: 10px;
	}

	.full_video .width50 {
		width: 70%;
	}

	.btn-sm {
		padding: 10px 30px;
	}

	ul.products li .item-product .product-hover a.button {
		width:       150px;
		height:      40px;
		line-height: 24px;
	}

	.nav > li .sub-menu {
		min-width: 160px;
	}

	.nav > li.multicolumn .sub-menu {
		min-width: inherit !important;
	}

	.main-header-search-form-input {
		margin-right: 150px;
	}

	.main_menu_container .nav > li > a {
		padding: 15px 10px;
	}

	.sliderbar-menu-controller > div {
		padding: 5px 13px;
		span {
			display: none;
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 990px) {

	.custom_html h2 {
		font-size: 30px;
	}

	.desc_slider .title_slider {
		font-size: 18px;
	}

	.desc_slider h2 {
		font-size:      45px !important;
		letter-spacing: 10px !important;
	}

	.btn-sm {
		padding: 8px 25px;
	}

	ul.products li .item-product .product-hover a.button {
		width:          120px;
		height:         40px;
		line-height:    40px;
		font-size:      12px;
		font-weight:    500;
		text-transform: none;
	}

	.content-product {
		&.col-sm-12 {
			ul.products li {
				width: 33.33% !important;
				&:nth-child(4n+1) {
					clear: none;
				}
				&:nth-child(3n+1) {
					clear: both;
				}
			}
		}
	}

	.blog-grid {
		.width25 {
			width: 33.33%;
			&:nth-child(4n+1) {
				clear: none;
			}
			&:nth-child(3n+1) {
				clear: both;
			}
		}
		.box-header h3 {
			font-size: 16px;
		}
	}

	.col-sm-9 {
		.width33 {
			width: 50%;
			&:nth-child(3n+1) {
				clear: none;
			}
			&:nth-child(2n+1) {
				clear: both;
			}
		}
	}

	.top_right {
		padding-right: 45px;
	}

	.top_site_main {
		height: 170px;
	}

	.nav > li .sub-menu {
		min-width: 200px;
	}

	.main-header-search-form-input {
		margin-right: 20px;
	}

	.woocommerce, .woocommerce-page {
		ul.products {
			margin: 0 -10px;
			li.product {
				float: left;
				width: 33.3%;
				&:nth-child(4n+1) {
					clear: none;
				}
				&:nth-child(3n+1) {
					clear: both;
				}
			}
		}
	}

	.sliderbar-menu-controller > div {
		padding: 5px 13px;
		span {
			display: none;
		}
	}

	.navbar_right {
		width:     auto !important;
		min-width: 90px;
	}

}

@media only screen and (min-width: 768px) {
	.affix-top .navbar-nav > li > a {
		line-height: 70px;
	}

	.menu-mobile {
		display: none;
	}
}

@media (max-width: 767px) {
	.custom_html h2 {
		font-size: 30px;
	}

	.desc_slider h2 {
		font-size: 50px !important;
	}

	.style1 {
		.boxes_content {
			float: none;
		}

	}

	.btn-sm {
		padding: 5px 20px;
	}

	.font-size-large {
		font-size: 16px;
	}

	.btn-right {
		float:          none;
		margin-top:     0px;
		margin-bottom:  10px !important;
		text-transform: lowercase;
	}

	.site-footer .copyright, .footer_menu_container {
		text-align: center;
	}

	.provide_left {
		&:after {
			display: none;
		}
	}

	.boxes_title {
		font-size: 20px;
	}

	.desc_slider .title_slider {
		font-size:      14px !important;
		line-height:    20px !important;
		letter-spacing: 2px !important;
	}

	.desc_slider h2 {
		font-size:      18px !important;
		letter-spacing: 6px !important;
	}

	.wapper_lists_our_team > ul > li, .colum_reponsive > .wpb_column {
		width:         50%;
		float:         left;
		margin-bottom: 25px;
		&:nth-child(2n+1) {
			clear: both;
		}
	}

	[class*="vc_custom"] {
		background-size: cover;
	}

	.counter-box .content-box-percentage {
		font-size:   40px;
		line-height: 40px;
	}

	.navbar-header .icon-bar {
		background-color: #000;
	}

	.main_menu_container .nav > li > a, .main_menu_container .nav > li > span {
		padding: 0 10px;
	}

	#main_menu_mobile li .sub-menu li a, #main_menu_mobile li .sub-menu li span {
		padding-left: 25px;
	}

	.site-header {
		.navbar-toggle {
			float:  left;
			margin: 15px 15px 15px 0px;
		}
		.navbar-nav {
			float:      left;
			width:      100%;
			margin:     0px !important;
			text-align: left;
		}
	}

	.site-header .sm-logo, .site-header .sm-logo-affix {
		margin-left: 60px;
	}

	.content-archive .blog-basic {
		.format-audio, .format-video {
			.post-formats-wrapper {
				max-width: 250px;
			}
		}
		.post-formats-wrapper {
			max-width:    250px;
			margin-right: 25px;
		}
		.box-header h3 {
			font-size:     18px;
			margin-bottom: 15px;
		}
		.read-more a {
			padding: 8px 20px;
		}
	}

	ul.products li .item-product .product-hover a.button {
		width:       150px;
		height:      44px;
		line-height: 44px;
	}

	.blog-grid {
		.width25, .width33 {
			width: 50%;
			&:nth-child(4n+1) {
				clear: none;
			}
			&:nth-child(3n+1) {
				clear: none;
			}
			&:nth-child(2n+1) {
				clear: none;
			}
		}
		.box-header h3 {
			font-size: 16px;
		}
	}

	.woocommerce-page div.product div.images, .woocommerce div.product div.images {
		width:        240px !important;
		margin-right: 20px;
	}

	.woocommerce-page div.product div.summary, .woocommerce div.product div.summary {
		width: calc(~"100% - 260px") !important;
	}

	#rt-drawer {
		display: none;
	}

	.header {
		position:           relative;
		top:                0px;
		left:               0px;
		-webkit-transition: all .7s ease-in-out;
		-moz-transition:    all .7s ease-in-out;
		-o-transition:      all .7s ease-in-out;
		-ms-transition:     all .7s ease-in-out;
		transition:         all .7s ease-in-out;

	}

	.navigation {
		padding: 5px 0;
	}

	.site-header .main_menu_container .nav > li.menu-item-has-children > a {
		padding-bottom: 3px;
	}

	#main_menu_mobile li .sub-menu {
		position:  static;
		padding:   0;
		display:   block;
		min-width: inherit;

	}

	#main_menu_mobile .sub-menu .sub-menu {
		display: block;
	}

	.layout1 .testimonials .avta {
		width:  80px;
		height: 80px;
	}

	.layout1 .testimonials .testimonial_des {
		width: calc(~"100% - 100px");
	}

	.site-header.affix {
		width:         100%;
		border-bottom: none;
		z-index:       9999;
		position:      fixed;
	}

	.top_site_main {
		height:  auto;
		padding: 10px 0;
	}

	.page-title-wrapper {
		.page-title-captions {
			width: 100%;
		}
		.breadcrumbs {
			display: none;
		}
	}

	.content-site-main {
		padding-top:    15px;
		padding-bottom: 20px;
	}

	.page-404-content {
		width: 550px
	}

	.right_404, .page-404-content {
		width: 100%
	}

	.menu-mobile, #page, .site-header {
		-webkit-transition: all .25s ease-out;
		-moz-transition:    all .25s ease-out;
		transition:         all .25s ease-out;
	}

	.menu-mobile .navbar-nav, #main_menu_mobile li .sub-menu {
		background: #222;
	}

	.menu-mobile-left.active, .site-header.active {
		left: 240px;
	}

	.menu-canvas {
		.navbar-nav {
			margin: 0px;
		}
	}

	#masthead .header {
		border: none;
		.top-right-menu, .top-left-menu {
			border: none;
			> li {
				border: none;
			}
		}
	}

	.main_menu_container .nav > li > a {
		color: #878787;
	}

	.menu-controller-mobile {
		width:        50px;
		float:        right;
		margin-right: 15px;
		margin-top:   18px;
	}

	.sliderbar-menu-controller > div {
		padding: 0px;
	}

	#main_menu_mobile li.standard .sub-menu {
		min-width: inherit;
	}

	#main_menu_mobile li .sub-menu li a, #main_menu_mobile li .sub-menu li span {
		color: #bababa
	}

	.navbar-nav li {
		border-top:  1px solid #303030;
		padding-top: 15px;
		margin-top:  15px;
	}

	.navbar-nav > li:first-child {
		border-top: none;
		margin-top: 0px;
	}

	.search-input-mobile {
		border:      none;
		background:  #303030 url("images/icon_search.png") no-repeat 95% 50%;
		color:       #bababa;
		margin-left: 10px;
		padding:     1px 10px;
		width:       calc(~"100% - 20px");
	}

	.navigation_v6, .navigation_v7 {
		.affix-top .sm-logo-affix {
			display: inline-block;
		}
		.sm-logo-v2 {
			display: none;
		}
	}

	.navigation_v6 .header {
		display: none;
	}

	.site-footer .copyright .column_right {
		text-align: center;
	}

	.mobile_logo {
		display:    block;
		width:      calc(~"100% - 130px");
		float:      left;
		text-align: center;
		height:     60px;
		.header_logo {
			margin: 0px 0;
			img {
				max-height: 100%;
				width:      auto;
			}

		}
	}

	.sm-logo, .sm-logo-affix, .wapper_logo {
		display: none;
	}

	#masthead .navigation nav {
		padding-right: 0px;
	}

	.header {
		border-bottom: none
	}

	&.admin-bar {
		.affix {
			top: 45px
		}
	}

	.main_menu_container.menu-canvas, .menu-mobile .navbar-nav {
		height: 100%;
		width:  100%;
	}

	.nav > li > a:hover, .nav > li > a:focus {
		background: transparent;
	}

	.main_menu_container {
		.nav > li {
			padding-left: 15px;
			> a, > span.disable_link {
				color: #a9a9a9 !important;
				&:hover {
					color: @white !important;
				}
			}
		}
		.navbar_right li.sliderbar-menu-controller > div {
			color: #a9a9a9 !important;
			&:hover {
				color: @white !important;
			}
		}
	}

	.navigation {
		nav {
			width: 100%;
		}
	}

	.box-content {
		margin-bottom: 20px;
	}

	.icon_box {
		margin-bottom: 60px;
	}

	.icon_box, .recent-topics {
		background: #fefcfd;
		border:     1px solid #ddd;
		padding:    0 20px;
	}

	.recent-topics {
		overflow: hidden;
	}

	.border-content [class*="col-sm"] {
		&:before {
			display: none;
		}
		&:last-child {
			.icon_box {
				margin-bottom: 0px;
			}
		}
	}

	.row-fullwidth.border-content {
		margin-bottom: 0px !important;
	}

	.row-fullwidth {
		display: block;
		width:   auto;
	}

	.copyright_area .column_right {
		display: none;
	}

	.sliderbar-menu-controller > div {
		background: transparent;
		color:      @black !important;
	}

	.woocommerce, .woocommerce-page {
		ul.products {
			margin: 0 -10px;
			li.product {
				float: left;
				width: 50%;
				&:nth-child(4n+1) {
					clear: none;
				}
				&:nth-child(2n+1) {
					clear: both;
				}
			}
		}
	}

	.border-center {
		&:before {
			display: none;
		}
		.col-md-6 > div {
			padding-left:  0px !important;
			padding-right: 0px !important;
		}
	}

	footer#colophon .copyright_area .container {
		.copyright, .column_right {
			display: inline-block;
		}
	}

	.pad-xs {
		text-align: center;
	}

	.fitsc-button.fitsc-larger {
		padding:    4px 30px;
		font-size:  90%;
		margin-top: 20px;
		float:      none;
	}

	.bg_primary {
		.container {
			padding-top:    30px !important;
			padding-bottom: 5px !important;
		}
	}
	 .kb-articles{
		 li:before{
			 margin-top: 2px;
		 }
	 }

	.deskpress_social_link {
		text-align: left;
	}

	.newsletter button {
		float:  left;
		margin: 15px 0;
	}

	.main_bottom_area {
		padding: 30px 0;
	}

	.deskpress_forums .TPSTimeWork_class {
		width:        100%;
		padding-left: 0px;
		border-top:   1px solid @white;
		margin-top:   15px;
		.online, .offline {
			&:before {
				display: none;
			}
		}
	}

	.deskpress_forums .TPSSearch_class {
		width:         100%;
		padding-right: 0px;
	}

	.alignleft, .alignright {
		float: none;
	}

	#masthead .header .trending-searches {
		line-height: inherit;
		margin-top:  15px;
	}

	.deskpress-smartsearch > button.btn-primary, .deskpress-smartsearch > a.btn-primary {
		padding: 24px 22px;
		top:     0px;
		right:   0px;
		i.fa-send {
			display: block;
		}
		span {
			display: none;
		}
	}

	.fancybox-opened {
		z-index: 9999;
	}

	.menu-opened {
		overflow: hidden;
		#page:before {
			background: rgba(0, 0, 0, 0.5);
			content:    "" !important;
			display:    inline-block !important;
			position:   absolute;
			top:        0;
			left:       0;
			right:      0;
			bottom:     0;
			z-index:    9999;
		}
		.site-header .navbar-toggle {
			z-index: 10000;
			.icon-bar {
				background-color: @white;
			}
		}
	}

	.sliderbar-menu-controller > div:hover {
		background: transparent;
	}

	.column_right .widget_nav_menu,.bbp-forum-topic-count,.bbp-forum-reply-count {
		display: none;
	}
	.visible-mobile{
		font-size: 11px;
 	}
}

@media (max-width: 600px) {
	.content-archive .blog-basic {
		.format-audio, .format-video {
			.post-formats-wrapper {
				max-width: inherit;
				.flexslider {
					margin: 0 auto;
				}
			}
		}

		.post-formats-wrapper {
			max-width:     inherit;
			width:         100%;
			margin-right:  0px;
			text-align:    center;
			margin-bottom: 20px;
		}
		.entry-content {
			float: left;
		}
	}

	.archived-posts li {
		width: 50%;
		&:last-child {
			display: none;
		}
	}

	.post-navigation .nav-links .nav-next {
		float:      left;
		margin-top: 20px;
	}

	.content-product {
		&.col-sm-9 {
			ul.products li {
				width: 50% !important;
				&:nth-child(3n+1) {
					clear: none;
				}
				&:nth-child(2n+1) {
					clear: both;
				}
			}
		}
		&.col-sm-12 {
			ul.products li {
				width: 50% !important;
				&:nth-child(4n+1) {
					clear: none;
				}
				&:nth-child(2n+1) {
					clear: both;
				}
			}
		}
	}

	.woocommerce-page, .woocommerce {
		div.product div.images {
			width:     100% !important;
			max-width: 375px;
			margin:    0 auto;
			float:     none !important;
		}
		div.product div.summary {
			width: 100% !important;
		}
	}

	#wpadminbar {
		position: fixed;
	}

	.layout1 .testimonials .avta {
		width:         100%;
		height:        auto;
		text-align:    center;
		margin-bottom: 15px;
	}

	.layout1 .testimonials .testimonial_des {
		width: 100%;
	}

	.layout1 .testimonials .avta .box-avta {
		border-radius: 0;
	}

	.right_404, .page-404-content {
		width: 100%
	}

	.wpb_content_element .wpb_tabs_nav li {
		padding-right: 20px !important;
	}

	#masthead .header {
		h1 {
			font-size: 2.0em;
		}
		.textwidget p, .trending-searches p {
			font-size: 18px;
		}
	}
}

@media (max-width: 480px) {
	.item_grid {
		width: 100%;
	}
}

@media (max-width: 380px) {
	.boxes_title {
		font-size: 18px;
	}

	.wapper_lists_our_team > ul > li, .colum_reponsive > .wpb_column {
		width:         100%;
		margin-bottom: 25px;
	}

	.archived-posts li {
		width: 100%;
		&:last-child {
			display: block;
		}
	}

	.content-product {
		&.col-sm-9, &.col-sm-12 {
			ul.products li {
				width: 100% !important;
			}
		}
	}

	ul.products li .item-product .product-hover a.button {
		width: 155px;
	}

	.content-product .top-category-product {
		padding-bottom: 10px;
		margin-bottom:  15px;
	}

	.blog-grid {
		.width25, .width33, .width50 {
			width: 100%;
			&:nth-child(4n+1) {
				clear: none;
			}
			&:nth-child(3n+1) {
				clear: none;
			}
			&:nth-child(2n+1) {
				clear: none;
			}
		}
		.box-header h3 {
			font-size: 16px;
		}
	}

	ul.products li .item-product .price {
		margin-bottom: 10px;
	}

	.wpb_content_element .wpb_tabs_nav li a {
		font-size: 14px !important;
	}

	.nav-tabs > li > a {
		padding: 10px;
	}

	.input_email {
		position: relative;
		i {
			display: none;
		}
		#mc4wp_email {
			padding-left: 10px;
		}
	}

	#newsletter-submit {
		padding: 0px 12px;
 		width:   42px;
		i {
			display: block;
		}
		span {
			display: none;
		}
	}

	#mc4wp_email {
		width: calc(~"100% - 42px");
	}
}